Repository Rxup/space-station-14, pull requests merged in 2024-06, with the labels that each got.

#639 лимит ящиков
  Resources/Prototypes/_Backmen/Entities/Structures/Storage/Box/boxs.yml
Labels: No C#

#640 Upd Rook
  Resources/Maps/Backmen/Grids/discoverer.yml
  Resources/Maps/Backmen/Shuttles/nt-bishop.yml
  Resources/Maps/Backmen/backmen_rook.yml
  Resources/Prototypes/_Backmen/Maps/rook.yml
Labels: No C#

#643 Upd Rook
  Resources/Maps/Backmen/Grids/ruin_science.yml
  Resources/Maps/Backmen/backmen_aspid.yml
  Resources/Maps/Backmen/backmen_rook.yml
  Resources/Prototypes/_Backmen/Maps/rook.yml
Labels: No C#

#645 Create RulesBackmen.xml
  Resources/ConfigPresets/Corvax/common.toml
  Resources/Prototypes/_Backmen/Guidebook/rules.yml
  Resources/ServerInfo/_Backmen/GuideBook/ServerRules/RulesBackmen.xml
Labels: No C#

#650 fix local and replace present to flatpack
  Resources/Locale/ru-RU/backmen/entities/supermatter.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/_Backmen/Entities/Supermatter/supermatter.yml
  Resources/Textures/Objects/Devices/flatpack.rsi/meta.json
  Resources/Textures/Objects/Devices/flatpack.rsi/oracle.png
  Resources/Textures/Objects/Devices/flatpack.rsi/sophie.png
  Resources/Textures/Objects/Devices/flatpack.rsi/supermatter.png
Labels: Changes: Sprites, No C#, Changes: Localization

#651 License update
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.Server/Antag/MobReplacementRuleSystem.cs
  LICENSE-AGPLv3.txt
  LICENSE-MIT.TXT
  README.md
  Resources/Prototypes/_Backmen/Guidebook/rules.yml
  Resources/ServerInfo/_Backmen/GuideBook/ServerRules/Cat1.xml
  Resources/ServerInfo/_Backmen/GuideBook/ServerRules/Cat2.xml
  Resources/ServerInfo/_Backmen/GuideBook/ServerRules/Cat3.xml
  Resources/ServerInfo/_Backmen/GuideBook/ServerRules/Cat4.xml
  Resources/ServerInfo/_Backmen/GuideBook/ServerRules/Cat5.xml
  Resources/ServerInfo/_Backmen/GuideBook/ServerRules/Cat6.xml
  Resources/ServerInfo/_Backmen/GuideBook/ServerRules/Cat7.xml
  Resources/ServerInfo/_Backmen/GuideBook/ServerRules/Cat8.xml
  Resources/ServerInfo/_Backmen/GuideBook/ServerRules/Cat9.xml
  Resources/ServerInfo/_Backmen/GuideBook/ServerRules/RulesBackmen.xml
Labels: No C#

#654 Add supermatter engine to Aspid
  Resources/Maps/Backmen/backmen_aspid.yml
Labels: No C#

#660 Fix aspid
  Resources/Maps/Backmen/backmen_aspid.yml
  Resources/Prototypes/_Backmen/Maps/backmen_aspid.yml
Labels: No C#

#657 Update nukieplanet.yml
  Resources/Maps/Nonstations/nukieplanet.yml
Labels: No C#

#663 Rxbzz loudaots
  Resources/Locale/ru-RU/backmen/entities/entites_loaduots.ftl
  Resources/Prototypes/_Backmen/Catalog/Fills/Backpacks/backpack.yml
  Resources/Prototypes/_Backmen/Catalog/Fills/Items/Belts/belts.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Misc/entities_lodauts.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Energy/hitscan.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/guns64.yml
  Resources/Prototypes/_Backmen/Roles/Fun/cburn.yml
Labels: No C#, Changes: Localization

#664 фикс "фикса" IZK
  Resources/Prototypes/Corvax/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: No C#

#665 Add Supermatter Guidebook
  Resources/Prototypes/Guidebook/engineering.yml
  Resources/Prototypes/_Backmen/Entities/Supermatter/supermatter.yml
  Resources/Prototypes/_Backmen/Guidebook/engineering.yml
  Resources/ServerInfo/_Backmen/GuideBook/Engineering/Supermatter.xml
Labels: No C#

#667 Ghost
  Content.Client/Backmen/Sponsors/SponsorsManager.cs
  Content.Server/Backmen/GhostTheme/GhostThemeSystem.cs
  Resources/Locale/en-US/backmen/sponsors/windowmanager.ftl
  Resources/Locale/ru-RU/backmen/sponsors/windowmanager.ftl
  Resources/Prototypes/_Backmen/ghostSponsor.yml
  Resources/Textures/Backmen/Mobs/Ghost/ghost_vip.rsi/animated_faceless.png
  Resources/Textures/Backmen/Mobs/Ghost/ghost_vip.rsi/animated_kaiju.png
  Resources/Textures/Backmen/Mobs/Ghost/ghost_vip.rsi/animated_star.png
  Resources/Textures/Backmen/Mobs/Ghost/ghost_vip.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

#661 Remove CentralCommand
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/ru-RU/backmen/reinforcement.ftl
  Resources/Maps/Misc/kosmoport.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Maps/centcomm.yml
  Resources/Prototypes/_Backmen/Entities/Structures/Machines/Computers/computers.yml
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/blank.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/id_overlay.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/insert_overlay.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/light_overlay.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/meta.json
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pai_overlay.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pai_overlay_off.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-atmos.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-bartender.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-captain.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-cargo.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-ce.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-chaplain.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-chemistry.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-clear.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-clown.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-cmo.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-cook.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-detective.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-engineer.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-genetics.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-hop.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-hos.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-hydro.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-janitor.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-lawyer.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-library.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-lieutenant.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-medical.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-mime.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-miner.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-neko.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-qm.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-r.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-rd.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-roboticist.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-science.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-security.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-syndi.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-virology.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda-warden.png
  Resources/Textures/Backmen/Objects/Devices/pda_modern.rsi/pda.png
Labels: Changes: Sprites, Changes: Map, No C#, Changes: Localization

#666 Update dart.yml
  Resources/Maps/Backmen/Shuttles/SpecForces/dart.yml
Labels: No C#
