Repository Rxup/space-station-14, pull requests merged in 2024-10, with the labels that each got.

#804 side fix plasma tank sprite
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
Labels: No C#

#802 [Tweak] Новые подсказки
  Resources/Locale/ru-RU/tips.ftl
  Resources/Prototypes/Datasets/tips.yml
Labels: No C#, Changes: Localization

#803 [Balance] Улучшение Психопата
  Resources/Prototypes/_Backmen/Entities/Mobs/Player/humanoids.yml
Labels: No C#

#807 [Tweak] [Translate] New Space Law
  Resources/Prototypes/Guidebook/rules.yml
  Resources/ServerInfo/_Backmen/Guidebook/ServerRules/SpaceLaw/SLCrimeListBackmen.xml
  Resources/ServerInfo/_Backmen/Guidebook/ServerRules/SpaceLaw/SpaceLawBackmen.xml
Labels: No C#

#809 Lathes Translator
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Backmen/Recipes/Lathes/language.yml
  Resources/Prototypes/_Backmen/Research/civilianservices.yml
Labels: No C#

#810 Fix's
  Content.Server/Backmen/Blob/BlobCarrierSystem.cs
  Content.Server/Backmen/Blob/BlobMobSystem.cs
  Content.Server/Backmen/Flesh/FleshCultistSystem.cs
  Content.Server/Backmen/Language/LanguageSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Corvax/TTS/TTSManager.cs
  Content.Server/Corvax/TTS/TTSSystem.cs
  Content.Server/Radio/EntitySystems/HeadsetSystem.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/Radio/RadioEvent.cs
  Content.Server/Speech/EntitySystems/ListeningSystem.cs
  Content.Server/Speech/ListenEvent.cs
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/backmen/language/commands.ftl
  Resources/Locale/ru-RU/backmen/language/language-menu.ftl
  Resources/Locale/ru-RU/backmen/language/languages.ftl
  Resources/Locale/ru-RU/backmen/language/technologies.ftl
  Resources/Locale/ru-RU/backmen/language/translator.ftl
  Resources/Locale/ru-RU/headset/headset-component.ftl
  Resources/Prototypes/Backmen/Entities/Objects/Devices/translators.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/GameRules/pests.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/flesh_cult.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/mutants.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/foxes.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Devices/translator_implants.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Misc/translator_implanters.yml
  Resources/Prototypes/_Backmen/Language/Fraction-specific/flesh.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/Dwarf.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/Elf.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/shadownkin.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/vulpkanin.yml
  Resources/Prototypes/_Backmen/Recipes/Lathes/language.yml
  Resources/Prototypes/_Backmen/Research/civilianservices.yml
Labels: No C#, Changes: Localization

#815 [Fix] Fix laydown fix blob
  Content.Client/Backmen/Standing/LayingDownSystem.cs
  Content.Server/Backmen/Blob/BlobCoreSystem.cs
  Content.Server/Backmen/GameTicking/Rules/BlobRuleSystem.cs
  Content.Server/Backmen/GameTicking/Rules/Components/BlobRuleComponent.cs
  Content.Server/Backmen/Standing/LayingDownSystem.cs
  Content.Shared/Backmen/Standing/SharedLayingDownSystem.cs
  Resources/Prototypes/Maps/debug.yml
Labels: Changes: Map

#813 [Fix] Шрифты
  Resources/Fonts/Blackcraft.ttf
  Resources/Fonts/BryndanWriteBook.ttf
  Resources/Fonts/JollyLodgerCyrillic.otf
  Resources/Fonts/Mangat.ttf
  Resources/Fonts/NeverSmile.otf
  Resources/Fonts/SliftedDisplay.otf
  Resources/Fonts/UnderdogRegular.ttf
  Resources/Prototypes/_Backmen/Language/Species-Specific/Dwarf.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/nekomimetic.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/shadownkin.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/vulpkanin.yml
  Resources/Prototypes/_Backmen/Language/Standard/freespeak.yml
  Resources/Prototypes/_Backmen/Language/Standard/solcommon.yml
  Resources/Prototypes/_Backmen/fonts.yml
Labels: No C#

#816 [Fix] Шрифт и Фикс
  Resources/Fonts/DualityRusByLyajka.otf
  Resources/Fonts/RubikBeastlyRegular.ttf
  Resources/Fonts/ZektonRg.ttf
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Backmen/Language/Fraction-specific/Simple/Spider.yml
  Resources/Prototypes/_Backmen/Language/Fraction-specific/silicon.yml
  Resources/Prototypes/_Backmen/Language/Standard/tradeband.yml
  Resources/Prototypes/_Backmen/fonts.yml
Labels: No C#

#819 [Feature] babelTower
  Content.Server/Backmen/GameTicking/Rules/BabelTowerRuleSystem.cs
  Content.Server/Backmen/GameTicking/Rules/Components/BabelTowerRuleComponent.cs
  Content.Server/Backmen/Language/LanguageSystem.cs
  Resources/Locale/ru-RU/backmen/game-ticking/game-presets/babelTower.ftl
  Resources/Prototypes/_Backmen/Entities/Objects/Devices/translators.yml
  Resources/Prototypes/_Backmen/GameRules/roundstart.yml
  Resources/Prototypes/_Backmen/game_presets.yml
Labels: Changes: Localization, Feature

#822 Отключение Шрифтов
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/headset/headset-component.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/headset/headset-component.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/_Backmen/Language/Fraction-specific/Simple/Spider.yml
  Resources/Prototypes/_Backmen/Language/Fraction-specific/silicon.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/Dwarf.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/diona.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/harpy.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/moth.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/nekomimetic.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/shadownkin.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/slimeperson.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/vulpkanin.yml
  Resources/Prototypes/_Backmen/Language/Standard/freespeak.yml
  Resources/Prototypes/_Backmen/Language/Standard/solcommon.yml
  Resources/Prototypes/_Backmen/Language/Standard/tradeband.yml
Labels: No C#, Changes: Localization

#826 [Refactor, Balance] Update psi
  Content.Client/Backmen/Abilities/MindSwapPowerSystem.cs
  Content.Client/Backmen/Abilities/Psionics/DispelPowerSystem.cs
  Content.Client/Backmen/Abilities/Psionics/NoosphericZapPowerSystem.cs
  Content.Client/Backmen/Abilities/Psionics/PsychokinesisPowerSystem.cs
  Content.Client/Backmen/Abilities/Psionics/PyrokinesisPowerSystem.cs
  Content.Client/Backmen/Psionics/PsionicAbilitiesSystem.cs
  Content.Server/Backmen/Abilities/Psionics/Abilities/DispelPowerSystem.cs
  Content.Server/Backmen/Abilities/Psionics/Abilities/MetapsionicPowerSystem.cs
  Content.Server/Backmen/Abilities/Psionics/Abilities/MindSwapPowerSystem.cs
  Content.Server/Backmen/Abilities/Psionics/Abilities/NoosphericZapPowerSystem.cs
  Content.Server/Backmen/Abilities/Psionics/Abilities/PsionicInvisibilityPowerSystem.cs
  Content.Server/Backmen/Abilities/Psionics/Abilities/PsionicRegenerationPowerSystem.cs
  Content.Server/Backmen/Abilities/Psionics/Abilities/PsychokinesisPowerSystem.cs
  Content.Server/Backmen/Abilities/Psionics/Abilities/PyrokinesisPowerSystem.cs
  Content.Server/Backmen/Abilities/Psionics/PsionicAbilitiesSystem.cs
  Content.Server/Backmen/Species/Shadowkin/Systems/ShadowkinPowerSystem.Teleport.cs
  Content.Server/Backmen/Species/Shadowkin/Systems/ShadowkinSystem.cs
  Content.Shared/Backmen/Abilities/Psionics/Abilities/Pyrokinesis/PyrokinesisPowerComponent.cs
  Content.Shared/Backmen/Abilities/Psionics/PsiActionComponent.cs
  Content.Shared/Backmen/Abilities/Psionics/PsionicInsulationComponent.cs
  Content.Shared/Backmen/Abilities/Psionics/SharedDispelPowerSystem.cs
  Content.Shared/Backmen/Abilities/Psionics/SharedMindSwapPowerSystem.cs
  Content.Shared/Backmen/Abilities/Psionics/SharedNoosphericZapPowerSystem.cs
  Content.Shared/Backmen/Abilities/Psionics/SharedPsionicAbilitiesSystem.cs
  Content.Shared/Backmen/Abilities/Psionics/SharedPsychokinesisPowerSystem.cs
  Content.Shared/Backmen/Abilities/Psionics/SharedPyrokinesisPowerSystem.cs
  Resources/Locale/ru-RU/backmen/abilities/psionic.ftl
  Resources/Prototypes/_Backmen/Actions/types.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Player/humanoids.yml
Labels: Changes: Localization

#828 events + fix dungeons
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Backmen/GameRules/events.yml
  Resources/Prototypes/_Backmen/GameRules/roundstart.yml
  Resources/Prototypes/_Backmen/Procedural/Shipwreck/dungeon_configs.yml
  Resources/Prototypes/_Backmen/Procedural/dungeon_presets.yml
Labels: No C#

#829 LayingDown fix
  Content.Client/Backmen/DiscordAuth/DiscordAuthGui.xaml
  Content.Client/Backmen/DiscordAuth/DiscordAuthGui.xaml.cs
  Content.Client/Backmen/DiscordAuth/DiscordAuthManager.cs
  Content.Client/Backmen/Standing/LayingDownSystem.cs
  Content.Client/Corvax/IClientDiscordAuthManager.cs
  Content.IntegrationTests/Tests/Buckle/BuckleTest.cs
  Content.Server/Backmen/DiscordAuth/DiscordAuthManager.cs
  Content.Server/Backmen/Immersive/ImmersiveComponent.cs
  Content.Server/Backmen/Immersive/Systems/ImmersiveSystem.cs
  Content.Server/Backmen/Standing/LayingDownSystem.cs
  Content.Shared/Backmen/CCVar/CCVars.cs
  Content.Shared/Backmen/DiscordAuth/MsgDiscordAuthByPass.cs
  Content.Shared/Backmen/Standing/SharedLayingDownSystem.cs
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/Standing/StandingStateComponent.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/Traits/Assorted/LegsParalyzedSystem.cs
  Resources/ConfigPresets/Backmen/main.toml
  Resources/Locale/ru-RU/backmen/discord-auth/discord-auth-state.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Changes: UI, Changes: Localization

#830 [Translate] Lore accurate languages FTLs
  Resources/Locale/ru-RU/backmen/language/languages.ftl
Labels: No C#, Changes: Localization

#831 AntagUpdate
  Content.Client/Backmen/DiscordAuth/DiscordAuthGui.xaml.cs
  Content.Client/Backmen/DiscordAuth/DiscordAuthManager.cs
  Content.Client/Backmen/Explosion/RMCExplosionShockWaveOverlay.cs
  Content.Client/Backmen/Lobby/HumanoidProfileEditor.cs
  Content.Client/CombatMode/CombatModeSystem.cs
  Content.Client/Corvax/IClientDiscordAuthManager.cs
  Content.Client/Corvax/TTS/HumanoidProfileEditor.TTS.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Content.Server/Administration/Managers/IBanManager.cs
  Content.Server/Backmen/Administration/Commands/AntagRoleBanCommand.cs
  Content.Server/Backmen/Administration/Managers/BanManager.cs
  Content.Server/Backmen/Antag/SuperPsi/AutoPsiSystem.cs
  Content.Server/Backmen/DiscordAuth/DiscordAuthManager.cs
  Content.Server/Backmen/Players/DiscordJobWhitelist.cs
  Content.Server/Corvax/IServerDiscordAuthManager.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingSystem.cs
  Content.Shared/Backmen/CCVar/CCVars.cs
  Content.Shared/CombatMode/CombatModeComponent.cs
  Content.Shared/CombatMode/SharedCombatModeSystem.cs
  Content.Shared/Corvax/ISharedDiscordAuthManager.cs
  Content.Shared/Roles/AntagPrototype.cs
  Content.Shared/Roles/JobPrototype.cs
  Resources/ConfigPresets/Backmen/main.toml
  Resources/Locale/ru-RU/backmen/discord-auth/discord-auth-state.ftl
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/Roles/Antags/revolutionary.yml
  Resources/Prototypes/Roles/Antags/thief.yml
  Resources/Prototypes/Roles/Antags/traitor.yml
  Resources/Prototypes/Roles/Antags/zombie.yml
  Resources/Prototypes/_Backmen/GameRules/roundstart.yml
  Resources/Prototypes/_Backmen/Roles/Antags/blob.yml
  Resources/Prototypes/_Backmen/Roles/Antags/changeling.yml
  Resources/Prototypes/_Backmen/Roles/Antags/fleshcultist.yml
  Resources/Prototypes/_Backmen/Roles/Antags/vampire.yml
  Resources/Prototypes/game_presets.yml
Labels: Changes: UI, Changes: Localization

#835 [Map] Update Kettle
  Resources/Maps/Backmen/backmen_kettle.yml
Labels: Changes: Map, No C#

#836 [Fix] Фикс языков для силиконов
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/mmi.yml
  Resources/Prototypes/_Backmen/ShipVsShip/computer.yml
Labels: No C#

#833 [Tweak] Специальные Операции
  Resources/Audio/Backmen/Misc/explosion_large1.ogg
  Resources/Audio/Backmen/Misc/explosion_large2.ogg
  Resources/Audio/Backmen/Misc/explosion_large3.ogg
  Resources/Audio/Backmen/Misc/explosion_large4.ogg
  Resources/Audio/Backmen/Misc/explosion_large5.ogg
  Resources/Audio/Backmen/Misc/explosion_large6.ogg
  Resources/Audio/Backmen/Misc/mortar_long_whistle.ogg
  Resources/Locale/ru-RU/backmen/entities/entites_loaduots.ftl
  Resources/Locale/ru-RU/backmen/job/job-description.ftl
  Resources/Locale/ru-RU/backmen/job/job-names.ftl
  Resources/Locale/ru-RU/backmen/job/job-supervisors.ftl
  Resources/Prototypes/Roles/Jobs/CentComm/deathsquad.yml
  Resources/Prototypes/Roles/Jobs/CentComm/emergencyresponseteam.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_Backmen/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_Backmen/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_Backmen/Catalog/Fills/Lockers/supplypods.yml
  Resources/Prototypes/_Backmen/Catalog/Fills/Wallmounts/shotgun_cabinet.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/ERT_Alpha.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/ERT_Epsilon.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/ERT_Tay.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/cburn.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/centcom.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/special_force.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Devices/radio.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Misc/entities_lodauts.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Misc/identification_cards_alt.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_Backmen/Entities/Structures/Storage/Droppods/base.yml
  Resources/Prototypes/_Backmen/Roles/Fun/CentCom.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/blueshield.yml
  Resources/Prototypes/_Backmen/Roles/play_time_trackers.yml
  Resources/Prototypes/_Backmen/SoundCollections/explosion.yml
  Resources/Textures/Backmen/Structures/Storage/supplypod.rsi/meta.json
  Resources/Textures/Backmen/Structures/Storage/supplypod.rsi/supplypod.png
  Resources/Textures/Backmen/Structures/Storage/supplypod.rsi/supplypod_door.png
  Resources/Textures/Backmen/Structures/Storage/supplypod.rsi/supplypod_falling.png
  Resources/Textures/Backmen/Structures/Storage/supplypod.rsi/supplypod_open.png
  Resources/migration.yml
Labels: Changes: Sprites, No C#, Changes: Localization

#841 [Map] Shoukou upd
  Resources/Maps/Backmen/backmen_shoukou.yml
  Resources/Prototypes/_Backmen/Maps/backmen_hive.yml
  Resources/Prototypes/_Backmen/Maps/backmen_rook.yml
  Resources/Prototypes/_Backmen/Maps/backmen_shoukou.yml
  Resources/Prototypes/_Backmen/Maps/backmen_tortuga.yml
Labels: Changes: Map, No C#

#840 [Feature] Artaaaaa!
  Resources/Locale/ru-RU/_backmen/datasets/localizedDataset.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Backmen/Catalog/Fills/Backpacks/backpack.yml
  Resources/Prototypes/_Backmen/Catalog/Fills/Lockers/supplypods.yml
  Resources/Prototypes/_Backmen/Catalog/uplink_nomad.yml
  Resources/Prototypes/_Backmen/Datasets/localizedDatasets.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/OuterClothing/coat.yml
  Resources/Prototypes/_Backmen/Entities/Effects/admin_triggers.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Devices/radio.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Pistols/Pistols.yml
  Resources/Prototypes/_Backmen/Entities/Structures/Storage/Droppods/base.yml
  Resources/Prototypes/_Backmen/Roles/Fun/ERT_Alpha.yml
  Resources/Prototypes/_Backmen/Roles/Fun/SpecialForce.yml
  Resources/Prototypes/_Backmen/Roles/Fun/cburn.yml
  Resources/Textures/Backmen/Effects/droppod_falling.rsi/meta.json
  Resources/Textures/Backmen/Effects/droppod_falling.rsi/missile_falling_animation.png
  Resources/Textures/Backmen/Effects/droppod_falling.rsi/supplypod_falling_animation.png
  Resources/Textures/Backmen/Effects/droppod_falling.rsi/syndiepod_falling_animation.png
  Resources/Textures/Backmen/Objects/Misc/marker.rsi/marker.png
  Resources/Textures/Backmen/Objects/Misc/marker.rsi/meta.json
  Resources/Textures/Backmen/Structures/Storage/supplypod.rsi/meta.json
  Resources/Textures/Backmen/Structures/Storage/supplypod.rsi/missilepod.png
  Resources/Textures/Backmen/Structures/Storage/supplypod.rsi/missilepod_door.png
  Resources/Textures/Backmen/Structures/Storage/supplypod.rsi/missilepod_falling.png
  Resources/Textures/Backmen/Structures/Storage/supplypod.rsi/missilepod_open.png
  Resources/Textures/Backmen/Structures/Storage/supplypod.rsi/syndicate.png
  Resources/Textures/Backmen/Structures/Storage/supplypod.rsi/syndiepod.png
  Resources/Textures/Backmen/Structures/Storage/supplypod.rsi/syndiepod_door.png
  Resources/Textures/Backmen/Structures/Storage/supplypod.rsi/syndiepod_falling.png
  Resources/Textures/Backmen/Structures/Storage/supplypod.rsi/syndiepod_open.png
Labels: Changes: Sprites, No C#, Changes: Localization

#842 [FIX] Некоторые роли не получают аварийные наборы
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: No C#

#845 [Port] Energy shield
  Content.Server/Backmen/EnergyDome/EnergyDomeGeneratorComponent.cs
  Content.Server/Backmen/EnergyDome/EnergyDomeSystem.cs
  Content.Server/Power/EntitySystems/BatterySystem.cs
  Content.Shared/Backmen/EnergyDome/SharedEnergyDomeComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Resources/Audio/Backmen/Effects/energyshield_ambient.ogg
  Resources/Audio/Backmen/Effects/energyshield_down.ogg
  Resources/Audio/Backmen/Effects/energyshield_parry.ogg
  Resources/Audio/Backmen/Effects/energyshield_up.ogg
  Resources/Locale/ru-RU/_backmen/Entities/Objects/tools/energydome.ftl
  Resources/Locale/ru-RU/_backmen/energydome/energydome.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Backmen/Actions/types.yml
  Resources/Prototypes/_Backmen/Catalog/uplink_nomad.yml
  Resources/Prototypes/_Backmen/Damage/modifier_sets.yml
  Resources/Prototypes/_Backmen/Entities/Effects/dome.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Tools/energydome.yml
  Resources/Prototypes/_Backmen/Recipes/Lathes/security.yml
  Resources/Prototypes/_Backmen/Research/arsenal.yml
  Resources/Prototypes/_Backmen/tags.yml
  Resources/Textures/Backmen/Effects/EnergyDome/energydome_big.rsi/big.png
  Resources/Textures/Backmen/Effects/EnergyDome/energydome_big.rsi/meta.json
  Resources/Textures/Backmen/Effects/EnergyDome/energydome_directed.rsi/meta.json
  Resources/Textures/Backmen/Effects/EnergyDome/energydome_directed.rsi/small.png
  Resources/Textures/Backmen/Effects/EnergyDome/energydome_medium.rsi/medium.png
  Resources/Textures/Backmen/Effects/EnergyDome/energydome_medium.rsi/meta.json
  Resources/Textures/Backmen/Effects/EnergyDome/energydome_slowdown_big.rsi/big.png
  Resources/Textures/Backmen/Effects/EnergyDome/energydome_slowdown_big.rsi/meta.json
  Resources/Textures/Backmen/Effects/EnergyDome/energydome_small.rsi/meta.json
  Resources/Textures/Backmen/Effects/EnergyDome/energydome_small.rsi/small.png
  Resources/Textures/Backmen/Objects/Tools/EnergyDome/reinhardt.rsi/icon.png
  Resources/Textures/Backmen/Objects/Tools/EnergyDome/reinhardt.rsi/inhand-left.png
  Resources/Textures/Backmen/Objects/Tools/EnergyDome/reinhardt.rsi/inhand-right.png
  Resources/Textures/Backmen/Objects/Tools/EnergyDome/reinhardt.rsi/meta.json
  Resources/Textures/Backmen/Objects/Tools/EnergyDome/syndie.rsi/equipped-BELT.png
  Resources/Textures/Backmen/Objects/Tools/EnergyDome/syndie.rsi/icon.png
  Resources/Textures/Backmen/Objects/Tools/EnergyDome/syndie.rsi/inhand-left.png
  Resources/Textures/Backmen/Objects/Tools/EnergyDome/syndie.rsi/inhand-right.png
  Resources/Textures/Backmen/Objects/Tools/EnergyDome/syndie.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

#847 [BALANCE] Barrier in the elite spacesuit has been removed.
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: No C#

#839 Мини-фиксы Локализации
  Resources/Locale/ru-RU/backmen/abilities/vampire.ftl
  Resources/Locale/ru-RU/backmen/blob/blob.ftl
  Resources/Locale/ru-RU/backmen/economy/eftpos.ftl
  Resources/Locale/ru-RU/backmen/emote.ftl
  Resources/Locale/ru-RU/backmen/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/backmen/game-ticking/game-presets/barge-vs-barge.ftl
  Resources/Locale/ru-RU/backmen/job/nyano-desc.ftl
  Resources/Locale/ru-RU/backmen/loadout.ftl
  Resources/Locale/ru-RU/backmen/preset-shipwrecked.ftl
  Resources/Locale/ru-RU/backmen/reagents/psionic.ftl
  Resources/Locale/ru-RU/backmen/reagents/toxins.ftl
  Resources/Locale/ru-RU/backmen/soul/golem.ftl
  Resources/Locale/ru-RU/backmen/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/backmen/store/vampire.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/clothing/eyes/glasses.ftl
  Resources/Locale/ru-RU/store/categories.ftl
  Resources/Locale/ru-RU/store/changeling-catalog.ftl
  Resources/Locale/ru-RU/tips.ftl
Labels: No C#, Changes: Localization

#846 [Fix] Язык для Кристаллов душ и Големов
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/golem.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Misc/soul_stones.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Specific/Research/crystals.yml
Labels: No C#

#852 Блоб фиксы
  Content.Client/Backmen/Blob/ZombieBlobSystem.cs
  Content.Server/Backmen/Blob/BlobMobSystem.cs
  Content.Server/Backmen/Blob/BlobObserverMover.cs
  Content.Server/Backmen/Blob/BlobObserverSystem.cs
  Content.Server/Backmen/Blob/Components/BlobSpeakComponent.cs
  Content.Server/Backmen/Blob/ZombieBlobSystem.cs
  Content.Server/Backmen/Changeling/ChangelingSystem.Abilities.cs
  Content.Shared/Backmen/Blob/Components/BlobObserverComponent.cs
  Content.Shared/Backmen/Blob/Components/BlobSpeakComponent.cs
  Content.Shared/Backmen/Blob/Components/ZombieBlobComponent.cs
  Content.Shared/Backmen/Blob/SharedBlobMobSystem.cs
  Content.Shared/Backmen/Blob/SharedBlobObserverSystem.cs
  Content.Shared/Backmen/Blob/SharedZombieBlobSystem.cs
  Resources/Locale/ru-RU/backmen/Roles/Jobs/CentCom/centcom_official.ftl
  Resources/Locale/ru-RU/backmen/blob/blob.ftl
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/blob/blob_mobs.yml
Labels: Changes: Localization

#854 maprender uploader
  Tools/backmen/maprender/maprender.js
  Tools/backmen/maprender/package-lock.json
  Tools/backmen/maprender/package.json
Labels: No C#

#856 [Tweak] New Tips
  Resources/Locale/ru-RU/tips.ftl
  Resources/Prototypes/Datasets/tips.yml
Labels: No C#, Changes: Localization

#859 [Feature] - Sofa's
  Resources/Prototypes/_Backmen/Entities/Structures/Furniture/benches.yml
  Resources/Textures/Backmen/Structures/Benches/parkbench_bamboo.rsi/left.png
  Resources/Textures/Backmen/Structures/Benches/parkbench_bamboo.rsi/meta.json
  Resources/Textures/Backmen/Structures/Benches/parkbench_bamboo.rsi/middle.png
  Resources/Textures/Backmen/Structures/Benches/parkbench_bamboo.rsi/right.png
  Resources/Textures/Backmen/Structures/Benches/parkbench_wooden.rsi/left.png
  Resources/Textures/Backmen/Structures/Benches/parkbench_wooden.rsi/meta.json
  Resources/Textures/Backmen/Structures/Benches/parkbench_wooden.rsi/middle.png
  Resources/Textures/Backmen/Structures/Benches/parkbench_wooden.rsi/right.png
  Resources/Textures/Backmen/Structures/Benches/pews.rsi/arm_left.png
  Resources/Textures/Backmen/Structures/Benches/pews.rsi/arm_right.png
  Resources/Textures/Backmen/Structures/Benches/pews.rsi/left.png
  Resources/Textures/Backmen/Structures/Benches/pews.rsi/meta.json
  Resources/Textures/Backmen/Structures/Benches/pews.rsi/middle.png
  Resources/Textures/Backmen/Structures/Benches/pews.rsi/right.png
  Resources/Textures/Backmen/Structures/Benches/sofa.rsi/arm_left.png
  Resources/Textures/Backmen/Structures/Benches/sofa.rsi/arm_right.png
  Resources/Textures/Backmen/Structures/Benches/sofa.rsi/corner.png
  Resources/Textures/Backmen/Structures/Benches/sofa.rsi/corner_out.png
  Resources/Textures/Backmen/Structures/Benches/sofa.rsi/left.png
  Resources/Textures/Backmen/Structures/Benches/sofa.rsi/meta.json
  Resources/Textures/Backmen/Structures/Benches/sofa.rsi/middle.png
  Resources/Textures/Backmen/Structures/Benches/sofa.rsi/right.png
  Resources/Textures/Backmen/Structures/Benches/sofa_corp.rsi/arm_left.png
  Resources/Textures/Backmen/Structures/Benches/sofa_corp.rsi/arm_right.png
  Resources/Textures/Backmen/Structures/Benches/sofa_corp.rsi/corner.png
  Resources/Textures/Backmen/Structures/Benches/sofa_corp.rsi/corner_out.png
  Resources/Textures/Backmen/Structures/Benches/sofa_corp.rsi/left.png
  Resources/Textures/Backmen/Structures/Benches/sofa_corp.rsi/meta.json
  Resources/Textures/Backmen/Structures/Benches/sofa_corp.rsi/middle.png
  Resources/Textures/Backmen/Structures/Benches/sofa_corp.rsi/right.png
  Resources/Textures/Backmen/Structures/Benches/steel_bench.rsi/left.png
  Resources/Textures/Backmen/Structures/Benches/steel_bench.rsi/meta.json
  Resources/Textures/Backmen/Structures/Benches/steel_bench.rsi/middle.png
  Resources/Textures/Backmen/Structures/Benches/steel_bench.rsi/right.png
  Resources/Textures/Backmen/Structures/Benches/steel_bench_white.rsi/left.png
  Resources/Textures/Backmen/Structures/Benches/steel_bench_white.rsi/meta.json
  Resources/Textures/Backmen/Structures/Benches/steel_bench_white.rsi/middle.png
  Resources/Textures/Backmen/Structures/Benches/steel_bench_white.rsi/right.png
Labels: Changes: Sprites, No C#

#858 LayingDown fix?
  Content.Client/Backmen/Standing/LayingDownSystem.cs
  Content.Server/Backmen/Standing/LayingDownSystem.cs
  Content.Shared/Backmen/Standing/LayingDownComponent.cs
  Content.Shared/Backmen/Standing/SharedLayingDownSystem.cs
  Resources/Locale/ru-RU/backmen/health-examinable/carbon.ftl
  Resources/Locale/ru-RU/backmen/laying/getup.ftl
Labels: Changes: Localization

#855 [Feature] Черта монолингва
  Content.Server/Backmen/Traits/Assorted/MonolingualComponent.cs
  Content.Server/Backmen/Traits/Assorted/MonolingualSystem.cs
  Resources/Locale/ru-RU/backmen/trait/Monolingual.ftl
  Resources/Prototypes/_Backmen/Traits/disabilities.yml
Labels: Changes: Localization

#861 FOOTSTEPS [working now] + small renames (WD --> BACKMEN)
  Content.Client/Backmen/FootPrint/FootPrintsVisualizerSystem.cs
  Content.Client/FlavorText/FlavorText.xaml
  Content.Client/Input/ContentContexts.cs
  Content.Client/Lobby/LobbyState.cs
  Content.Client/Lobby/UI/LobbyGui.xaml
  Content.Client/Lobby/UI/LobbyGui.xaml.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/UserInterface/Controls/MenuButton.cs
  Content.IntegrationTests/Tests/DoAfter/DoAfterCancellationTests.cs
  Content.Server/Backmen/FootPrint/FootPrintsSystem.cs
  Content.Server/Backmen/FootPrint/PuddleFootPrintsSystem.cs
  Content.Server/Fluids/EntitySystems/AbsorbentSystem.cs
  Content.Server/GameTicking/GameTicker.LobbyBackground.cs
  Content.Shared/Backmen/FootPrint/FootPrintComponent.cs
  Content.Shared/Backmen/FootPrint/FootPrintVisuals.cs
  Content.Shared/Backmen/FootPrint/FootPrintsComponent.cs
  Content.Shared/Backmen/FootPrint/PuddleFootPrintsComponent.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Prying/Components/PryingComponent.cs
  Content.Shared/Prying/Systems/PryingSystem.cs
  Content.Shared/Standing/StandingStateComponent.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/Tools/Components/ToolTileCompatibleComponent.cs
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Mobs/Player/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Player/diona.yml
  Resources/Prototypes/Entities/Mobs/Player/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Mobs/Player/moth.yml
  Resources/Prototypes/Entities/Mobs/Player/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Player/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Player/slime.yml
  Resources/Prototypes/Entities/Mobs/Player/vox.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Player/foxes.yml
  Resources/Textures/Effects/footprints.rsi/dragging-1.png
  Resources/Textures/Effects/footprints.rsi/dragging-2.png
  Resources/Textures/Effects/footprints.rsi/dragging-3.png
  Resources/Textures/Effects/footprints.rsi/dragging-4.png
  Resources/Textures/Effects/footprints.rsi/dragging-5.png
  Resources/Textures/Effects/footprints.rsi/dragging-test.png
  Resources/Textures/Effects/footprints.rsi/footprint-left-bare-diona.png
  Resources/Textures/Effects/footprints.rsi/footprint-left-bare-dwarf.png
  Resources/Textures/Effects/footprints.rsi/footprint-left-bare-human.png
  Resources/Textures/Effects/footprints.rsi/footprint-left-bare-lizard.png
  Resources/Textures/Effects/footprints.rsi/footprint-left-bare-slime.png
  Resources/Textures/Effects/footprints.rsi/footprint-left-bare-spider.png
  Resources/Textures/Effects/footprints.rsi/footprint-right-bare-diona.png
  Resources/Textures/Effects/footprints.rsi/footprint-right-bare-dwarf.png
  Resources/Textures/Effects/footprints.rsi/footprint-right-bare-human.png
  Resources/Textures/Effects/footprints.rsi/footprint-right-bare-lizard.png
  Resources/Textures/Effects/footprints.rsi/footprint-right-bare-slime.png
  Resources/Textures/Effects/footprints.rsi/footprint-right-bare-spider.png
  Resources/Textures/Effects/footprints.rsi/footprint-shoes.png
  Resources/Textures/Effects/footprints.rsi/footprint-suit.png
  Resources/Textures/Effects/footprints.rsi/meta.json
  SpaceStation14.sln.DotSettings
  global.json
Labels: Changes: Sprites, Changes: UI

#863 Cleanade tweak
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: No C#

#864 ghost sponsor update
  Content.Client/Backmen/SponsorManager/UI/SponsorWindow.cs
  Content.Client/Backmen/Sponsors/SponsorsManager.cs
  Content.Server/Backmen/GhostTheme/GhostThemeSystem.cs
  Content.Server/Backmen/ShipVsShip/ShipVsShipGame.cs
  Content.Server/Backmen/Shipwrecked/ShipwreckedRuleSystem.cs
  Content.Server/Backmen/Teams/TdmTeamSystem.cs
  Content.Shared/Backmen/GhostTheme/GhostThemePrototype.cs
  Content.Shared/Backmen/Teams/SharedTdmTeamSystem.cs
  Content.Shared/Nutrition/Components/HungerComponent.cs
  Resources/Locale/ru-RU/backmen/sponsors/windowmanager.ftl
  Resources/Prototypes/_Backmen/Maps/bargevsship.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/Misk/sai_ship.yml
  Resources/Prototypes/_Backmen/ShipVsShip/gamerule.yml
  Resources/Prototypes/_Backmen/game_presets.yml
  Resources/Prototypes/_Backmen/ghostSponsor.yml
  Resources/Prototypes/_Backmen/ghosts/drgon.yml
  Resources/Textures/Backmen/Mobs/Ghost/drgon.rsi/drgon.png
  Resources/Textures/Backmen/Mobs/Ghost/drgon.rsi/icon-drgon.png
  Resources/Textures/Backmen/Mobs/Ghost/drgon.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

#865 [Feature] Bkm konkurs
  Resources/Locale/ru-RU/backmen/loadout.ftl
  Resources/Locale/ru-RU/backmen/sponsors/windowmanager.ftl
  Resources/Prototypes/_Backmen/Entities/sponsor.yml
  Resources/Prototypes/_Backmen/Loadouts/sponsor.yml
  Resources/Prototypes/_Backmen/ghosts/koknus.yml
  Resources/Textures/Backmen/Clothing/OuterClothing/Coats/bizzare.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Coats/bizzare.rsi/icon.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Coats/bizzare.rsi/inhand-left.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Coats/bizzare.rsi/inhand-right.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Coats/bizzare.rsi/meta.json
  Resources/Textures/Backmen/Mobs/Ghost/mujik.rsi/meta.json
  Resources/Textures/Backmen/Mobs/Ghost/mujik.rsi/mujik.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Shotguns/sh-39/big.rsi/meta.json
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Shotguns/sh-39/big.rsi/tank.png
Labels: Changes: Sprites, No C#, Changes: Localization

#862 [Fix] Цвет языка Spider
  Resources/Prototypes/_Backmen/Language/Fraction-specific/Simple/Spider.yml
Labels: No C#

#867 [FEATURE] Revenant add VoiceMask
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
Labels: No C#

#869 Update main.toml
  Resources/ConfigPresets/Backmen/main.toml
Labels: No C#

#872 [FIX] Revenant add prot.VoiceMask
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
Labels: No C#

#874 [Fix] Healing Fixes
  Content.Client/Backmen/Targeting/TargetingSystem.cs
  Content.Client/Backmen/UserInterface/Systems/PartStatus/PartStatusUIController.cs
  Content.Client/Backmen/UserInterface/Systems/Targeting/TargetingUIController.cs
  Content.Server/Backmen/Targeting/TargetingSystem.cs
  Content.Server/Medical/HealingSystem.cs
  Content.Shared/Backmen/Surgery/Body/SharedBodySystem.Integrity.cs
  Content.Shared/Backmen/Targeting/SharedTargetingSystem.cs
  Content.Shared/Body/Part/BodyPartComponent.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/tables/operating_table.ftl
Labels: Changes: Localization

#876 [Port] Surgery fixes: Part 2
  Content.Client/Backmen/Targeting/TargetingSystem.cs
  Content.Client/Backmen/UserInterface/Systems/PartStatus/PartStatusUIController.cs
  Content.Client/Backmen/UserInterface/Systems/PartStatus/Widgets/PartStatusControl.xaml.cs
  Content.Client/Backmen/UserInterface/Systems/Targeting/TargetingUIController.cs
  Content.Client/Backmen/UserInterface/Systems/Targeting/Widgets/TargetingControl.xaml.cs
  Content.Client/Inventory/ClientInventorySystem.cs
  Content.Server/Backmen/Surgery/SurgerySystem.cs
  Content.Server/Backmen/Targeting/TargetingSystem.cs
  Content.Server/Medical/HealingSystem.cs
  Content.Shared/Backmen/CCVar/CCVars.cs
  Content.Shared/Backmen/Surgery/Body/SharedBodySystem.Integrity.cs
  Content.Shared/Backmen/Surgery/SharedSurgerySystem.Steps.cs
  Content.Shared/Backmen/Surgery/SharedSurgerySystem.cs
  Content.Shared/Backmen/Surgery/Steps/SurgeryRepeatableStepComponent.cs
  Content.Shared/Backmen/Targeting/Events.cs
  Content.Shared/Backmen/Targeting/TargetBodyPart.cs
  Content.Shared/Backmen/Targeting/TargetIntegrity.cs
  Content.Shared/Backmen/Targeting/TargetingComponent.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Locale/en-US/surgery/surgery-ui.ftl
  Resources/Locale/ru-RU/backmen/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/medical.yml
  Resources/Prototypes/_Backmen/Entities/Surgery/surgery_steps.yml
  Resources/ServerInfo/Guidebook/Medical/OrganManipulation.xml
  Resources/ServerInfo/Guidebook/Medical/PartManipulation.xml
  Resources/ServerInfo/Guidebook/Medical/Surgery.xml
  Resources/ServerInfo/Guidebook/Medical/UtilitySurgeries.xml
Labels: Changes: UI, Changes: Localization
