Repository Rxup/space-station-14, pull requests merged in 2024-09, with the labels that each got.

#738 Upd Maps
  Resources/Maps/Backmen/backmen_aspid.yml
  Resources/Maps/Backmen/backmen_rook.yml
  Resources/Prototypes/_Backmen/Entities/Structures/Atmospherics/supermatter.yml
Labels: Changes: Map, No C#

#740 CTP
  Content.Client/Backmen/Teams/CapturePoint/CapturePointOverlay.cs
  Content.Client/Backmen/Teams/CapturePoint/CapturePointSystem.cs
  Content.Client/Backmen/Teams/TdmTeamSystem.cs
  Content.Server/Backmen/ShipVsShip/Components/ShipVsShipGameComponent.cs
  Content.Server/Backmen/ShipVsShip/Components/StationTeamMarkerComponent.cs
  Content.Server/Backmen/ShipVsShip/ShipVsShipGame.cs
  Content.Server/Backmen/Teams/CapturePoint/CapturePointSystem.cs
  Content.Server/Backmen/Teams/TdmTeamSystem.cs
  Content.Shared/Backmen/ShipVsShip/SVSTeamMember.cs
  Content.Shared/Backmen/Teams/CapturePoint/BkmCapturePointChangeEvent.cs
  Content.Shared/Backmen/Teams/CapturePoint/Components/BkmCapturePointComponent.cs
  Content.Shared/Backmen/Teams/CapturePoint/SharedCapturePointSystem.cs
  Content.Shared/Backmen/Teams/Components/TdmMemberComponent.cs
  Content.Shared/Backmen/Teams/SharedTdmTeamSystem.cs
  Content.Shared/Backmen/Teams/StationTeamMarker.cs
  Resources/Locale/ru-RU/backmen/teams/ctp.ftl
  Resources/Prototypes/_Backmen/Statusicon/antag.yml
  Resources/Prototypes/_Backmen/Teams/Capture/control_points.yml
  Resources/Prototypes/_Backmen/Teams/faction.yml
  Resources/Prototypes/_Backmen/Teams/turrets.yml
  Resources/Textures/Backmen/Objects/Weapons/Guns/Turrets/laser.rsi/black.png
  Resources/Textures/Backmen/Objects/Weapons/Guns/Turrets/laser.rsi/meta.json
  Resources/Textures/Backmen/Objects/Weapons/Guns/Turrets/laser.rsi/team_a.png
  Resources/Textures/Backmen/Objects/Weapons/Guns/Turrets/laser.rsi/team_b.png
  Resources/Textures/Backmen/Teams/CTP/greenbox.rsi/a_capturing_by_b.png
  Resources/Textures/Backmen/Teams/CTP/greenbox.rsi/b_capturing_by_a.png
  Resources/Textures/Backmen/Teams/CTP/greenbox.rsi/captured_by_a.png
  Resources/Textures/Backmen/Teams/CTP/greenbox.rsi/captured_by_b.png
  Resources/Textures/Backmen/Teams/CTP/greenbox.rsi/captured_by_n.png
  Resources/Textures/Backmen/Teams/CTP/greenbox.rsi/meta.json
  Resources/Textures/Backmen/Teams/CTP/greenbox.rsi/n_capturing_by_a.png
  Resources/Textures/Backmen/Teams/CTP/greenbox.rsi/n_capturing_by_b.png
Labels: Changes: Sprites, Changes: Localization

#742 [Tweak] Head-Coder issue
  .github/CODEOWNERS
Labels: No C#

#744 [Tweak] GitHub Workflow
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: No C#, Tweak

#743 [Feature] Respawn Button
  Content.Client/Backmen/Ghost/GhostReJoinEui.cs
  Content.Client/Backmen/Ghost/GhostReJoinSystem.cs
  Content.Client/Backmen/Ghost/UI/GhostReJoinSelect.xaml
  Content.Client/Backmen/Ghost/UI/GhostReJoinSelect.xaml.cs
  Content.Client/Backmen/Soul/GolemBoundUserInterface.cs
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml
  Content.Server/Backmen/Ghost/GhostReJoinEui.cs
  Content.Server/Backmen/Ghost/GhostReJoinSystem.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Shared/Backmen/CCVar/CCVars.cs
  Content.Shared/Backmen/Ghost/GhostReJoinInterfaceState.cs
  Content.Shared/Backmen/Ghost/SharedGhostReJoinSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Ghost/GhostComponent.cs
  Content.Shared/Ghost/SharedGhostSystem.cs
  Resources/Locale/ru-RU/backmen/ghost/respawn.ftl
Labels: Changes: UI, Changes: Localization, Feature

#749 [Tweak] Better Lizards
  Resources/Locale/ru-RU/_ataraxia/markings/reptilian.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_ataraxia/body/organs/anthro_animal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_ataraxia/body/organs/reptilian.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_ataraxia/metabolizer-types.ftl
  Resources/Prototypes/Body/Organs/reptilian.yml
  Resources/Prototypes/Body/Prototypes/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Prototypes/Reagents/gases.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/_Ataraxia/Body/Organs/anthro_animal.yml
  Resources/Prototypes/_Ataraxia/Body/Organs/reptilian.yml
  Resources/Prototypes/_Ataraxia/Chemistry/metabolizer_types.yml
  Resources/Prototypes/_Ataraxia/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Prototypes/_Ataraxia/Species/reptilian.yml
  Resources/Textures/_Ataraxia/Items/Misc/lizardtongue.rsi/meta.json
  Resources/Textures/_Ataraxia/Items/Misc/lizardtongue.rsi/tonguelizard.png
  Resources/Textures/_Ataraxia/Mobs/Customization/reptilian_64x32.rsi/meta.json
  Resources/Textures/_Ataraxia/Mobs/Customization/reptilian_64x32.rsi/tail_kangaroo.png
  Resources/Textures/_Ataraxia/Mobs/Customization/reptilian_64x32.rsi/tail_snakelarge.png
  Resources/Textures/_Ataraxia/Mobs/Customization/reptilian_64x32.rsi/tail_snakelarge_overlay.png
  Resources/Textures/_Ataraxia/Mobs/Customization/reptilian_64x32.rsi/tail_westerndragon.png
  Resources/Textures/_Ataraxia/Mobs/Customization/reptilian_64x32.rsi/tail_westerndragon_overlay.png
  Resources/Textures/_Ataraxia/Mobs/Customization/reptilian_parts.rsi/cobra_hood_with_ears.png
  Resources/Textures/_Ataraxia/Mobs/Customization/reptilian_parts.rsi/cobra_hood_with_ears_overlay.png
  Resources/Textures/_Ataraxia/Mobs/Customization/reptilian_parts.rsi/horns_argali_l.png
  Resources/Textures/_Ataraxia/Mobs/Customization/reptilian_parts.rsi/horns_argali_r.png
  Resources/Textures/_Ataraxia/Mobs/Customization/reptilian_parts.rsi/horns_ayrshire_l.png
  Resources/Textures/_Ataraxia/Mobs/Customization/reptilian_parts.rsi/horns_ayrshire_r.png
  Resources/Textures/_Ataraxia/Mobs/Customization/reptilian_parts.rsi/horns_bighorn_l.png
  Resources/Textures/_Ataraxia/Mobs/Customization/reptilian_parts.rsi/horns_bighorn_r.png
  Resources/Textures/_Ataraxia/Mobs/Customization/reptilian_parts.rsi/horns_curled_l.png
  Resources/Textures/_Ataraxia/Mobs/Customization/reptilian_parts.rsi/horns_curled_r.png
  Resources/Textures/_Ataraxia/Mobs/Customization/reptilian_parts.rsi/horns_double_l.png
  Resources/Textures/_Ataraxia/Mobs/Customization/reptilian_parts.rsi/horns_double_r.png
  Resources/Textures/_Ataraxia/Mobs/Customization/reptilian_parts.rsi/horns_myrsore_l.png
  Resources/Textures/_Ataraxia/Mobs/Customization/reptilian_parts.rsi/horns_myrsore_r.png
  Resources/Textures/_Ataraxia/Mobs/Customization/reptilian_parts.rsi/horns_ram_l.png
  Resources/Textures/_Ataraxia/Mobs/Customization/reptilian_parts.rsi/horns_ram_r.png
  Resources/Textures/_Ataraxia/Mobs/Customization/reptilian_parts.rsi/horns_short_l.png
  Resources/Textures/_Ataraxia/Mobs/Customization/reptilian_parts.rsi/horns_short_r.png
  Resources/Textures/_Ataraxia/Mobs/Customization/reptilian_parts.rsi/horns_simple_l.png
  Resources/Textures/_Ataraxia/Mobs/Customization/reptilian_parts.rsi/horns_simple_r.png
  Resources/Textures/_Ataraxia/Mobs/Customization/reptilian_parts.rsi/meta.json
  Resources/Textures/_Ataraxia/Mobs/Species/Reptilian/parts.rsi/l_foot_digi.png
  Resources/Textures/_Ataraxia/Mobs/Species/Reptilian/parts.rsi/l_leg_digi.png
  Resources/Textures/_Ataraxia/Mobs/Species/Reptilian/parts.rsi/meta.json
  Resources/Textures/_Ataraxia/Mobs/Species/Reptilian/parts.rsi/r_foot_digi.png
  Resources/Textures/_Ataraxia/Mobs/Species/Reptilian/parts.rsi/r_leg_digi.png
Labels: Changes: Sprites, No C#, Changes: Localization, Ready2Merge, Tweak

#748 [Fix] Sponsor Typo
  Resources/Locale/ru-RU/backmen/sponsors/windowmanager.ftl
Labels: No C#, Changes: Localization, Fix, Ready2Merge

#746 [Port] Telescope System
  Content.Client/Backmen/CameraFollow/CameraFollowSystem.cs
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/_White/Telescope/TelescopeSystem.cs
  Content.Server/_White/Telescope/TelescopeSystem.cs
  Content.Shared/Backmen/CameraFollow/Components/CameraFollowComponent.cs
  Content.Shared/Backmen/CameraFollow/EntitySystems/CameraActionsSystem.cs
  Content.Shared/Backmen/CameraFollow/Events/ToggleCameraEvent.cs
  Content.Shared/Backmen/FollowDistance/Components/FollowDistanceComponent.cs
  Content.Shared/Backmen/FollowDistance/FollowDistanceSystem.cs
  Content.Shared/Camera/SharedCameraRecoilSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/_White/CVars.cs
  Content.Shared/_White/Telescope/SharedTelescopeSystem.cs
  Content.Shared/_White/Telescope/TelescopeComponent.cs
  Resources/Locale/en-US/_white/escape-menu/options-menu.ftl
  Resources/Locale/ru-RU/_white/escape-menu/options-menu.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_Backmen/Actions/zoom.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Energy/energy.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Energy/magenergy.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/guns64super.yml
  Resources/keybinds.yml
Labels: Changes: UI, Changes: Localization, Feature, Port, Ready2Merge

#745 [Port] Laying System
  Content.Client/Backmen/Standing/LayingDownSystem.cs
  Content.Client/Buckle/BuckleSystem.cs
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml.cs
  Content.IntegrationTests/Tests/Buckle/BuckleTest.cs
  Content.Server/Backmen/Ghost/GhostReJoinSystem.cs
  Content.Server/Backmen/Standing/LayingDownSystem.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/NPC/Systems/NPCCombatSystem.Ranged.cs
  Content.Shared/Backmen/CCVar/CCVars.cs
  Content.Shared/Backmen/Standing/LayingDownComponent.cs
  Content.Shared/Backmen/Standing/SharedLayingDownSystem.cs
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/Ghost/SharedGhostSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Standing/StandingStateComponent.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Locale/ru-RU/backmen/escape-menu/options-menu.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/keybinds.yml
Labels: Changes: UI, Changes: Localization, MERGE CONFLICT, Feature, Port

#755 [Fix] Remove Telescope From Rifles
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/guns64super.yml
Labels: No C#

#752 [Tweak] Edit Key Binds
  Resources/keybinds.yml
Labels: No C#, Ready2Merge, Tweak

#756 [Translate] Censoreds
  Resources/Locale/ru-RU/backmen/paper/authorbooks.ftl
  Resources/Locale/ru-RU/backmen/prototypes/entities/objects/Devices/authorbooks.ftl
  Resources/Prototypes/Catalog/Fills/Books/bookshelf.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Misc/authorbooks.yml
  Resources/migration.yml
Labels: No C#, Changes: Localization

#759 [Port] Explosion Shock Wave
  Content.Client/Entry/EntryPoint.cs
  Content.Client/_RMC14/Explosion/RMCExplosionShockWaveOverlay.cs
  Content.Server/Explosion/EntitySystems/ClusterGrenadeSystem.cs
  Content.Shared/_RMC14/Explosion/RMCExplosionShockWaveComponent.cs
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/clusterbang.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/_Ataraxia/Entities/Effects/shock_wave.yml
  Resources/Prototypes/_Ataraxia/Shaders/shaders.yml
  Resources/Textures/_RMC14/Shaders/shock_wave.swsl
Labels: Changes: Shaders, Feature, Port, Ready2Merge

#762 [Port] Showers
  Content.Server/_EinsteinEngines/Shower/ShowerSystem.cs
  Content.Shared/_EinsteinEngines/Showers/SharedShowerSystem.cs
  Content.Shared/_EinsteinEngines/Showers/ShowerComponent.cs
  Resources/Audio/Ambience/Objects/shower_enable.ogg
  Resources/Audio/Ambience/Objects/shower_running.ogg
  Resources/Locale/ru-RU/_einsteinengines/shower/shower-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_einsteinengines/entities/structures/furniture/shower.ftl
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/shower.yml
  Resources/Prototypes/Recipes/Construction/furniture.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Structures/Furniture/shower.yml
  Resources/Prototypes/_EinsteinEngines/Recipes/Construction/furniture.yml
  Resources/Textures/_EinsteinEngines/Structures/Furniture/shower.rsi/meta.json
  Resources/Textures/_EinsteinEngines/Structures/Furniture/shower.rsi/shower.png
  Resources/Textures/_EinsteinEngines/Structures/Furniture/shower.rsi/shower_on.png
Labels: Changes: Sprites, Changes: Localization, Feature, Port

#760 [Port] Advanced Prying
  Content.IntegrationTests/Tests/DoAfter/DoAfterCancellationTests.cs
  Content.Shared/Prying/Components/PryingComponent.cs
  Content.Shared/Prying/Systems/PryingSystem.cs
  Content.Shared/Tools/Components/ToolTileCompatibleComponent.cs
  Resources/Locale/en-US/tools/tool-qualities.ftl
  Resources/Locale/ru-RU/_white/tools/tool-qualities.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Tiles/plating.yml
  Resources/Prototypes/_White/tool_qualities.yml
Labels: Changes: Localization, Port, Ready2Merge, Tweak, Require Testing

#747 [Feature] Immersive Life
  Content.Server/Backmen/Immersive/Systems/ImmersiveSystem.cs
  Content.Server/Backmen/Telescope/TelescopeSystem.cs
  Content.Shared/Backmen/CCVar/CCVars.cs
  Content.Shared/_White/Telescope/SharedTelescopeSystem.cs
  Resources/Prototypes/_Ataraxia/GameRules/roundstart.yml
Labels: Feature, Ready2Merge, Require Testing

#766 [Tweak] Move Config From Server
  Resources/ConfigPresets/Backmen/main.toml
Labels: No C#, Tweak

#758 [Port] Combat Mode Indicator
  Content.Client/CombatMode/CombatModeSystem.cs
  Content.Shared/CombatMode/CombatModeComponent.cs
  Content.Shared/CombatMode/SharedCombatModeSystem.cs
  Resources/Audio/_Ataraxia/Effects/CombatMode/attributions.yml
  Resources/Audio/_Ataraxia/Effects/CombatMode/off.ogg
  Resources/Audio/_Ataraxia/Effects/CombatMode/on.ogg
  Resources/Textures/_Ataraxia/Effects/combat_mode.rsi/combat_mode.png
  Resources/Textures/_Ataraxia/Effects/combat_mode.rsi/meta.json
Labels: Changes: Sprites, Feature, Port, Ready2Merge

#769 [Tweak] Breathe
  Resources/Prototypes/_Backmen/Damage/modifier_sets.yml
  Resources/ServerInfo/_Backmen/Guidebook/Species/SimpleStationSpecies/Shadowkin.xml
Labels: No C#, Tweak

#772 [Fix] AutoGetUp For NPC
  Content.Shared/Backmen/Standing/SharedLayingDownSystem.cs
Labels: Fix, Require Testing

#770 [Tweak] Config Edit
  Resources/ConfigPresets/Backmen/main.toml
Labels: No C#, Ready2Merge, Tweak

#778 Revert "[Tweak] Head-Coder issue"
  .github/CODEOWNERS
Labels: No C#, Ready2Merge

#780 [Feature] Система передачи из рук в руки
  Content.Client/Backmen/OfferItem/OfferItemIndicatorsOverlay.cs
  Content.Client/Backmen/OfferItem/OfferItemSystem.cs
  Content.Client/Corvax/TTS/TTSSystem.cs
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Server/Backmen/OfferItem/OfferItemSystem.cs
  Content.Shared/Backmen/Alert/Click/AcceptingOffer.cs
  Content.Shared/Backmen/CCVar/CCVars.cs
  Content.Shared/Backmen/OfferItem/OfferItemComponent.cs
  Content.Shared/Backmen/OfferItem/SharedOfferItemSystem.Interactions.cs
  Content.Shared/Backmen/OfferItem/SharedOfferItemSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/Locale/ru-RU/alerts/alerts.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/interaction/offer-item-system.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Textures/Interface/Alerts/offer_item.rsi/meta.json
  Resources/Textures/Interface/Alerts/offer_item.rsi/offer_item.png
  Resources/Textures/Interface/Misc/give_item.rsi/give_item.png
  Resources/Textures/Interface/Misc/give_item.rsi/meta.json
  Resources/keybinds.yml
Labels: Changes: Sprites, Changes: UI, Changes: Localization

#781 [Fix] shotguns and unique action
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/bullets.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/pulse.yml
  Resources/keybinds.yml
Labels: No C#

#783 Update main.toml
  Resources/ConfigPresets/Backmen/main.toml
Labels: No C#

#784 [Tweak] Disable Spacewind
  Resources/ConfigPresets/Backmen/main.toml
Labels: No C#

#786 [Tweak] SuperKessler gamemode + AllAtOnce
  Resources/Locale/ru-RU/backmen/game-ticking/game-presets/preset-mix.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-allatonce.ftl
  Resources/Prototypes/_Backmen/GameRules/roundstart.yml
  Resources/Prototypes/_Backmen/game_presets.yml
  Resources/Prototypes/game_presets.yml
Labels: No C#, Changes: Localization

#789 [Balance] Calm scheduler
  Resources/Locale/ru-RU/backmen/game-ticking/game-presets/preset-mix.ftl
  Resources/Prototypes/_Backmen/GameRules/events.yml
  Resources/Prototypes/_Backmen/GameRules/meteorswarms.yml
  Resources/Prototypes/_Backmen/GameRules/roundstart.yml
  Resources/Prototypes/_Backmen/game_presets.yml
  Resources/Prototypes/game_presets.yml
Labels: No C#, Changes: Localization

#794 [Refactor] Fix's
  Content.Client/Backmen/Standing/LayingDownSystem.cs
  Content.Server/Backmen/Psionics/NPC/GlimmerWisp/GlimmerWispSystem.cs
  Content.Server/Backmen/Standing/LayingDownSystem.cs
  Content.Server/Backmen/Supermatter/SupermatterSystem.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Shared/Backmen/CCVar/CCVars.cs
  Content.Shared/Backmen/OfferItem/SharedOfferItemSystem.cs
  Content.Shared/Backmen/Standing/LayingDownComponent.cs
  Content.Shared/Backmen/Standing/SharedLayingDownSystem.cs
  Content.Shared/Backmen/Supermatter/Components/BkmSupermatterComponent.announcements.cs
  Content.Shared/Backmen/Supermatter/Components/BkmSupermatterComponent.cs
  Content.Shared/Backmen/Supermatter/Components/BkmSupermatterComponent.delamm.cs
  Content.Shared/Backmen/Supermatter/Components/BkmSupermatterComponent.sound.cs
  Content.Shared/Backmen/Supermatter/Components/BkmSupermatterComponent.threshold.cs
  Content.Shared/Backmen/Supermatter/Components/BkmSupermatterComponent.timer.cs
  Content.Shared/Backmen/Supermatter/DelamType.cs
  Content.Shared/Backmen/Supermatter/SharedSupermatterSystem.cs
  Content.Shared/Ghost/SharedGhostSystem.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Resources/ConfigPresets/Backmen/main.toml
  Resources/Locale/ru-RU/backmen/supermatter/supermatter.ftl
  Resources/Prototypes/Entities/Structures/Furniture/Tables/base_structuretables.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/mutants.yml
  Resources/Prototypes/_Backmen/Entities/Supermatter/supermatter.yml
Labels: Changes: Localization

#800 change blob-heal effect
  Content.Shared/Backmen/Blob/SharedBlobMobSystem.cs
  Resources/Audio/Backmen/Ambience/attributions.yml
  Resources/Audio/Backmen/Ambience/blob_heal.ogg
  Resources/Prototypes/_Backmen/Entities/Effects/heal.yml
  Resources/Textures/Backmen/Effects/heals.rsi/meta.json
  Resources/Textures/Backmen/Effects/heals.rsi/single.png
  Resources/Textures/Backmen/Effects/heals.rsi/triple.png
Labels: Changes: Sprites

#801 fix laydown
  Content.Client/Backmen/Standing/LayingDownSystem.cs
  Content.Server/Backmen/Standing/LayingDownSystem.cs
  Content.Shared/Backmen/Standing/LayingDownComponent.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Resources/Locale/ru-RU/backmen/game-ticking/game-presets/other.ftl
Labels: Changes: Localization
