Repository Rxup/space-station-14, pull requests merged in 2024-12, with the labels that each got.

#972 [Balance] Альфа must die
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/adminbuse/centcomm_officers.ftl
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_Backmen/Catalog/Fills/Backpacks/backpack.yml
  Resources/Prototypes/_Backmen/Catalog/Fills/Items/Belts/belts.yml
  Resources/Prototypes/_Backmen/Catalog/uplink_nomad.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/SMGs/SMGs.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/pulse.yml
Labels: No C#, Changes: Localization, Ready2Merge, size/M, Balance

#971 [Maps] Aspid Update
  Resources/Maps/Backmen/backmen_aspid.yml
  Resources/Prototypes/_Backmen/Maps/backmen_aspid.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/XL

#960 [Fix] no more free chem change for bloba
  Content.Server/Backmen/Blob/BlobObserverSystem.cs
Labels: Fix, Ready2Merge, size/XS

#941 [Balance] Surgery Balance Tweaks
  Content.Server/Atmos/EntitySystems/BarotraumaSystem.cs
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Backmen/Magic/BkmMagicSystem.cs
  Content.Shared/Backmen/Standing/SharedLayingDownSystem.cs
  Content.Shared/Backmen/Surgery/Body/SharedBodySystem.Targeting.cs
  Content.Shared/Backmen/Surgery/Effects/Step/SurgeryDamageChangeEffectComponent.cs
  Content.Shared/Backmen/Surgery/SharedSurgerySystem.Steps.cs
  Content.Shared/Backmen/Targeting/TargetBodyPart.cs
  Content.Shared/Body/Part/BodyPartComponent.cs
  Content.Shared/Chat/SharedSuicideSystem.cs
  Content.Shared/Climbing/Systems/ClimbSystem.cs
  Content.Shared/Clumsy/ClumsySystem.cs
  Content.Shared/Damage/Systems/DamageOnAttackedSystem.cs
  Content.Shared/Damage/Systems/DamageOnInteractSystem.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
  Resources/Prototypes/Body/Parts/base.yml
  Resources/Prototypes/Body/Parts/skeleton.yml
  Resources/Prototypes/_Backmen/Body/Parts/harpy.yml
  Resources/Prototypes/_Backmen/Body/Parts/shadowkin.yml
Labels: Fix, Ready2Merge, size/M, Balance

#965 [Port] Surgery Fixes
  Content.Client/Inventory/ClientInventorySystem.cs
  Content.Client/UserInterface/Screens/DefaultGameScreen.xaml.cs
  Content.Client/UserInterface/Systems/Alerts/Widgets/AlertsUI.xaml
  Content.Client/UserInterface/Systems/Alerts/Widgets/AlertsUI.xaml.cs
  Content.Server/Backmen/Surgery/SurgerySystem.cs
  Content.Server/Body/Commands/AddHandCommand.cs
  Content.Server/Body/Commands/AttachBodyPartCommand.cs
  Content.Shared/Backmen/Surgery/Body/BodyPartAppearanceComponent.cs
  Content.Shared/Backmen/Surgery/Body/SharedBodySystem.PartAppearance.cs
  Content.Shared/Backmen/Surgery/Body/SharedBodySystem.Targeting.cs
  Content.Shared/Backmen/Surgery/Body/Subsystems/GenerateChildPartSystem.cs
  Content.Shared/Backmen/Surgery/SanitizedComponent.cs
  Content.Shared/Backmen/Surgery/SharedSurgerySystem.Steps.cs
  Content.Shared/Backmen/Targeting/Events.cs
  Content.Shared/Body/Part/BodyPartComponent.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Content.Shared/Body/Systems/SharedBodySystem.Organs.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Content.Shared/Inventory/InventorySystem.Slots.cs
  Resources/Locale/en-US/_Goobstation/research/technologies.ftl
  Resources/Locale/en-US/_Shitmed/inventory/slot-popup.ftl
  Resources/Locale/en-US/_Shitmed/surgery/surgery-popup.ftl
  Resources/Locale/en-US/_Shitmed/surgery/surgery-tools.ftl
  Resources/Locale/en-US/_Shitmed/surgery/surgery-ui.ftl
  Resources/Locale/en-US/_Shitmed/technologies/technologies.ftl
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/Body/Organs/arachnid.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Body/Parts/animal.yml
  Resources/Prototypes/Body/Parts/silicon.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/throwing_stars.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Prototypes/Recipes/Lathes/robotics.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_Backmen/Body/Prototypes/cybernetic.yml
  Resources/Prototypes/_Backmen/Body/Prototypes/generic.yml
  Resources/Prototypes/_Backmen/Recipes/Lathes/robotics.yml
  Resources/Prototypes/_Backmen/Recipes/Lathes/security.yml
  Resources/Prototypes/_Backmen/Recipes/Lathes/surgery.yml
  Resources/Prototypes/_Backmen/Research/civilianservices.yml
Labels: Changes: UI, Changes: Localization, Fix, Port, Ready2Merge, size/L

#888 [FEATURE] Xeno Maid
  Content.Server/Backmen/Abilities/Xeno/XenoAbilitiesSystem.cs
  Content.Server/Backmen/Research/Oracle/OracleSystem.cs
  Content.Server/Content.Server.csproj
  Content.Shared/Backmen/Abilities/Xeno/XenoAcidSpillerComponent.cs
  Content.Shared/Backmen/Abilities/Xeno/XenoAcidSpitActionEvent.cs
  Content.Shared/Backmen/Disease/DiseasePrototype.cs
  Content.Shared/Backmen/Shadowkin/Events/ShadowkinEvents.Powers.cs
  Resources/Locale/en-US/backmen/disease/disease-proto.ftl
  Resources/Locale/ru-RU/backmen/reagents/toxins.ftl
  Resources/Prototypes/_Backmen/Actions/xeno.yml
  Resources/Prototypes/_Backmen/Diseases/furry_virus.yml
  Resources/Prototypes/_Backmen/Diseases/noninfectious.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/TGMC_xeno.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/_Backmen/Polymorphs/xeno.yml
  Resources/Prototypes/_Backmen/Reagents/toxins.yml
  Resources/Textures/Backmen/Mobs/Aliens/Xenos/maidxenos.rsi/dead.png
  Resources/Textures/Backmen/Mobs/Aliens/Xenos/maidxenos.rsi/meta.json
  Resources/Textures/Backmen/Mobs/Aliens/Xenos/maidxenos.rsi/running.png
Labels: Changes: Sprites, No C#, Changes: Localization, Needs Refactor, Require Testing, Changes: No C#, size/L

#970 [Port] Вязкость реагентов следов теперь не влияет на скорость движения
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Content.Shared/Fluids/Components/PuddleComponent.cs
  Resources/Prototypes/Entities/Effects/puddle.yml
Labels: Fix, Port, Ready2Merge, size/S, Balance

#961 [Feature] [Balance] Mood Traits & Things
  Content.Server/Backmen/Mood/MoodComponent.cs
  Content.Server/Backmen/Mood/MoodSystem.cs
  Content.Server/Backmen/Traits/Assorted/ModifyMoodTraitComponent.cs
  Content.Shared/Backmen/Mood/SharedMoodComponent.cs
  Content.Shared/Movement/Systems/MovementSpeedModifierSystem.cs
  Resources/Locale/ru-RU/backmen/mood/mood.ftl
  Resources/Locale/ru-RU/backmen/trait/Mood.ftl
  Resources/Prototypes/_Backmen/Mood/genericNegativeEffects.yml
  Resources/Prototypes/_Backmen/Traits/categories.yml
  Resources/Prototypes/_Backmen/Traits/disabilities.yml
  Resources/Prototypes/_Backmen/Traits/neutral.yml
Labels: Changes: Localization, Feature, Ready2Merge, size/L, Balance

#978 Update centcomm.yml
  Resources/Maps/centcomm.yml
Labels: Changes: Map, Changes: No C#, size/M

#975 [Tweak] I dont have mouth and i must pay
  Resources/Locale/ru-RU/backmen/sponsors/windowmanager.ftl
  Resources/Prototypes/Corvax/Catalog/Loadout/sponsor.yml
  Resources/Prototypes/_Backmen/Entities/sponsor.yml
  Resources/Prototypes/_Backmen/Loadouts/sponsor.yml
  Resources/Prototypes/_Backmen/ghosts/admins.yml
  Resources/Textures/Backmen/Mobs/Ghost/angel.rsi/angel.png
  Resources/Textures/Backmen/Mobs/Ghost/angel.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, S: Untriaged, Changes: No C#

#977 [PORT] Smooth Light
  Content.Shared/CombatMode/CombatModeComponent.cs
  Content.Shared/CombatMode/SharedCombatModeSystem.cs
Labels: S: Untriaged, size/S

#979 mini update
  Content.Client/Backmen/FootPrint/FootPrintsVisualizerSystem.cs
  Content.Server/Backmen/FootPrint/FootPrintsSystem.cs
  Content.Server/Backmen/FootPrint/PuddleFootPrintsSystem.cs
  Content.Server/Backmen/Xeno/Components/XenoAgentComponent.cs
  Content.Server/Backmen/Xeno/Roles/XenoAgentRoleComponent.cs
  Content.Server/Backmen/Xeno/XenoAgentSystem.cs
  Content.Server/StationEvents/Events/MeteorSwarmSystem.cs
  Content.Shared/Backmen/FootPrint/FootPrintComponent.cs
  Content.Shared/Backmen/FootPrint/FootPrintState.cs
  Content.Shared/Backmen/FootPrint/FootPrintsComponent.cs
  Resources/Locale/ru-RU/backmen/reagents/toxins.ftl
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/blob/blob_base.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/_Backmen/GameRules/roundstart.yml
  Resources/Prototypes/_Backmen/Reagents/toxins.yml
  Resources/Prototypes/_Backmen/Roles/Antags/blob.yml
  Resources/Prototypes/_Backmen/Roles/MindRoles/mind_roles.yml
  Resources/Prototypes/_Backmen/game_presets.yml
Labels: Changes: Localization, S: Untriaged, size/L

#959 [FEATURE] Add new wrecks
  Resources/Maps/Backmen/Salvage/MSS.yml
  Resources/Maps/Backmen/Salvage/ultra-storage.yml
  Resources/Prototypes/Maps/salvage.yml
Labels: Changes: Map, No C#, Feature, Require Testing, Changes: No C#, size/XL

#775 [Port] Telescopic Baton
  Content.Shared/_Ataraxia/TelescopicBaton/Components/TelescopicBatonComponent.cs
  Content.Shared/_Ataraxia/TelescopicBaton/Systems/TelescopicBatonSystem.cs
  Resources/Locale/en-US/_ataraxia/entities/objects/weapons/melee/telebaton.ftl
  Resources/Locale/en-US/_ataraxia/loadouts/loadoutGroups.ftl
  Resources/Locale/en-US/_ataraxia/objectives/conditions/steal-target-groups.ftl
  Resources/Locale/ru-RU/_ataraxia/loadouts/loadoutGroups.ftl
  Resources/Locale/ru-RU/_ataraxia/objectives/conditions/steal-target-groups.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_ataraxia/entities/objects/weapons/melee/telescopic_baton.ftl
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Ataraxia/Entities/Objects/Weapons/telescopic_baton.yml
  Resources/Prototypes/_Ataraxia/Loadouts/Miscellaneous/SelfDefenceDevices.yml
  Resources/Prototypes/_Ataraxia/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Ataraxia/Objectives/stealTragetGroups.yml
  Resources/Textures/_Ataraxia/Objects/Weapons/Melee/telescopic_baton.rsi/meta.json
  Resources/Textures/_Ataraxia/Objects/Weapons/Melee/telescopic_baton.rsi/on-inhand-left.png
  Resources/Textures/_Ataraxia/Objects/Weapons/Melee/telescopic_baton.rsi/on-inhand-right.png
  Resources/Textures/_Ataraxia/Objects/Weapons/Melee/telescopic_baton.rsi/telescopic_baton_off.png
  Resources/Textures/_Ataraxia/Objects/Weapons/Melee/telescopic_baton.rsi/telescopic_baton_on.png
Labels: Changes: Sprites, Changes: Localization, Feature, Port, Ready2Merge

#969 teleporter-WWDP
  Content.Server/Backmen/Teleporter/ExperimentalTeleporterComponent.cs
  Content.Server/Backmen/Teleporter/ExperimentalTeleporterSystem.cs
  Content.Shared/Backmen/Standing/SharedLayingDownSystem.cs
  Resources/Audio/Backmen/Object/Devices/attributions.yml
  Resources/Audio/Backmen/Object/Devices/experimentalsyndicateteleport.ogg
  Resources/Locale/en-US/_backmen/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_backmen/Entities/Objects/device/syndicate_gadgets/experimental-teleporter.ftl
  Resources/Locale/ru-RU/_backmen/store/uplink-catalog.ftl
  Resources/Prototypes/_Backmen/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Backmen/Entities/Effects/effects.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Devices/Syndicate_Gadgets/experimental_teleporter.yml
  Resources/Textures/Backmen/Objects/Devices/experimentalsyndicateteleporter.rsi/icon.png
  Resources/Textures/Backmen/Objects/Devices/experimentalsyndicateteleporter.rsi/in.png
  Resources/Textures/Backmen/Objects/Devices/experimentalsyndicateteleporter.rsi/inhand-left.png
  Resources/Textures/Backmen/Objects/Devices/experimentalsyndicateteleporter.rsi/inhand-right.png
  Resources/Textures/Backmen/Objects/Devices/experimentalsyndicateteleporter.rsi/meta.json
  Resources/Textures/Backmen/Objects/Devices/experimentalsyndicateteleporter.rsi/out.png
Labels: Changes: Sprites, Changes: Localization, S: Untriaged, size/L

#820 Sanek31 portable camera monitor
  Resources/Locale/ru-RU/backmen/prototypes/Objects/devices/portable_computers.ftl
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/_Backmen/Entities/Tools/portable_computers.yml
  Resources/Textures/Backmen/Objects/Tools/handheld_camera_monitor.rsi/meta.json
  Resources/Textures/Backmen/Objects/Tools/handheld_camera_monitor.rsi/off.png
  Resources/Textures/Backmen/Objects/Tools/handheld_camera_monitor.rsi/on.png
Labels: Changes: Sprites, No C#, Changes: Localization, Changes: No C#, size/L

#981 [Tweak] Gamemode's weights
  Resources/Prototypes/secret_weights.yml
Labels: S: Untriaged, Changes: No C#, size/S

#980 [Tweak] Ohio Rizz
  Resources/Locale/ru-RU/backmen/accent/ohio.ftl
  Resources/Prototypes/_Backmen/Accents/word_replacements.yml
Labels: Changes: Localization, S: Untriaged, Changes: No C#, size/M

#983 [Fix/Tweak] Bodybags with Laying system
  Content.Shared/Morgue/EntityStorageLayingDownOverrideSystem.cs
  Resources/Prototypes/Entities/Structures/Storage/morgue.yml
Labels: S: Untriaged, size/XS

#992 [Tweak] Update CODEOWNERS
  .github/CODEOWNERS
Labels: No C#, DONT MERGE, size/XS

#989 [Map] Backmen Aspid & Kettle update
  Resources/Maps/Backmen/backmen_aspid.yml
  Resources/Maps/Backmen/backmen_kettle.yml
  Resources/Prototypes/_Backmen/Maps/backmen_aspid.yml
  Resources/Prototypes/_Backmen/Maps/backmen_kettle.yml
Labels: Changes: Map, No C#, S: Untriaged
