Repository Rxup/space-station-14, pull requests merged in 2024-05, with the labels that each got.

#589 Refactor SpecForcesSystem
  Content.Client/Entry/EntryPoint.cs
  Content.Server/Backmen/Administration/Commands/CallSpecForcesCommand.cs
  Content.Server/Backmen/GameTicking/Rules/BlobRuleSystem.cs
  Content.Server/Backmen/SpecForces/SpecForceTeamPrototype.cs
  Content.Server/Backmen/SpecForces/SpecForcesHistory.cs
  Content.Server/Backmen/SpecForces/SpecForcesSystem.cs
  Content.Server/Backmen/SpecForces/SpecForcesType.cs
  Content.Shared/Backmen/CCVar/CCVars.cs
  Resources/Locale/ru-RU/backmen/SpecForces.ftl
  Resources/Prototypes/Backmen/specforces.yml
Labels: Changes: Localization

#592 Sec upd
  Resources/Prototypes/Backmen/Entities/Clothing/Head/soft.yml
  Resources/Prototypes/Backmen/Entities/Weapons/Guns/guns64.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Textures/Backmen/Clothing/Head/Soft/secpilotka.rsi/equipped-HELMET.png
  Resources/Textures/Backmen/Clothing/Head/Soft/secpilotka.rsi/icon.png
  Resources/Textures/Backmen/Clothing/Head/Soft/secpilotka.rsi/inhand-left.png
  Resources/Textures/Backmen/Clothing/Head/Soft/secpilotka.rsi/inhand-right.png
  Resources/Textures/Backmen/Clothing/Head/Soft/secpilotka.rsi/meta.json
Labels: Changes: Sprites, No C#

#597 Update migration.yml
  Resources/migration.yml
Labels: No C#

#598 cleanup blob
  Content.Server/Backmen/Blob/BlobNodeSystem.cs
  Content.Server/Backmen/Blob/BlobTileSystem.cs
  Content.Server/Backmen/Blob/Rule/BlobChangeLevelEvent.cs
  Content.Server/Backmen/GameTicking/Rules/BlobRuleSystem.cs
  Content.Server/Backmen/GameTicking/Rules/Components/BlobRuleComponent.cs
  Content.Server/Backmen/SpecForces/SpecForcesSystem.cs
  Content.Shared/Backmen/Blob/Components/BlobCoreComponent.cs
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/blob.ftl
  Resources/Prototypes/Backmen/Entities/Mobs/NPC/blob.yml
Labels: Changes: Localization

#599 Objective issuers
  Content.Client/UserInterface/Systems/Character/CharacterUIController.cs
  Content.Server/Backmen/EvilTwin/EvilTwinSystem.cs
  Content.Server/Backmen/Fugitive/FugitiveSystem.cs
  Content.Server/Backmen/GameTicking/Rules/FleshCultRuleSystem.cs
  Content.Server/Objectives/ObjectivesSystem.cs
  Resources/Locale/ru-RU/backmen/objectives/conditions/syndicate.ftl
  Resources/Locale/ru-RU/backmen/objectives/memories.ftl
  Resources/Prototypes/Backmen/Objectives/evilTwinObjectives.yml
  Resources/Prototypes/Backmen/Objectives/traitorCybersun.yml
  Resources/Prototypes/Backmen/Objectives/traitorDonk.yml
  Resources/Prototypes/Backmen/Objectives/traitorGorlex.yml
  Resources/Prototypes/Backmen/Objectives/traitorInterdyne.yml
  Resources/Prototypes/Backmen/Objectives/traitorWaffle.yml
Labels: Changes: Localization

#602 Upstream sync
  .editorconfig
  Content.Server/Backmen/Blob/BlobCoreActionSystem.cs
  Content.Server/Backmen/GameTicking/Rules/BlobRuleSystem.cs
  Content.Server/Database/UserDbDataManager.cs
  Content.Server/Explosion/Components/ExplosiveComponent.cs
  Content.Server/Explosion/Components/RepeatingTriggerComponent.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Server/Preferences/Managers/IServerPreferencesManager.cs
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
  Content.Server/Shuttles/Systems/ThrusterSystem.cs
  Content.Server/StationEvents/EventManagerSystem.cs
  Content.Shared/Alert/AlertType.cs
  Content.Shared/ReagentSpeed/ReagentSpeedComponent.cs
  Content.Shared/ReagentSpeed/ReagentSpeedSystem.cs
  Content.Shared/Weapons/Ranged/Components/ActionGunComponent.cs
  Content.Shared/Weapons/Ranged/Systems/ActionGunSystem.cs
  Content.Shared/Weapons/Reflect/ReflectComponent.cs
  Content.Shared/Weapons/Reflect/ReflectSystem.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/alerts/alerts.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Anomaly/behaviours.yml
  Resources/Prototypes/Backmen/Adminbuse/GhostRole/clouwn.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Mobs/NPCs/hellspawn.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/magic.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Entities/Structures/Furniture/toilet.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
  Resources/Prototypes/Entities/Structures/Piping/Disposal/pipes.yml
  Resources/Prototypes/Entities/Structures/Storage/morgue.yml
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Textures/Clothing/Hands/Gloves/combat.rsi/equipped-HAND.png
  Resources/Textures/Clothing/Hands/Gloves/combat.rsi/icon.png
  Resources/Textures/Clothing/Hands/Gloves/combat.rsi/inhand-left.png
  Resources/Textures/Clothing/Hands/Gloves/combat.rsi/inhand-right.png
  Resources/Textures/Clothing/Hands/Gloves/combat.rsi/meta.json
  Resources/Textures/Interface/Alerts/deflecting.rsi/deflecting0.png
  Resources/Textures/Interface/Alerts/deflecting.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

#604 Update uplink bundles
  Resources/Prototypes/Backmen/Catalog/uplink_nomad.yml
  Resources/Prototypes/Backmen/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: No C#

#607 RXBZZ перераспределение
  Resources/Audio/Weapons/Guns64/Volkite/laser.ogg
  Resources/Audio/Weapons/Guns64/Volkite/volkite_1.ogg
  Resources/Audio/Weapons/Guns64/Volkite/volkite_2.ogg
  Resources/Audio/Weapons/Guns64/Volkite/volkite_3.ogg
  Resources/Audio/Weapons/Guns64/Volkite/volkite_4.ogg
  Resources/Audio/Weapons/Guns64/Volkite/volkite_reload.ogg
  Resources/Audio/Weapons/Guns64/Volkite/volkite_unload.ogg
  Resources/Locale/ru-RU/backmen/SpecForces.ftl
  Resources/Prototypes/Backmen/Access/ueg.yml
  Resources/Prototypes/Backmen/Adminbuse/CentCommKid.yml
  Resources/Prototypes/Backmen/Adminbuse/centFifa.yml
  Resources/Prototypes/Backmen/Entities/Clothing/Id/Coin.yml
  Resources/Prototypes/Backmen/Entities/Objects/Devices/Electronics/door_access.yml
  Resources/Prototypes/Backmen/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/UEG.rsi/assembly.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/UEG.rsi/bolted_open_unlit.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/UEG.rsi/bolted_unlit.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/UEG.rsi/closed.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/UEG.rsi/closed_unlit.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/UEG.rsi/closing.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/UEG.rsi/closing_unlit.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/UEG.rsi/deny_unlit.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/UEG.rsi/emergency_open_unlit.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/UEG.rsi/emergency_unlit.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/UEG.rsi/meta.json
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/UEG.rsi/open.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/UEG.rsi/open_unlit.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/UEG.rsi/opening.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/UEG.rsi/opening_unlit.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/UEG.rsi/panel_closed.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/UEG.rsi/panel_closing.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/UEG.rsi/panel_open.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/UEG.rsi/panel_opening.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/UEG.rsi/sparks.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/UEG.rsi/sparks_broken.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/UEG.rsi/sparks_damaged.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/UEG.rsi/sparks_open.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/UEG.rsi/welded.png
Labels: Changes: Sprites, No C#, Changes: Localization

#609 job name ftl tweaks
  Resources/Locale/ru-RU/backmen/Roles/Jobs/CentCom/centcom_official.ftl
  Resources/Locale/ru-RU/backmen/job/job-names.ftl
  Resources/Locale/ru-RU/backmen/preset-shipwrecked.ftl
  Resources/Locale/ru-RU/backmen/prototypes/Roles/Jobs/Silicons/BPLA.ftl
Labels: No C#, Changes: Localization

#610 Some um... part 3?
  Resources/Locale/ru-RU/backmen/ghost/roles/ghost-role-component.ftl
  Resources/Maps/Backmen/corvax_centcomm_bkm.yml
  Resources/Maps/centcomm.yml
  Resources/Prototypes/Backmen/Entities/Mobs/NPC/blob.yml
  Resources/Prototypes/Backmen/Entities/Mobs/NPC/mutants.yml
  Resources/Prototypes/Backmen/Entities/Mobs/Player/humanoids.yml
  Resources/Prototypes/Backmen/Entities/Objects/Misc/canned_entities.yml
  Resources/Prototypes/Backmen/Entities/Objects/Misc/soul_stones.yml
  Resources/Prototypes/Backmen/Entities/misc/stationghost.yml
  Resources/Prototypes/Backmen/NPCs/flesh_cult.yml
Labels: Changes: Map, No C#, Changes: Localization

#612 [Translate] Backmen FTL
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/clothing/eyes/glasses.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/clothing/head/helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/clothing/head/masks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/clothing/head/soft.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/clothing/neck/cloaks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/clothing/neck/medals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/clothing/neck/ties.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/clothing/outerclothing/coat.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/clothing/outerclothing/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/clothing/outerclothing/softsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/mobs/npc/suppa_npcs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/mobs/player/humanoids.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/mobs/player/silicons/BPLA.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/mobs/player/silicons/BPLA_MED.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/mobs/player/special.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/mobs/player/stationai.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/mobs/spawners/Spawner_BPLA.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/mobs/spawners/Spawner_Deliveryman.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/mobs/species/arachne.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/mobs/species/felinid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/mobs/species/foxes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/mobs/species/golem.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/mobs/species/hologram.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/mobs/species/oni.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/objects/devices/electronics/door_access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/objects/specific/antagonist.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/roles/jobs/centcom/cargotech.ftl
  Resources/Prototypes/Backmen/Adminbuse/CentCommKid.yml
  Resources/Prototypes/Backmen/Entities/Objects/Misc/indentification_cards.yml
  Resources/Prototypes/Backmen/Entities/Objects/Specific/antagonist.yml
  Resources/Prototypes/Backmen/NPCs/bri'ish.yml
  Resources/Prototypes/Backmen/Roles/Jobs/CentCom/cargotech.yml
  Resources/Prototypes/Backmen/Roles/Jobs/CentCom/centcom_admiral.yml
  Resources/Prototypes/Backmen/Roles/Jobs/CentCom/centcom_official.yml
  Resources/Prototypes/Backmen/Roles/Jobs/CentCom/head_of_security.yml
  Resources/Prototypes/Backmen/Roles/Jobs/CentCom/intern.yml
  Resources/Prototypes/Backmen/Roles/Jobs/CentCom/operator.yml
  Resources/Prototypes/Backmen/Roles/Jobs/CentCom/private_officer.yml
Labels: No C#, Changes: Localization

#615 Fix
  Content.Client/Lobby/UI/CharacterSetupGui.xaml.cs
  Content.Shared/Backmen/CCVar/CCVars.cs
Labels: Changes: UI

#616 Update backmenstandart.yml
  Resources/Prototypes/Backmen/Maps/Pool/backmenstandart.yml
Labels: No C#

#618 Fix rxbzz
  Resources/Maps/Backmen/Grids/NT-CC-SRV-013.yml
  Resources/Prototypes/Backmen/specforces.yml
Labels: No C#

#619 Medals
  Resources/Locale/ru-RU/backmen/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/clothing/neck/medals.ftl
  Resources/Prototypes/Backmen/Entities/Clothing/Neck/medals.yml
  Resources/Prototypes/Backmen/Loadouts/Miscellaneous/medals.yml
  Resources/Prototypes/Backmen/Loadouts/loadout_groups.yml
  Resources/Prototypes/Backmen/Loadouts/role_loadout.yml
  Resources/Prototypes/Corvax/Loadouts/role_loadouts.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: No C#, Changes: Localization

#626 Update Rook
  Resources/Maps/Backmen/rook.yml
Labels: No C#

#628 [Fix] Backmen Race Hands
  Resources/Prototypes/_Backmen/Body/Prototypes/arachne.yml
  Resources/Prototypes/_Backmen/Body/Prototypes/felinid.yml
  Resources/Prototypes/_Backmen/Body/Prototypes/haisenberg.yml
  Resources/Prototypes/_Backmen/Body/Prototypes/harpy.yml
  Resources/Prototypes/_Backmen/Body/Prototypes/shadowkin.yml
Labels: No C#

#629 ninja-fix
  Resources/Locale/ru-RU/backmen/entities/clothing/hands/helmets.ftl
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/Head/helmets.yml
Labels: No C#, Changes: Localization

#631 Fix Rook
  Resources/Maps/Backmen/rook.yml
Labels: No C#

#632 Some small again
  Resources/Locale/ru-RU/backmen/markings/foxes.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/vulpkanin.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Customization/Markings/fox_markings.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Player/stationai.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/foxes.yml
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/meta.json
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/tail_fox_waggin.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/vulp_tail_inner.png
Labels: Changes: Sprites, No C#, Changes: Localization

#634 Buff medic bundle
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Backmen/Catalog/uplink_nomad.yml
Labels: No C#
