Repository Rxup/space-station-14, pull requests merged in 2024-11, with the labels that each got.

#877 [Tweak] Body doll in Health Analyzer menu
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
  Content.Server/Medical/CryoPodSystem.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Shared/MedicalScanner/HealthAnalyzerScannedUserMessage.cs
Labels: Changes: UI

#878 Tweak Shoko's and Hive surgery room
  Resources/Maps/Backmen/backmen_hive.yml
  Resources/Maps/Backmen/backmen_shoukou.yml
Labels: Changes: Map, No C#

#882 [Map] Kettle Update
  Resources/Maps/Backmen/backmen_kettle.yml
  Resources/Prototypes/_Backmen/Maps/backmen_kettle.yml
Labels: Changes: Map, No C#

#880 [Fix] Спонсоркие лодауты
  Resources/Prototypes/_Backmen/Loadouts/sponsor.yml
Labels: No C#

#891 [Tweak]Remove NukeOps from base Vote
  Resources/Prototypes/game_presets.yml
Labels: No C#, Tweak

#893 [Fix] Fix lags by deleting Ruins, VGRoid & Shuttle events
  Resources/ConfigPresets/Backmen/main.toml
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/_Backmen/game_presets.yml
  Resources/Prototypes/game_presets.yml
Labels: No C#

#892 [Port] Surgery fixes: Part 3
  Content.Client/Backmen/Body/BodySystem.cs
  Content.Client/Backmen/Surgery/SurgeryBui.cs
  Content.Client/Backmen/Surgery/SurgerySystem.cs
  Content.Client/Backmen/Surgery/SurgeryWindow.xaml
  Content.Client/Body/Systems/BodySystem.cs
  Content.Server/Backmen/Surgery/SurgerySystem.cs
  Content.Server/Body/Systems/BodySystem.cs
  Content.Shared/Backmen/Surgery/Body/BodyPartAppearanceComponent.cs
  Content.Shared/Backmen/Surgery/Body/SharedBodySystem.PartAppearance.cs
  Content.Shared/Backmen/Surgery/SharedSurgerySystem.Steps.cs
  Content.Shared/Backmen/Surgery/SharedSurgerySystem.cs
  Content.Shared/Backmen/Surgery/SurgeryUiRefreshEvent.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Resources/Locale/en-US/surgery/surgery-ui.ftl
  Resources/Locale/ru-RU/backmen/surgery/surgery-ui.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: UI, Changes: Localization

#896 ArrivalsProtect update
  Content.Server/Backmen/Arrivals/ArrivalsProtectSystem.cs
  Content.Shared/Backmen/Arrivals/FlatPackUserAttemptUseEvent.cs
  Content.Shared/Backmen/Arrivals/SharedArrivalsProtectSystem.cs
  Content.Shared/Construction/SharedFlatpackSystem.cs
  Resources/Locale/ru-RU/construction/components/flatpack.ftl
Labels: Changes: Localization

#889 [FEATURE] Purple maid/sec cuffs
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Misc/handcuffs.yml
  Resources/Textures/Backmen/Objects/Misc/purplecuff.rsi/body-overlay-2.png
  Resources/Textures/Backmen/Objects/Misc/purplecuff.rsi/cuff.png
  Resources/Textures/Backmen/Objects/Misc/purplecuff.rsi/inhand-left.png
  Resources/Textures/Backmen/Objects/Misc/purplecuff.rsi/inhand-right.png
  Resources/Textures/Backmen/Objects/Misc/purplecuff.rsi/meta.json
Labels: Changes: Sprites, No C#

#897 fix sponsor loadout
  Resources/Prototypes/Corvax/Loadouts/role_loadouts.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Backmen/Loadouts/sponsor.yml
Labels: No C#

#890 [Tweak] Rework BodyPartComponent to use DamageSpecifier
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
  Content.Server/Backmen/Surgery/SurgerySystem.cs
  Content.Server/Backmen/Targeting/TargetingSystem.cs
  Content.Server/Medical/HealingSystem.cs
  Content.Shared/Backmen/Standing/SharedLayingDownSystem.cs
  Content.Shared/Backmen/Surgery/Body/SharedBodySystem.Integrity.cs
  Content.Shared/Backmen/Surgery/SharedSurgerySystem.Steps.cs
  Content.Shared/Backmen/Surgery/SharedSurgerySystem.cs
  Content.Shared/Backmen/Targeting/SharedTargetingSystem.cs
  Content.Shared/Backmen/Targeting/TargetBodyPart.cs
  Content.Shared/Body/Part/BodyPartComponent.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
Labels: Changes: UI

#902 [Feature] A few tools
  Content.Server/Backmen/Administration/Commands/Toolshed/ChangeAccessCommand.cs
  Content.Server/Backmen/Administration/Commands/Toolshed/ChangeAccessReaderCommand.cs
  Content.Server/Backmen/Administration/Commands/Toolshed/ChangeFactionCommand.cs
  Content.Shared/Access/Systems/AccessReaderSystem.cs
  Content.Shared/Access/Systems/SharedAccessSystem.cs
  Resources/Locale/en-US/backmen/toolshed.ftl
  Resources/Locale/ru-RU/backmen/toolshed.ftl
  Tools/backmen/maprender/package-lock.json
Labels: Changes: Localization, Feature, Ready2Merge

#908 [FIX] Cuff popup
  Resources/Prototypes/_Backmen/Entities/Objects/Misc/handcuffs.yml
Labels: No C#

#914 [Fix] Anti Psychic Knife Storage Sprite
  Resources/Textures/Backmen/Objects/Weapons/Melee/anti_psychic_knife.rsi/meta.json
  Resources/Textures/Backmen/Objects/Weapons/Melee/anti_psychic_knife.rsi/storage.png
Labels: Changes: Sprites, No C#

#922 Update undercutright.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/undercutright.png
Labels: Changes: Sprites, No C#

#921 [Map] dmitri things
  Resources/Maps/Backmen/Adminbuse/UEG-Police-Riot-1.yml
  Resources/Maps/Backmen/Adminbuse/UEG-Police-Riot-2.yml
Labels: Changes: Map, No C#

#925 [PORT]Health Analyzer update
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerBoundUserInterface.cs
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Shared/MedicalScanner/HealthAnalyzerScannedUserMessage.cs
  Resources/Locale/ru-RU/medical/components/health-analyzer-component.ftl
  Resources/Locale/ru-RU/medical/components/medical-scanner-component.ftl
Labels: Changes: UI, Changes: Localization

#906 [Fix] Borg and Golem LayDown
  Content.Server/Backmen/Administration/Commands/Toolshed/ChangeLaws.cs
  Content.Server/Silicons/Laws/SiliconLawSystem.cs
  Content.Shared/Backmen/Standing/SharedLayingDownSystem.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Resources/Locale/ru-RU/backmen/toolshed.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/golem.yml
Labels: Changes: Localization, Feature, Fix, Tweak

#933 обновление whitelist логики в ui, обновление требований у цк ролей
  Content.Client/UserInterface/Systems/Ghost/Controls/Roles/GhostRolesEui.cs
  Content.Server/Backmen/Reinforcement/ReinforcementSystem.cs
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
  Content.Shared/Ghost/Roles/GhostRolesEuiMessages.cs
  Resources/Locale/en-US/backmen/playtime.ftl
  Resources/Locale/ru-RU/backmen/playtime.ftl
  Resources/Maps/centcomm.yml
  Resources/Prototypes/_Backmen/CentComm/BKCCAssistant.yml
  Resources/Prototypes/_Backmen/CentComm/BKCCCargo.yml
  Resources/Prototypes/_Backmen/CentComm/BKCCOperator.yml
  Resources/Prototypes/_Backmen/Loadouts/Jobs/CentCom/BKCCCargo.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/blueshield.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/cargotech.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/centcom_admiral.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/centcom_official.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/head_of_security.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/intern.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/operator.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/private_officer.yml
Labels: Changes: Map, Changes: Localization, S: Untriaged

#935 [Balance] RevenantBuff
  Content.Server/Revenant/EntitySystems/RevenantSystem.Abilities.cs
  Resources/Prototypes/_Backmen/Diseases/noninfectious.yml
Labels: S: Untriaged

#936 [Fix] фиксы синхронизации системы лежания
  Content.Client/Backmen/Standing/LayingDownSystem.cs
  Content.Shared/Backmen/Standing/SharedLayingDownSystem.cs
  Content.Shared/Standing/StandingStateComponent.cs
Labels: S: Untriaged

#927 [Feature] They did surgery on a monkey
  Resources/Locale/ru-RU/backmen/entities/bodyparts.ftl
  Resources/Locale/ru-RU/backmen/species/species.ftl
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Body/Parts/Animal/kobold.yml
  Resources/Prototypes/Body/Parts/Animal/monkey.yml
  Resources/Prototypes/Body/Parts/Animal/rat.yml
  Resources/Prototypes/Body/Prototypes/Animal/mothroach.yml
  Resources/Prototypes/Body/Prototypes/Animal/rat.yml
  Resources/Prototypes/Body/Prototypes/kobold.yml
  Resources/Prototypes/Body/Prototypes/monkey.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/InventoryTemplates/monkey_inventory_template.yml
  Resources/Prototypes/Reagents/gases.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/primate.yml
  Resources/Prototypes/_Backmen/Species/kobold.yml
  Resources/Prototypes/_Backmen/Species/monkey.yml
  Resources/Textures/Mobs/Animals/kobold.rsi/eyes.png
  Resources/Textures/Mobs/Animals/kobold.rsi/full.png
  Resources/Textures/Mobs/Animals/kobold.rsi/head_f.png
  Resources/Textures/Mobs/Animals/kobold.rsi/head_m.png
  Resources/Textures/Mobs/Animals/kobold.rsi/innerline.png
  Resources/Textures/Mobs/Animals/kobold.rsi/kobold.png
  Resources/Textures/Mobs/Animals/kobold.rsi/l_arm.png
  Resources/Textures/Mobs/Animals/kobold.rsi/l_foot.png
  Resources/Textures/Mobs/Animals/kobold.rsi/l_hand.png
  Resources/Textures/Mobs/Animals/kobold.rsi/l_leg.png
  Resources/Textures/Mobs/Animals/kobold.rsi/meta.json
  Resources/Textures/Mobs/Animals/kobold.rsi/r_arm.png
  Resources/Textures/Mobs/Animals/kobold.rsi/r_foot.png
  Resources/Textures/Mobs/Animals/kobold.rsi/r_hand.png
  Resources/Textures/Mobs/Animals/kobold.rsi/r_leg.png
  Resources/Textures/Mobs/Animals/kobold.rsi/tail.png
  Resources/Textures/Mobs/Animals/kobold.rsi/torso_f.png
  Resources/Textures/Mobs/Animals/kobold.rsi/torso_m.png
  Resources/Textures/Mobs/Animals/monkey.rsi/eyes.png
  Resources/Textures/Mobs/Animals/monkey.rsi/full.png
  Resources/Textures/Mobs/Animals/monkey.rsi/head_f.png
  Resources/Textures/Mobs/Animals/monkey.rsi/head_m.png
  Resources/Textures/Mobs/Animals/monkey.rsi/l_arm.png
  Resources/Textures/Mobs/Animals/monkey.rsi/l_foot.png
  Resources/Textures/Mobs/Animals/monkey.rsi/l_hand.png
  Resources/Textures/Mobs/Animals/monkey.rsi/l_leg.png
  Resources/Textures/Mobs/Animals/monkey.rsi/meta.json
  Resources/Textures/Mobs/Animals/monkey.rsi/r_arm.png
  Resources/Textures/Mobs/Animals/monkey.rsi/r_foot.png
  Resources/Textures/Mobs/Animals/monkey.rsi/r_hand.png
  Resources/Textures/Mobs/Animals/monkey.rsi/r_leg.png
  Resources/Textures/Mobs/Animals/monkey.rsi/tail.png
  Resources/Textures/Mobs/Animals/monkey.rsi/torso_f.png
  Resources/Textures/Mobs/Animals/monkey.rsi/torso_m.png
Labels: Changes: Sprites, No C#, Changes: Localization, Changes: No C#

#931 [Tweak] Mood upgrade
  Content.Server/Backmen/Mood/MoodComponent.cs
  Content.Server/Backmen/Mood/MoodSystem.cs
  Content.Server/EntityEffects/Effects/ChemAddMoodlet.cs
  Content.Shared/Backmen/Mood/MoodEffectPrototype.cs
  Resources/Locale/en-US/guidebook/chemistry/effects.ftl
  Resources/Locale/en-US/mood/mood.ftl
  Resources/Locale/ru-RU/backmen/guidebook/guides.ftl
  Resources/Locale/ru-RU/backmen/mood/mood.ftl
  Resources/Prototypes/Guidebook/newplayer.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/_Backmen/Entities/Guidebook/mood_guidebook.yml
  Resources/Prototypes/_Backmen/Guidebook/newplayer.yml
  Resources/Prototypes/_Backmen/Mood/drugs.yml
  Resources/Prototypes/_Backmen/Mood/genericNeeds.yml
  Resources/Prototypes/_Backmen/Mood/genericNegativeEffects.yml
  Resources/Prototypes/_Backmen/Reagents/psionic.yml
  Resources/ServerInfo/_Backmen/Guidebook/Controls/Mood.xml
  Resources/ServerInfo/_Backmen/Guidebook/Controls/SpecialActions.xml
Labels: Changes: Localization, S: Untriaged

#939 обновление gptchat, добавление ттс для фигурок
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml.cs
  Content.Client/Administration/UI/Bwoink/BwoinkWindow.xaml
  Content.Client/UserInterface/Systems/Info/InfoUIController.cs
  Content.Server/Administration/Systems/AdminSystem.cs
  Content.Server/Administration/Systems/BwoinkSystem.cs
  Content.Server/Backmen/Administration/Bwoink/Gpt/GptAhelpSystem.cs
  Content.Server/Backmen/Administration/Bwoink/Gpt/GptCommands.cs
  Content.Server/Backmen/Administration/Bwoink/Gpt/Models/GptUserInfo.cs
  Content.Server/Corvax/TTS/TTSSystem.cs
  Content.Shared/Administration/PlayerInfo.cs
  Content.Shared/Backmen/CCVar/CCVars.cs
  Resources/Locale/en-US/administration/ui/actions.ftl
  Resources/Locale/ru-RU/administration/ui/actions.ftl
  Resources/Prototypes/Entities/Objects/Fun/figurines.yml
Labels: Changes: UI, Changes: Localization, S: Untriaged

#929 [Port] Better Lizards 2
  Resources/Locale/en-US/_backmen/markings/reptilian.ftl
  Resources/Locale/ru-RU/backmen/markings/reptilian.ftl
  Resources/Prototypes/_Backmen/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Textures/Backmen/Mobs/Customization/reptilian.rsi/meta.json
  Resources/Textures/Backmen/Mobs/Customization/reptilian.rsi/spines_aquatic_alt.png
  Resources/Textures/Backmen/Mobs/Customization/reptilian.rsi/spines_long_alt.png
  Resources/Textures/Backmen/Mobs/Customization/reptilian.rsi/spines_longmembrane_alt.png
  Resources/Textures/Backmen/Mobs/Customization/reptilian.rsi/spines_short_alt.png
  Resources/Textures/Backmen/Mobs/Customization/reptilian.rsi/spines_shortmembrane_alt.png
  Resources/Textures/Backmen/Mobs/Customization/reptilian_64x32.rsi/kangaroo.png
  Resources/Textures/Backmen/Mobs/Customization/reptilian_64x32.rsi/meta.json
  Resources/Textures/Backmen/Mobs/Customization/reptilian_64x32.rsi/snake_large.png
  Resources/Textures/Backmen/Mobs/Customization/reptilian_64x32.rsi/snake_large_overlay.png
  Resources/Textures/Backmen/Mobs/Customization/reptilian_64x32.rsi/snake_large_wagging.png
  Resources/Textures/Backmen/Mobs/Customization/reptilian_64x32.rsi/snake_large_wagging_overlay.png
  Resources/Textures/Backmen/Mobs/Customization/reptilian_64x32.rsi/tail_kangaroo.png
  Resources/Textures/Backmen/Mobs/Customization/reptilian_64x32.rsi/tail_snakelarge.png
  Resources/Textures/Backmen/Mobs/Customization/reptilian_64x32.rsi/tail_snakelarge_overlay.png
  Resources/Textures/Backmen/Mobs/Customization/reptilian_64x32.rsi/tail_westerndragon_overlay.png
  Resources/Textures/Backmen/Mobs/Customization/reptilian_64x32.rsi/western_dragon.png
  Resources/Textures/Backmen/Mobs/Customization/reptilian_64x32.rsi/western_dragon_overlay.png
  Resources/Textures/Backmen/Mobs/Customization/snouts.rsi/eastern_dragon.png
  Resources/Textures/Backmen/Mobs/Customization/snouts.rsi/eastern_dragon_overlay.png
  Resources/Textures/Backmen/Mobs/Customization/snouts.rsi/eastern_dragon_usiki.png
  Resources/Textures/Backmen/Mobs/Customization/snouts.rsi/easterndnw_primary.png
  Resources/Textures/Backmen/Mobs/Customization/snouts.rsi/easterndnw_secondary.png
  Resources/Textures/Backmen/Mobs/Customization/snouts.rsi/easterndw_primary.png
  Resources/Textures/Backmen/Mobs/Customization/snouts.rsi/guilmon.png
  Resources/Textures/Backmen/Mobs/Customization/snouts.rsi/meta.json
  Resources/Textures/Backmen/Mobs/Customization/snouts.rsi/noodle.png
  Resources/Textures/Backmen/Mobs/Customization/snouts.rsi/noodle_overlay_1.png
  Resources/Textures/Backmen/Mobs/Customization/snouts.rsi/noodle_overlay_2.png
Labels: Changes: Sprites, No C#, Changes: Localization

#942 фикс очень важного бага
  Content.Shared/Backmen/Surgery/SurgeryStepDamageChangeEvent.cs
Labels: S: Untriaged

#945 [Port] Surgery fix PartAppearance and other minor fixes
  Content.Shared/Backmen/Surgery/Body/SharedBodySystem.PartAppearance.cs
  Content.Shared/Backmen/Surgery/Tools/BoneSawComponent.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Resources/keybinds.yml
Labels: Fix, Ready2Merge, size/M

#943 Resprite tanks
  Resources/Textures/Objects/Tanks/anesthetic.rsi/icon.png
  Resources/Textures/Objects/Tanks/anesthetic.rsi/meta.json
  Resources/Textures/Objects/Tanks/emergency.rsi/icon.png
  Resources/Textures/Objects/Tanks/emergency.rsi/meta.json
  Resources/Textures/Objects/Tanks/emergency_double.rsi/icon.png
  Resources/Textures/Objects/Tanks/emergency_double.rsi/meta.json
  Resources/Textures/Objects/Tanks/emergency_yellow.rsi/icon.png
  Resources/Textures/Objects/Tanks/emergency_yellow.rsi/meta.json
  Resources/Textures/Objects/Tanks/generic.rsi/icon.png
  Resources/Textures/Objects/Tanks/generic.rsi/meta.json
  Resources/Textures/Objects/Tanks/oxygen.rsi/icon.png
  Resources/Textures/Objects/Tanks/oxygen.rsi/meta.json
  Resources/Textures/Objects/Tanks/plasma.rsi/icon.png
  Resources/Textures/Objects/Tanks/plasma.rsi/meta.json
  Resources/Textures/Objects/Tanks/red.rsi/icon.png
  Resources/Textures/Objects/Tanks/red.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#946 Обновление карты цк
  Resources/Maps/centcomm.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/XL

#947 [Fix] фикс языка медбота
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#948 [Port] Shitmed localization
  Resources/Locale/ru-RU/backmen/species/harpy.ftl
  Resources/Locale/ru-RU/backmen/surgery/surgery-borg-modules.ftl
  Resources/Locale/ru-RU/backmen/surgery/surgery-cybernetic-items.ftl
  Resources/Locale/ru-RU/backmen/surgery/surgery-items.ftl
  Resources/Locale/ru-RU/backmen/surgery/surgery-operations.ftl
  Resources/Locale/ru-RU/backmen/surgery/surgery-popup.ftl
  Resources/Locale/ru-RU/backmen/surgery/technologies.ftl
Labels: No C#, Changes: Localization, Fix, Ready2Merge, Changes: No C#

#952 [Hotfix] Inventory slots dissapear at roundstart
  Content.Shared/Inventory/InventorySystem.Slots.cs
Labels: S: Untriaged, size/XS

#957 [Fix] centcom door access fix
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/objects/devices/electronics/door_access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/structures/doors/airlocks/access.ftl
  Resources/Maps/centcomm.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Devices/Electronics/door_access.yml
  Resources/Prototypes/_Backmen/Entities/Structures/Doors/Airlocks/access.yml
Labels: Changes: Map, Changes: Localization, Fix, S: Untriaged, Changes: No C#, size/XL

#958 Fix centcom access
  Resources/Maps/centcomm.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
Labels: Changes: Map, Changes: Localization, S: Untriaged, Changes: No C#, size/XL

#934 [Tweak] Shipyard & Salvage Update
  Resources/Maps/Backmen/ForSale/barge.yml
  Resources/Maps/Backmen/ForSale/helix.yml
  Resources/Maps/Backmen/ForSale/ntcv-nomad.yml
  Resources/Maps/Backmen/ForSale/ntsv-tote.yml
  Resources/Maps/Backmen/ForSale/ntv-pulse.yml
  Resources/Maps/Backmen/ForSale/prospecter.yml
  Resources/Maps/Backmen/ForSale/pts.yml
  Resources/Maps/Dungeon/ruined_dwellings.yml
  Resources/Maps/Dungeon/ruined_hospital.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Corvax/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Corvax/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_Backmen/Catalog/default_shipyard_catalog.yml
  Resources/Prototypes/_Backmen/Entities/Structures/Machines/computers.yml
  Resources/migration.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#
