Repository Rxup/space-station-14, pull requests merged in 2024-07, with the labels that each got.

#670 принтер деняяк
  Resources/Locale/ru-RU/backmen/hiddenDescription.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/space_cash.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/protoprint.yml
  Resources/Prototypes/_Backmen/Catalog/uplink_catalog.yml
  Resources/Textures/Backmen/Structures/Machines/protoprint.rsi/building.png
  Resources/Textures/Backmen/Structures/Machines/protoprint.rsi/icon.png
  Resources/Textures/Backmen/Structures/Machines/protoprint.rsi/inserting.png
  Resources/Textures/Backmen/Structures/Machines/protoprint.rsi/meta.json
  Resources/Textures/Backmen/Structures/Machines/protoprint.rsi/panel.png
  Resources/Textures/Backmen/Structures/Machines/protoprint.rsi/unlit.png
Labels: Changes: Sprites, No C#, Changes: Localization

#673 rule update
  Resources/ServerInfo/_Backmen/GuideBook/ServerRules/Cat3.xml
  Resources/ServerInfo/_Backmen/GuideBook/ServerRules/Cat6.xml
Labels: No C#

#674 BPLA disable
  Resources/Prototypes/Corvax/Maps/astra.yml
  Resources/Prototypes/Corvax/Maps/avrite.yml
  Resources/Prototypes/Corvax/Maps/delta.yml
  Resources/Prototypes/Corvax/Maps/frame.yml
  Resources/Prototypes/Corvax/Maps/gelta.yml
  Resources/Prototypes/Corvax/Maps/ishimura.yml
  Resources/Prototypes/Corvax/Maps/maus.yml
  Resources/Prototypes/Corvax/Maps/outpost.yml
  Resources/Prototypes/Corvax/Maps/paper.yml
  Resources/Prototypes/Corvax/Maps/pearl.yml
  Resources/Prototypes/Corvax/Maps/pilgrim.yml
  Resources/Prototypes/Corvax/Maps/silly.yml
  Resources/Prototypes/Corvax/Maps/terra.yml
  Resources/Prototypes/Maps/atlas.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/cluster.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/europa.yml
  Resources/Prototypes/Maps/fland.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/oasis.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/origin.yml
  Resources/Prototypes/Maps/packed.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/Maps/train.yml
  Resources/Prototypes/_Backmen/Maps/backmen_aspid.yml
  Resources/Prototypes/_Backmen/Maps/backmen_kettle.yml
  Resources/Prototypes/_Backmen/Maps/cogmap.yml
  Resources/Prototypes/_Backmen/Maps/hive.yml
  Resources/Prototypes/_Backmen/Maps/no_madDelta.yml
  Resources/Prototypes/_Backmen/Maps/rook.yml
  Resources/Prototypes/_Backmen/Maps/shoukou.yml
  Resources/Prototypes/_Backmen/Maps/tortuga.yml
Labels: Changes: Map, No C#

#671 Fix blob + specforce
  Content.IntegrationTests/Tests/Backmen/SpecForce/SpecForceTest.cs
  Content.Server/Backmen/Administration/Commands/CallSpecForcesCommand.cs
  Content.Server/Backmen/Blob/BlobCoreActionSystem.cs
  Content.Server/Backmen/Blob/BlobCoreSystem.cs
  Content.Server/Backmen/Blob/Components/StationBlobConfigComponent.cs
  Content.Server/Backmen/GameTicking/Rules/BlobRuleSystem.cs
  Content.Server/Backmen/Objectives/BlobCaptureCondition.cs
  Content.Server/Backmen/SpecForces/SpecForceTeamPrototype.cs
  Content.Server/Backmen/SpecForces/SpecForcesSystem.cs
  Content.Shared/Backmen/CCVar/CCVars.cs
  Resources/Prototypes/Corvax/Maps/avrite.yml
  Resources/Prototypes/Corvax/Maps/outpost.yml
  Resources/Prototypes/Corvax/Maps/split.yml
  Resources/Prototypes/Maps/atlas.yml
  Resources/Prototypes/Maps/cluster.yml
  Resources/Prototypes/Maps/debug.yml
  Resources/Prototypes/Maps/europa.yml
  Resources/Prototypes/Maps/fland.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/origin.yml
  Resources/Prototypes/Maps/packed.yml
  Resources/Prototypes/Maps/reach.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/Maps/train.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/blob.yml
  Resources/Prototypes/_Backmen/Maps/no_madDelta.yml
  Resources/Prototypes/_Backmen/Maps/rook.yml
  Resources/Prototypes/_Backmen/Maps/shoukou.yml
  Resources/Prototypes/_Backmen/specforces.yml
Labels: Changes: Map

#675 Update backmen_aspid
  Resources/Maps/Backmen/backmen_aspid.yml
Labels: No C#

#677 Remove Cicada-3301 lobby music & Pivo lobby art
  Resources/Audio/Lobby/Cicada-3301-The-Instar-Emergence.ogg
  Resources/Audio/Lobby/attributions.yml
  Resources/Prototypes/SoundCollections/lobby.yml
  Resources/Prototypes/_Backmen/lobbyscreens.yml
  Resources/Textures/Backmen/LobbyScreens/attributions.yml
  Resources/Textures/Backmen/LobbyScreens/pivo.png
  Resources/Textures/Backmen/LobbyScreens/pivo.yml
Labels: No C#

#678 rules upd
  Resources/ServerInfo/_Backmen/GuideBook/ServerRules/Cat1.xml
  Resources/ServerInfo/_Backmen/GuideBook/ServerRules/Cat2.xml
  Resources/ServerInfo/_Backmen/GuideBook/ServerRules/Cat3.xml
  Resources/ServerInfo/_Backmen/GuideBook/ServerRules/Cat4.xml
  Resources/ServerInfo/_Backmen/GuideBook/ServerRules/Cat5.xml
  Resources/ServerInfo/_Backmen/GuideBook/ServerRules/Cat6.xml
  Resources/ServerInfo/_Backmen/GuideBook/ServerRules/Cat7.xml
  Resources/ServerInfo/_Backmen/GuideBook/ServerRules/Cat8.xml
  Resources/ServerInfo/_Backmen/GuideBook/ServerRules/Cat9.xml
  Resources/ServerInfo/_Backmen/GuideBook/ServerRules/RulesBackmen.xml
  Resources/ServerInfo/_RulesBackmen.txt
  Resources/ServerInfo/_RulesBackmen_old.txt
Labels: No C#

#683 Revolver enchanted
  Resources/Audio/Weapons/Guns64/Revolvers/44mag.ogg
  Resources/Audio/Weapons/Guns64/Revolvers/mateba.ogg
  Resources/Audio/Weapons/Guns64/Revolvers/nagant.ogg
  Resources/Audio/Weapons/Guns64/Revolvers/revolver.ogg
  Resources/Audio/Weapons/Guns64/Revolvers/revolver_light.ogg
  Resources/Audio/Weapons/Guns64/Revolvers/revolver_load.ogg
  Resources/Audio/Weapons/Guns64/Revolvers/revolver_spun.ogg
  Resources/Prototypes/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/guns64.yml
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Pistols/m1911/big.rsi/base.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Pistols/m1911/big.rsi/bolt-open.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Pistols/m1911/big.rsi/icon.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Pistols/m1911/big.rsi/mag-0.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Pistols/m1911/big.rsi/meta.json
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Pistols/m1911/tiny.rsi/equipped-BELT.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Pistols/m1911/tiny.rsi/inhand-left.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Pistols/m1911/tiny.rsi/inhand-right.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Pistols/m1911/tiny.rsi/meta.json
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Pistols/m1911c.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Pistols/m1911c_e.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Revolver/cmb.rsi/base.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Revolver/cmb.rsi/equipped-BELT.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Revolver/cmb.rsi/icon.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Revolver/cmb.rsi/inhand-left.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Revolver/cmb.rsi/inhand-right.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Revolver/cmb.rsi/meta.json
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Revolver/ny762.rsi/base.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Revolver/ny762.rsi/equipped-BELT.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Revolver/ny762.rsi/icon.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Revolver/ny762.rsi/inhand-left.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Revolver/ny762.rsi/inhand-right.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Revolver/ny762.rsi/meta.json
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Revolver/r-44.rsi/base.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Revolver/r-44.rsi/equipped-BELT.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Revolver/r-44.rsi/icon.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Revolver/r-44.rsi/inhand-left.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Revolver/r-44.rsi/inhand-right.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Revolver/r-44.rsi/meta.json
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Revolver/rebota.rsi/base.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Revolver/rebota.rsi/equipped-BELT.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Revolver/rebota.rsi/icon.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Revolver/rebota.rsi/inhand-left.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Revolver/rebota.rsi/inhand-right.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Revolver/rebota.rsi/meta.json
Labels: Changes: Sprites, No C#

#680 постройка оружия фикс 2
  Resources/Prototypes/_Backmen/Catalog/uplink_nomad.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/guns64.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/guns64super.yml
  Resources/Prototypes/_Backmen/Recipes/Construction/Graphs/weapons/guns64super.yml
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/LMGs/rpd/bigsuper.rsi/base.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/LMGs/rpd/bigsuper.rsi/bolt-open.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/LMGs/rpd/bigsuper.rsi/icon.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/LMGs/rpd/bigsuper.rsi/mag-0.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/LMGs/rpd/bigsuper.rsi/mag-1.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/LMGs/rpd/bigsuper.rsi/meta.json
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/LMGs/rpd/tinysuper.rsi/equipped-BACKPACK.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/LMGs/rpd/tinysuper.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/LMGs/rpd/tinysuper.rsi/inhand-left.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/LMGs/rpd/tinysuper.rsi/inhand-right.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/LMGs/rpd/tinysuper.rsi/meta.json
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/LMGs/rpd/tinysuper.rsi/wielded-inhand-left.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/LMGs/rpd/tinysuper.rsi/wielded-inhand-right.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Rifles/aksu.rsi/bigsuper.rsi/base.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Rifles/aksu.rsi/bigsuper.rsi/bolt-open.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Rifles/aksu.rsi/bigsuper.rsi/icon.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Rifles/aksu.rsi/bigsuper.rsi/mag-0.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Rifles/aksu.rsi/bigsuper.rsi/meta.json
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Rifles/aksu.rsi/tinysuper.rsi/equipped-BACKPACK.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Rifles/aksu.rsi/tinysuper.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Rifles/aksu.rsi/tinysuper.rsi/inhand-left.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Rifles/aksu.rsi/tinysuper.rsi/inhand-right.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Rifles/aksu.rsi/tinysuper.rsi/meta.json
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Rifles/aksu.rsi/tinysuper.rsi/wielded-inhand-left.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Rifles/aksu.rsi/tinysuper.rsi/wielded-inhand-right.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/SMGs/p90.rsi/bigsuper.rsi/base.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/SMGs/p90.rsi/bigsuper.rsi/bolt-open.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/SMGs/p90.rsi/bigsuper.rsi/icon.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/SMGs/p90.rsi/bigsuper.rsi/mag-0.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/SMGs/p90.rsi/bigsuper.rsi/mag-1.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/SMGs/p90.rsi/bigsuper.rsi/mag-2.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/SMGs/p90.rsi/bigsuper.rsi/mag-3.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/SMGs/p90.rsi/bigsuper.rsi/mag-4.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/SMGs/p90.rsi/bigsuper.rsi/mag-5.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/SMGs/p90.rsi/bigsuper.rsi/meta.json
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/SMGs/p90.rsi/tinysuper.rsi/equipped-BACKPACK.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/SMGs/p90.rsi/tinysuper.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/SMGs/p90.rsi/tinysuper.rsi/inhand-left.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/SMGs/p90.rsi/tinysuper.rsi/inhand-right.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/SMGs/p90.rsi/tinysuper.rsi/meta.json
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/SMGs/p90.rsi/tinysuper.rsi/wielded-inhand-left.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/SMGs/p90.rsi/tinysuper.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, No C#

#681 Remove Outpost
  Resources/Prototypes/_Backmen/Maps/Pool/backmenstandart.yml
Labels: No C#

#685 Небольшие изменения рхбзз
  Resources/Prototypes/_Backmen/Catalog/Fills/Backpacks/backpack.yml
  Resources/Prototypes/_Backmen/Entities/Markers/Spawners/specforce.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/cburn.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Devices/pinpointer.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_Backmen/Roles/Fun/cburn.yml
  Resources/Prototypes/_Backmen/specforces.yml
Labels: No C#

#684 Blob guidebook
  Resources/Locale/ru-RU/backmen/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/antagonist.yml
  Resources/Prototypes/Guidebook/species.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/blob.yml
  Resources/Prototypes/_Backmen/Guidebook/antagonist.yml
  Resources/Prototypes/_Backmen/Guidebook/engineering.yml
  Resources/Prototypes/_Backmen/Guidebook/epistemics.yml
  Resources/Prototypes/_Backmen/Guidebook/rules.yml
  Resources/Prototypes/_Backmen/Guidebook/speciesCategories.yml
  Resources/Prototypes/_Backmen/Guidebook/speciesSpecific.yml
  Resources/Prototypes/_Backmen/Roles/Antags/blob.yml
  Resources/ServerInfo/Guidebook/Species/Species.xml
  Resources/ServerInfo/_Backmen/Guidebook/Antagonist/Blob.xml
  Resources/ServerInfo/_Backmen/Guidebook/Engineering/Supermatter.xml
  Resources/ServerInfo/_Backmen/Guidebook/Epistemics/Altar.xml
  Resources/ServerInfo/_Backmen/Guidebook/Epistemics/Epistemics.xml
  Resources/ServerInfo/_Backmen/Guidebook/Epistemics/Psionics.xml
  Resources/ServerInfo/_Backmen/Guidebook/Epistemics/PsyChemistry.xml
  Resources/ServerInfo/_Backmen/Guidebook/ServerRules/Cat1.xml
  Resources/ServerInfo/_Backmen/Guidebook/ServerRules/Cat2.xml
  Resources/ServerInfo/_Backmen/Guidebook/ServerRules/Cat3.xml
  Resources/ServerInfo/_Backmen/Guidebook/ServerRules/Cat4.xml
  Resources/ServerInfo/_Backmen/Guidebook/ServerRules/Cat5.xml
  Resources/ServerInfo/_Backmen/Guidebook/ServerRules/Cat6.xml
  Resources/ServerInfo/_Backmen/Guidebook/ServerRules/Cat7.xml
  Resources/ServerInfo/_Backmen/Guidebook/ServerRules/Cat8.xml
  Resources/ServerInfo/_Backmen/Guidebook/ServerRules/Cat9.xml
  Resources/ServerInfo/_Backmen/Guidebook/ServerRules/RulesBackmen.xml
  Resources/ServerInfo/_Backmen/Guidebook/Species/NyanoSpecies.xml
  Resources/ServerInfo/_Backmen/Guidebook/Species/NyanoSpecies/Arachne.xml
  Resources/ServerInfo/_Backmen/Guidebook/Species/NyanoSpecies/Felinid.xml
  Resources/ServerInfo/_Backmen/Guidebook/Species/NyanoSpecies/Oni.xml
  Resources/ServerInfo/_Backmen/Guidebook/Species/SimpleStationSpecies/Shadowkin.Lore.xml
  Resources/ServerInfo/_Backmen/Guidebook/Species/SimpleStationSpecies/Shadowkin.xml
  Resources/ServerInfo/_Backmen/Guidebook/Species/Species.xml
Labels: No C#, Changes: Localization

#682 Fix Cancer mouse + RXBZZ shuttle
  Content.Server/Backmen/StationEvents/Events/BlobSpawn.cs
  Resources/Maps/Backmen/Shuttles/SpecForces/NT-CC-SRV-013.yml
  Resources/Prototypes/_Backmen/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/_Backmen/GameRules/events.yml
Labels: Changes: Map, No C#

#691 Fix maps
  Resources/Maps/Backmen/backmen_aspid.yml
  Resources/Maps/Backmen/backmen_kettle.yml
  Resources/Maps/Backmen/backmen_rook.yml
  Resources/Prototypes/_Backmen/Maps/backmen_kettle.yml
Labels: Changes: Map, No C#

#692 корректировка
  Resources/Prototypes/Recipes/Lathes/protoprint.yml
  Resources/Prototypes/_Backmen/Entities/Structures/Webbing/Webbing/webs.yml
Labels: No C#

#669 Update ghostSponsor.yml
  Resources/Prototypes/_Backmen/ghostSponsor.yml
Labels: No C#

#695 Add Blob, Flech cult and Vampires in AlltOnce preset
  Resources/Prototypes/game_presets.yml
Labels: No C#

#700 micro change - remove "Mail"
  Resources/Prototypes/_Backmen/Entities/Objects/Specific/Mail/tools.yml
Labels: No C#

#699 RXBZZ opyat
  Resources/Locale/ru-RU/backmen/SpecForces.ftl
  Resources/Prototypes/Corvax/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/_Backmen/Catalog/Fills/Backpacks/backpack.yml
  Resources/Prototypes/_Backmen/Catalog/Fills/Items/Belts/belts.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/Head/masks.yml
  Resources/Prototypes/_Backmen/Entities/Markers/Spawners/specforce.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/TGMC_xeno.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/cburn.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Misc/identification_cards_alt.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/guns64.yml
  Resources/Prototypes/_Backmen/Roles/Fun/cburn.yml
  Resources/Prototypes/_Backmen/Statusicon/jobs.yml
  Resources/Prototypes/_Backmen/specforces.yml
Labels: No C#, Changes: Localization

#702 Fix Specforce + Centcomm
  Content.IntegrationTests/Tests/Backmen/SpecForce/SpecForceTest.cs
  Content.Server/Backmen/SpecForces/SpecForcesSystem.cs
  Resources/Maps/centcomm.yml
  Resources/Prototypes/_Backmen/Entities/Structures/Doors/Airlocks/access.yml
Labels: Changes: Map

#706 fix кошака, неправильный обозначение
  Resources/Locale/ru-RU/items/components/item-component.ftl
Labels: No C#, Changes: Localization

#707 antags shtuki
  Resources/Locale/ru-RU/backmen/objectives/conditions/syndicate.ftl
  Resources/Prototypes/Roles/Antags/revolutionary.yml
  Resources/Prototypes/_Backmen/Objectives/traitorCybersun.yml
  Resources/Prototypes/_Backmen/Objectives/traitorDonk.yml
  Resources/Prototypes/_Backmen/Objectives/traitorGorlex.yml
  Resources/Prototypes/_Backmen/Objectives/traitorInterdyne.yml
  Resources/Prototypes/_Backmen/Objectives/traitorMI13.yml
  Resources/Prototypes/_Backmen/Objectives/traitorWaffle.yml
Labels: No C#, Changes: Localization

#705 Убираем цели на животных у вора.
  Resources/Prototypes/Objectives/thief.yml
Labels: No C#

#709 лодауты для нижней одежды
  Content.Client/Inventory/StrippableBoundUserInterface.cs
  Content.Client/Lobby/LobbyUIController.cs
  Resources/Locale/ru-RU/backmen/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Backmen/Loadouts/Miscellaneous/clothingUnder.yml
  Resources/Prototypes/_Backmen/Loadouts/role_loadout.yml
Labels: No C#, Changes: Localization
