Repository Rxup/space-station-14, pull requests merged in 2024-08, with the labels that each got.

#712 Fix Thief comms bundle + salvage cash types
  Resources/Prototypes/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/Procedural/salvage_loot.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Misc/cargo_cash.yml
Labels: No C#

#646 oracle fix
  Content.Server/Backmen/Research/Oracle/OracleSystem.cs
  Content.Server/Materials/MaterialReclaimerSystem.cs
  Resources/Prototypes/_Backmen/Entities/Structures/Research/oracle.yml
  Resources/Prototypes/_Backmen/GameRules/events.yml
  Resources/Prototypes/_Backmen/Procedural/Shipwreck/biome_templates.yml
  Resources/Prototypes/_Backmen/Procedural/Shipwreck/dungeon_configs.yml
  Resources/Prototypes/_Backmen/Procedural/Shipwreck/shipwreck_destinations.yml
  Resources/Prototypes/_Backmen/Procedural/Shipwreck/shipwreck_factions.yml
  Resources/Textures/Backmen/Structures/Decoration/statues.rsi/meta.json
  Resources/Textures/Backmen/Structures/Decoration/statues.rsi/oracle-o0bld.png
Labels: Changes: Sprites

#716 some fixes... pleh...
  Resources/Maps/Backmen/Nonstations/nukieoutpost.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Backmen/Entities/Structures/Research/oracle.yml
  Resources/Textures/Backmen/Structures/Windows/plastitanium_window.rsi/full.png
  Resources/Textures/Backmen/Structures/Windows/plastitanium_window.rsi/meta.json
  Resources/Textures/Backmen/Structures/Windows/plastitanium_window.rsi/ptwindow0.png
  Resources/Textures/Backmen/Structures/Windows/plastitanium_window.rsi/ptwindow1.png
  Resources/Textures/Backmen/Structures/Windows/plastitanium_window.rsi/ptwindow2.png
  Resources/Textures/Backmen/Structures/Windows/plastitanium_window.rsi/ptwindow3.png
  Resources/Textures/Backmen/Structures/Windows/plastitanium_window.rsi/ptwindow4.png
  Resources/Textures/Backmen/Structures/Windows/plastitanium_window.rsi/ptwindow5.png
  Resources/Textures/Backmen/Structures/Windows/plastitanium_window.rsi/ptwindow6.png
  Resources/Textures/Backmen/Structures/Windows/plastitanium_window.rsi/ptwindow7.png
Labels: Changes: Sprites, Changes: Map, No C#

#714 Criminal + Thief gamepresets
  Resources/Locale/ru-RU/backmen/game-ticking/game-presets/preset-mix.ftl
  Resources/Prototypes/_Backmen/GameRules/roundstart.yml
  Resources/Prototypes/_Backmen/game_presets.yml
  Resources/Prototypes/game_presets.yml
Labels: No C#, Changes: Localization

#724 Readd grand lottery
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Misc/cargo_cash.yml
Labels: No C#

#718 Add lavaland grappling hook
  Resources/Locale/ru-RU/backmen/prototypes/entities/objects/weapons/grappling.ftl
  Resources/Prototypes/Catalog/thief_toolbox_sets.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/grappling_hook.yml
  Resources/Textures/Backmen/Objects/Weapons/Guns/grappling_hook.rsi/base-unshaded-off.png
  Resources/Textures/Backmen/Objects/Weapons/Guns/grappling_hook.rsi/base-unshaded.png
  Resources/Textures/Backmen/Objects/Weapons/Guns/grappling_hook.rsi/base.png
  Resources/Textures/Backmen/Objects/Weapons/Guns/grappling_hook.rsi/hook.png
  Resources/Textures/Backmen/Objects/Weapons/Guns/grappling_hook.rsi/inhand-left.png
  Resources/Textures/Backmen/Objects/Weapons/Guns/grappling_hook.rsi/inhand-right.png
  Resources/Textures/Backmen/Objects/Weapons/Guns/grappling_hook.rsi/meta.json
  Resources/Textures/Backmen/Objects/Weapons/Guns/grappling_hook.rsi/rope.png
Labels: Changes: Sprites, No C#, Changes: Localization

#721 Shotguns!
  Content.Client/Backmen/Weapons/PumpActionSystem.cs
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Server/Backmen/Weapons/Ranged/PumpActionSystem.cs
  Content.Shared/Backmen/Input/ActiveInputMoverComponent.cs
  Content.Shared/Backmen/Input/CMKeyFunctions.cs
  Content.Shared/Backmen/Input/RMCInputSystem.cs
  Content.Shared/Backmen/Weapons/Common/UniqueActionComponent.cs
  Content.Shared/Backmen/Weapons/Common/UniqueActionEvent.cs
  Content.Shared/Backmen/Weapons/Common/UniqueActionSystem.cs
  Content.Shared/Backmen/Weapons/Ranged/PumpActionComponent.cs
  Content.Shared/Backmen/Weapons/Ranged/SharedPumpActionSystem.cs
  Resources/Locale/ru-RU/backmen/escape-menu/options-menu.ftl
  Resources/Locale/ru-RU/backmen/weapons/guns.ftl
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/SMGs/SMGs.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/keybinds.yml
Labels: Changes: UI, Changes: Localization

#734 обновление големов
  Content.Client/Backmen/Soul/GolemComponent.cs
  Content.Client/Backmen/Soul/GolemSystem.cs
  Content.Server/Backmen/Abilities/Psionics/Abilities/MindSwapPowerSystem.cs
  Content.Server/Backmen/Chapel/SacrificialAltarSystem.cs
  Content.Server/Backmen/NPC/HTN/PrimitiveTasks/Operators/Specific/DrainOperator.cs
  Content.Server/Backmen/NPC/HTN/PrimitiveTasks/Operators/Specific/PickDrainTargetOperator.cs
  Content.Server/Backmen/Psionics/NPC/GlimmerWisp/GlimmerWispComponent.cs
  Content.Server/Backmen/Psionics/NPC/GlimmerWisp/GlimmerWispSystem.cs
  Content.Server/Backmen/Psionics/Objectives/BecomeGolemConditionSystem.cs
  Content.Server/Backmen/Psionics/Objectives/BecomePsionicConditionSystem.cs
  Content.Server/Backmen/Psionics/Objectives/Components/BecomeGolemConditionComponent.cs
  Content.Server/Backmen/Psionics/Objectives/Components/BecomePsionicConditionComponent.cs
  Content.Server/Backmen/Psionics/Objectives/Components/RaiseGlimmerConditionComponent.cs
  Content.Server/Backmen/Psionics/Objectives/RaiseGlimmerConditionSystem.cs
  Content.Server/Backmen/Soul/GolemSystem.cs
  Content.Server/Backmen/StationEvents/Events/MassMindSwapRule.cs
  Content.Server/StationEvents/EventManagerSystem.cs
  Content.Shared/Backmen/Soul/GolemComponent.cs
  Content.Shared/Backmen/Soul/GunHeldByGolemComponent.cs
  Content.Shared/Backmen/Soul/SharedGolemComponent.cs
  Content.Shared/Backmen/Soul/SharedGolemSystem.cs
  Content.Shared/Backmen/Soul/SoulCrystalComponent.cs
  Resources/Locale/en-US/backmen/alerts/lifedrain.ftl
  Resources/Locale/ru-RU/backmen/alerts/lifedrain.ftl
  Resources/Locale/ru-RU/backmen/objectives/conditions/become-psionic-condition.ftl
  Resources/Locale/ru-RU/backmen/soul/golem.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/glimmer_monsters.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/root.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/golem.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Specific/Research/crystals.yml
  Resources/Prototypes/_Backmen/GameRules/events.yml
  Resources/Prototypes/_Backmen/Objectives/traitorPsionic.yml
  Resources/Textures/Backmen/Objects/Materials/materials.rsi/bluespace.png
  Resources/Textures/Backmen/Objects/Materials/materials.rsi/bluespace_2.png
  Resources/Textures/Backmen/Objects/Materials/materials.rsi/bluespace_3.png
  Resources/Textures/Backmen/Objects/Materials/materials.rsi/meta.json
  Resources/Textures/Backmen/Objects/Misc/crystals.rsi/meta.json
  Resources/Textures/Backmen/Objects/Misc/crystals.rsi/purple_soul.png
Labels: Changes: Sprites, Changes: Localization
