Repository Rxup/space-station-14, pull requests merged in 2025-03, with the labels that each got.

#1068 [Feature] Джетпаки в антигравитации
  Content.Shared/Movement/Systems/SharedJetpackSystem.cs
Labels: S: Untriaged, size/XS

#1080 [FIX] foxes update v2
  Resources/Audio/Backmen/Voice/Foxes/attributions.yml
  Resources/Audio/Backmen/Voice/Foxes/foxcry02.ogg
  Resources/Audio/Backmen/Voice/Foxes/foxgrowl01.ogg
  Resources/Audio/Backmen/Voice/Foxes/foxlaugh01.ogg
  Resources/Locale/ru-RU/backmen/prototypes/entities/mobs/player/fox.ftl
  Resources/Prototypes/Corvax/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/SoundCollections/disease.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/foxes.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/_Backmen/SoundCollections/foxes.yml
  Resources/Prototypes/_Backmen/Voice/speech_emote_sounds.yml
Labels: No C#, Changes: Localization, size/M, Changes: Audio

#1081 psi-update-v4
  Content.Server/Backmen/Chapel/SacrificialAltarSystem.cs
  Content.Server/Backmen/Research/Oracle/OracleSystem.cs
  Content.Server/Backmen/StationEvents/Components/GlimmerBreakerRuleComponent.cs
  Content.Server/Backmen/StationEvents/Events/GlimmerBreakerRule.cs
  Content.Server/StationEvents/Components/StationEventComponent.cs
  Content.Server/StationEvents/EventManagerSystem.cs
  Resources/Locale/ru-RU/backmen/abilities/psionic.ftl
  Resources/Prototypes/_Backmen/Entities/Markers/Spawners/Random/psi.yml
  Resources/Prototypes/_Backmen/GameRules/events.yml
  Resources/Prototypes/_Backmen/game_presets.yml
Labels: Changes: Localization, S: Untriaged, size/M

#1082 Sponsors
  Resources/Locale/ru-RU/backmen/sponsors/windowmanager.ftl
  Resources/Prototypes/_Backmen/ghosts/special.yml
  Resources/Textures/Backmen/Mobs/Ghost/Boroven-ghost.rsi/animated-Boroven.png
  Resources/Textures/Backmen/Mobs/Ghost/Boroven-ghost.rsi/meta.json
  Resources/Textures/Backmen/Mobs/Ghost/Vetochka-ghost.rsi/animated-Veta.png
  Resources/Textures/Backmen/Mobs/Ghost/Vetochka-ghost.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, S: Untriaged, size/S

#1083 psi-fix
  Content.Server/Backmen/StationEvents/Events/GlimmerBreakerRule.cs
  Resources/Locale/ru-RU/backmen/abilities/psionic.ftl
  Resources/Prototypes/_Backmen/GameRules/events.yml
Labels: Changes: Localization, S: Untriaged

#1065 Pilot new update
  Resources/Locale/en-US/_backmen/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/_backmen/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/_backmen/prototypes/security-pilot/clothing.ftl
  Resources/Locale/ru-RU/_backmen/prototypes/security-pilot/tools.ftl
  Resources/Locale/ru-RU/corvax/job/job-description.ftl
  Resources/Locale/ru-RU/corvax/job/job-names.ftl
  Resources/Prototypes/Corvax/Loadouts/Jobs/Security/pilot.yml
  Resources/Prototypes/Corvax/Loadouts/loadout_groups.yml
  Resources/Prototypes/Corvax/Loadouts/role_loadouts.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Security/pilot.yml
  Resources/Prototypes/_Backmen/Access/special.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/_Backmen/Entities/misc/pilotabilities.yml
  Resources/Textures/Backmen/Clothing/Eyes/Glasses/security-technician-visor.rsi/equipped-EYES-unshaded.png
  Resources/Textures/Backmen/Clothing/Eyes/Glasses/security-technician-visor.rsi/equipped-EYES.png
  Resources/Textures/Backmen/Clothing/Eyes/Glasses/security-technician-visor.rsi/icon-unshaded.png
  Resources/Textures/Backmen/Clothing/Eyes/Glasses/security-technician-visor.rsi/icon.png
  Resources/Textures/Backmen/Clothing/Eyes/Glasses/security-technician-visor.rsi/inhand-left.png
  Resources/Textures/Backmen/Clothing/Eyes/Glasses/security-technician-visor.rsi/inhand-right.png
  Resources/Textures/Backmen/Clothing/Eyes/Glasses/security-technician-visor.rsi/meta.json
  Resources/Textures/Backmen/Clothing/OuterClothing/Vests/hazard-sec-vest.rsi/equipped-OUTERCLOTHING-unshaded-vox.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Vests/hazard-sec-vest.rsi/equipped-OUTERCLOTHING-unshaded.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Vests/hazard-sec-vest.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Vests/hazard-sec-vest.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Vests/hazard-sec-vest.rsi/icon-unshaded.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Vests/hazard-sec-vest.rsi/icon.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Vests/hazard-sec-vest.rsi/inhand-left.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Vests/hazard-sec-vest.rsi/inhand-right.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Vests/hazard-sec-vest.rsi/meta.json
  Resources/Textures/Backmen/Interface/Radial/sec-tech-RCD/radial-landmine.png
  Resources/Textures/Backmen/Interface/Radial/sec-tech-RCD/radial-temp-base.png
  Resources/Textures/Backmen/Interface/Radial/sec-tech-RCD/radial-temp-disabler.png
  Resources/Textures/Backmen/Interface/Radial/sec-tech-RCD/radial-temp-laser.png
  Resources/Textures/Backmen/Interface/Radial/sec-tech-RCD/radial-temp-rifle.png
  Resources/Textures/Backmen/Objects/Tools/sec-tech-RCD.rsi/equipped-BELT.png
  Resources/Textures/Backmen/Objects/Tools/sec-tech-RCD.rsi/icon.png
  Resources/Textures/Backmen/Objects/Tools/sec-tech-RCD.rsi/inhand-left.png
  Resources/Textures/Backmen/Objects/Tools/sec-tech-RCD.rsi/inhand-right.png
  Resources/Textures/Backmen/Objects/Tools/sec-tech-RCD.rsi/meta.json
  Resources/Textures/Backmen/Objects/Weapons/temp-turret.rsi/meta.json
  Resources/Textures/Backmen/Objects/Weapons/temp-turret.rsi/temp-disabler.png
  Resources/Textures/Backmen/Objects/Weapons/temp-turret.rsi/temp-laser.png
  Resources/Textures/Backmen/Objects/Weapons/temp-turret.rsi/temp-rifle.png
Labels: Changes: Sprites, No C#, Changes: Localization, S: Untriaged, size/M

#1084 Seckretnia huina
  Content.Client/Lobby/LobbyState.cs
  Content.Client/Lobby/UI/LobbyGui.xaml
  Content.Client/Lobby/UI/LobbyGui.xaml.cs
  Content.Client/Lobby/UI/ServerListBox.cs
  Resources/ConfigPresets/Backmen/main.toml
Labels: Changes: UI, S: Untriaged

#1085 Revert "Seckretnia huina"
  Content.Client/Lobby/LobbyState.cs
  Content.Client/Lobby/UI/LobbyGui.xaml
  Content.Client/Lobby/UI/LobbyGui.xaml.cs
  Content.Client/Lobby/UI/ServerListBox.cs
  Resources/ConfigPresets/Backmen/main.toml
Labels: Changes: UI, size/M

#1088 New TTS
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Objects/Fun/puppet.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/flesh_cult.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/special.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/golem.yml
  Resources/Prototypes/_Backmen/Entities/Structures/Research/oracle.yml
  Resources/Prototypes/_Backmen/Entities/Structures/Research/sophicscribe.yml
  Resources/Prototypes/_Backmen/tts-voices.yml
Labels: No C#, size/L

#1090 QuickFIX SB textures
  Resources/Textures/Structures/Doors/Airlocks/Glass/security.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/security.rsi/bolted_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/security.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/security.rsi/closing_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/security.rsi/deny_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/security.rsi/emergency_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/security.rsi/emergency_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/security.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/security.rsi/opening_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/security.rsi/panel_closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/security.rsi/panel_open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/security.rsi/panel_opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/security.rsi/sparks.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/security.rsi/sparks_broken.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/security.rsi/sparks_damaged.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/security.rsi/sparks_open.png
Labels: Changes: Sprites, No C#, S: Untriaged, size/XS

#1091 hotfix lobby
  Content.Client/Lobby/LobbyState.cs
  Content.Client/Lobby/UI/LobbyGui.xaml
Labels: Changes: UI, S: Untriaged

#1092 [RESPRITE] Energy Shotgun
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/mag-unshaded-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/mag-unshaded-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/mag-unshaded-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/mag-unshaded-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Battery/inhands_64x.rsi/energy-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/inhands_64x.rsi/energy-inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Battery/inhands_64x.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Battery/inhands_64x.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/Battery/inhands_64x.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Battery/inhands_64x.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/inhands_64x.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, No C#, size/M

#1095 Resprite Warden handheld Camera Monitor
  Resources/Prototypes/_Backmen/Entities/Tools/portable_computers.yml
  Resources/Textures/Backmen/Objects/Tools/handheld_camera_monitor.rsi/meta.json
  Resources/Textures/Backmen/Objects/Tools/handheld_camera_monitor.rsi/off.png
  Resources/Textures/Backmen/Objects/Tools/handheld_camera_monitor.rsi/on.png
Labels: Changes: Sprites, No C#, S: Untriaged

#1096 [Update] backmen_shoukou
  Resources/Maps/Backmen/backmen_shoukou.yml
Labels: Changes: Map, No C#, S: Untriaged, size/M

#1097 Hotfix Lavaland Shittle
  Content.Server/Maps/GameMapPrototype.cs
Labels: S: Untriaged, size/XS

#1099 Revert "Hotfix Lavaland Shittle"
  Content.Server/Maps/GameMapPrototype.cs
Labels: S: Untriaged, size/XS

#1098 [FIX] SecretDoor Fix
  Resources/Textures/Structures/Doors/secret_door.rsi/assembly.png
  Resources/Textures/Structures/Doors/secret_door.rsi/closed.png
  Resources/Textures/Structures/Doors/secret_door.rsi/closing.png
  Resources/Textures/Structures/Doors/secret_door.rsi/meta.json
  Resources/Textures/Structures/Doors/secret_door.rsi/open.png
  Resources/Textures/Structures/Doors/secret_door.rsi/opening.png
Labels: Changes: Sprites, No C#, S: Untriaged

#1115 Update LocaleRuTest.cs
  Content.IntegrationTests/Tests/Backmen/LocaleRuTest.cs
Labels: S: Untriaged, size/XS

#1110 [Fix] Centcomm Lobby Screen
  Resources/Textures/Backmen/LobbyScreens/centcomm.rsi/meta.json
Labels: No C#

#1116 Wizard is now whitelisted
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
Labels: No C#, S: Untriaged, size/XS, Approved

#1114 [Port] Craftable Bonfire
  Resources/Prototypes/Entities/Structures/Decoration/bonfire.yml
  Resources/Prototypes/_White/Recipes/Construction/Graphs/structures/bonfire.yml
  Resources/Prototypes/_White/Recipes/Construction/bonfire.yml
Labels: No C#, S: Untriaged, size/S, Approved

#1109 [Port] Operative UI
  Resources/Locale/en-US/_white/escape-menu/ui/options.ftl
  Resources/Locale/ru-RU/backmen/escape-menu/ui/options.ftl
  Resources/Prototypes/_White/hud.yml
  Resources/Prototypes/_White/themes.yml
  Resources/Textures/_White/Interface/Operative/SlotBackground.png
  Resources/Textures/_White/Interface/Operative/Slots/back.png
  Resources/Textures/_White/Interface/Operative/Slots/belt.png
  Resources/Textures/_White/Interface/Operative/Slots/ears.png
  Resources/Textures/_White/Interface/Operative/Slots/ears_extra.png
  Resources/Textures/_White/Interface/Operative/Slots/glasses.png
  Resources/Textures/_White/Interface/Operative/Slots/gloves.png
  Resources/Textures/_White/Interface/Operative/Slots/hand_l.png
  Resources/Textures/_White/Interface/Operative/Slots/hand_l_no_letter.png
  Resources/Textures/_White/Interface/Operative/Slots/hand_r.png
  Resources/Textures/_White/Interface/Operative/Slots/hand_r_no_letter.png
  Resources/Textures/_White/Interface/Operative/Slots/head.png
  Resources/Textures/_White/Interface/Operative/Slots/id.png
  Resources/Textures/_White/Interface/Operative/Slots/mask.png
  Resources/Textures/_White/Interface/Operative/Slots/neck.png
  Resources/Textures/_White/Interface/Operative/Slots/pocket.png
  Resources/Textures/_White/Interface/Operative/Slots/shoes.png
  Resources/Textures/_White/Interface/Operative/Slots/socks.png
  Resources/Textures/_White/Interface/Operative/Slots/suit.png
  Resources/Textures/_White/Interface/Operative/Slots/suit_storage.png
  Resources/Textures/_White/Interface/Operative/Slots/toggle-alt.png
  Resources/Textures/_White/Interface/Operative/Slots/toggle.png
  Resources/Textures/_White/Interface/Operative/Slots/underwearb.png
  Resources/Textures/_White/Interface/Operative/Slots/underweart.png
  Resources/Textures/_White/Interface/Operative/Slots/uniform.png
  Resources/Textures/_White/Interface/Operative/Slots/web.png
  Resources/Textures/_White/Interface/Operative/Slots/wrists.png
  Resources/Textures/_White/Interface/Operative/Storage/piece_bottom.png
  Resources/Textures/_White/Interface/Operative/Storage/piece_bottomLeft.png
  Resources/Textures/_White/Interface/Operative/Storage/piece_bottomRight.png
  Resources/Textures/_White/Interface/Operative/Storage/piece_center.png
  Resources/Textures/_White/Interface/Operative/Storage/piece_left.png
  Resources/Textures/_White/Interface/Operative/Storage/piece_right.png
  Resources/Textures/_White/Interface/Operative/Storage/piece_top.png
  Resources/Textures/_White/Interface/Operative/Storage/piece_topLeft.png
  Resources/Textures/_White/Interface/Operative/Storage/piece_topRight.png
  Resources/Textures/_White/Interface/Operative/Storage/sidebar_bottom.png
  Resources/Textures/_White/Interface/Operative/Storage/sidebar_mid.png
  Resources/Textures/_White/Interface/Operative/Storage/sidebar_top.png
  Resources/Textures/_White/Interface/Operative/Storage/tile_blocked.png
  Resources/Textures/_White/Interface/Operative/Storage/tile_blocked_opaque.png
  Resources/Textures/_White/Interface/Operative/Storage/tile_empty.png
  Resources/Textures/_White/Interface/Operative/Storage/tile_empty_opaque.png
  Resources/Textures/_White/Interface/Operative/item_status_left.png
  Resources/Textures/_White/Interface/Operative/item_status_left_highlight.png
  Resources/Textures/_White/Interface/Operative/item_status_right.png
  Resources/Textures/_White/Interface/Operative/item_status_right_highlight.png
  Resources/Textures/_White/Interface/Operative/slot_highlight.png
  Resources/Textures/_White/Interface/Operative/target_doll.png
  Resources/Textures/_White/Interface/Operative/template_small.png
Labels: No C#, Changes: Localization, Approved

#1104 [Feature] Small World
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/structures/decoration/small_world.ftl
  Resources/Prototypes/_Backmen/Entities/Structures/Decoration/small_world.yml
  Resources/Prototypes/_Backmen/Recipes/Construction/smallworld_buildings.yml
  Resources/Prototypes/_Backmen/Recipes/Construction/smallworld_roads.yml
  Resources/Textures/Backmen/Structures/Decoration/SmallWorld/buildings.rsi/meta.json
  Resources/Textures/Backmen/Structures/Decoration/SmallWorld/buildings.rsi/smallbusiness.png
  Resources/Textures/Backmen/Structures/Decoration/SmallWorld/buildings.rsi/smallhouses.png
  Resources/Textures/Backmen/Structures/Decoration/SmallWorld/buildings.rsi/smallmuseum.png
  Resources/Textures/Backmen/Structures/Decoration/SmallWorld/buildings.rsi/warehouse.png
  Resources/Textures/Backmen/Structures/Decoration/SmallWorld/roads.rsi/meta.json
  Resources/Textures/Backmen/Structures/Decoration/SmallWorld/roads.rsi/roadfourway.png
  Resources/Textures/Backmen/Structures/Decoration/SmallWorld/roads.rsi/roadstraight.png
  Resources/Textures/Backmen/Structures/Decoration/SmallWorld/roads.rsi/roadthreeway.png
  Resources/Textures/Backmen/Structures/Decoration/SmallWorld/roads.rsi/roadturn.png
Labels: Changes: Sprites, No C#, Changes: Localization, size/M, Approved

#1113 [Port] Headcrabs
  Content.Server/_White/Headcrab/HeadcrabComponent.cs
  Content.Server/_White/Headcrab/HeadcrabSystem.cs
  Content.Shared/_White/Headcrab/SharedHeadcrab.cs
  Resources/Audio/_White/Misc/Headcrab/headcrab_jump.ogg
  Resources/Locale/en-US/_white/popups/headcrab.ftl
  Resources/Locale/en-US/_white/station-events/events/events.ftl
  Resources/Locale/ru-RU/_white/popups/headcrab.ftl
  Resources/Locale/ru-RU/_white/prototypes/actions/types.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/markers/spawners/headcrabs.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/mobs/npcs/headcrab.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/structures/other/headcrab.ftl
  Resources/Locale/ru-RU/_white/station-events/events/events.ftl
  Resources/Locale/ru-RU/backmen/guidbook/antagonist.ftl
  Resources/Prototypes/_Backmen/Guidebook/antagonist.yml
  Resources/Prototypes/_White/Actions/types.yml
  Resources/Prototypes/_White/Entities/Mobs/Markers/Spawners/headcrab.yml
  Resources/Prototypes/_White/Entities/Mobs/NPCs/headcrab.yml
  Resources/Prototypes/_White/Entities/Structures/Other/headcrab_nest.yml
  Resources/Prototypes/_White/GameRules/events.yml
  Resources/ServerInfo/_Backmen/Guidebook/Antagonist/Headcrab/Headcrabs.xml
  Resources/ServerInfo/_Backmen/Guidebook/Antagonist/Headcrab/Headcrabs/Headcrab.xml
  Resources/ServerInfo/_Backmen/Guidebook/Antagonist/Headcrab/Headcrabs/HeadcrabFast.xml
  Resources/ServerInfo/_Backmen/Guidebook/Antagonist/Headcrab/Headcrabs/HeadcrabPoison.xml
  Resources/Textures/_White/Interface/Actions/headcrab.rsi/jump-off.png
  Resources/Textures/_White/Interface/Actions/headcrab.rsi/jump-on.png
  Resources/Textures/_White/Interface/Actions/headcrab.rsi/meta.json
  Resources/Textures/_White/Mobs/Animals/headcrab.rsi/alive.png
  Resources/Textures/_White/Mobs/Animals/headcrab.rsi/dead.png
  Resources/Textures/_White/Mobs/Animals/headcrab.rsi/equipped-HELMET-vox.png
  Resources/Textures/_White/Mobs/Animals/headcrab.rsi/equipped-HELMET.png
  Resources/Textures/_White/Mobs/Animals/headcrab.rsi/equipped-MASK-vox.png
  Resources/Textures/_White/Mobs/Animals/headcrab.rsi/equipped-MASK.png
  Resources/Textures/_White/Mobs/Animals/headcrab.rsi/meta.json
  Resources/Textures/_White/Mobs/Animals/headcrab_fast.rsi/alive.png
  Resources/Textures/_White/Mobs/Animals/headcrab_fast.rsi/dead.png
  Resources/Textures/_White/Mobs/Animals/headcrab_fast.rsi/equipped-HELMET-vox.png
  Resources/Textures/_White/Mobs/Animals/headcrab_fast.rsi/equipped-HELMET.png
  Resources/Textures/_White/Mobs/Animals/headcrab_fast.rsi/equipped-MASK-vox.png
  Resources/Textures/_White/Mobs/Animals/headcrab_fast.rsi/equipped-MASK.png
  Resources/Textures/_White/Mobs/Animals/headcrab_fast.rsi/meta.json
  Resources/Textures/_White/Mobs/Animals/headcrab_poison.rsi/alive.png
  Resources/Textures/_White/Mobs/Animals/headcrab_poison.rsi/dead.png
  Resources/Textures/_White/Mobs/Animals/headcrab_poison.rsi/equipped-HELMET-vox.png
  Resources/Textures/_White/Mobs/Animals/headcrab_poison.rsi/equipped-HELMET.png
  Resources/Textures/_White/Mobs/Animals/headcrab_poison.rsi/equipped-MASK-vox.png
  Resources/Textures/_White/Mobs/Animals/headcrab_poison.rsi/equipped-MASK.png
  Resources/Textures/_White/Mobs/Animals/headcrab_poison.rsi/meta.json
  Resources/Textures/_White/Structures/Other/headcrab_nest.rsi/icon.png
  Resources/Textures/_White/Structures/Other/headcrab_nest.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, S: Untriaged, size/M, Changes: Audio, Approved

#1119 [Port] Frontier Magnet For Ore Processor
  Content.Server/Materials/MaterialStorageSystem.cs
  Content.Shared/_NF/Storage/Components/MaterialStorageMagnetPickupComponent.cs
  Content.Shared/_NF/Storage/EntitySystems/MaterialStorageMagnetPickupSystem.cs
  Resources/Locale/en-US/storage/components/magnet-pickup-component.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: Localization, S: Untriaged, Approved

#1121 [Fix] Random + Plasma cutter buff
  Resources/Locale/ru-RU/backmen/storage/magnet.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/clothing/eyes/glasses.ftl
  Resources/Prototypes/_Backmen/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/Head/masks.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Basic/plasma_cutter.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: No C#, Changes: Localization, size/S, Approved

#1120 [Fix] binoculars
  Resources/Prototypes/Entities/Objects/Tools/binoculars.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Energy/energy.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Energy/magenergy.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: No C#, size/S, Approved

#1126 [Tweak] New style alert levels
  Resources/Audio/Backmen/Misc/new-style-alerts/amber_code_new_style.ogg
  Resources/Audio/Backmen/Misc/new-style-alerts/attributions.yml
  Resources/Audio/Backmen/Misc/new-style-alerts/blue_code_new_style.ogg
  Resources/Audio/Backmen/Misc/new-style-alerts/delta_code_new_style.ogg
  Resources/Audio/Backmen/Misc/new-style-alerts/epsilon_code_new_style.ogg
  Resources/Audio/Backmen/Misc/new-style-alerts/purple_code_new_style.ogg
  Resources/Audio/Backmen/Misc/new-style-alerts/red_code_new_style.ogg
  Resources/Audio/Backmen/Misc/new-style-alerts/sigma_code_new_style.ogg
  Resources/Audio/Backmen/Misc/new-style-alerts/white_code_new_style.ogg
  Resources/Audio/Backmen/Misc/new-style-alerts/yellow_code_new_style.ogg
  Resources/Locale/en-US/alert-levels/alert-levels.ftl
  Resources/Locale/ru-RU/alert-levels/alert-levels.ftl
  Resources/Prototypes/AlertLevels/alert_levels.yml
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
Labels: No C#, Changes: Localization, size/M, Changes: Audio, Approved

#1129 [Fix] Конец столовых войн
  Content.Shared/Physics/CollisionGroup.cs
Labels: S: Untriaged, size/XS, Approved

#1128 [Fix] Headcrab Mind Transfer
  Content.Server/_White/Headcrab/HeadcrabSystem.cs
Labels: S: Untriaged, size/S

#1089 [Feature] centcom
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/Backmen/backmen_centcom.yml
  Resources/Prototypes/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/Maps/centcomm.yml
  Resources/Prototypes/_Backmen/centcom_maps.yml
Labels: Changes: Map, No C#, size/XL

#1125 [Fix] More Fixov
  Resources/Fonts/_Backmen/tolkiencyr.ttf
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/outerclothing/armor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/armor.ftl
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/scattering_grenades.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/_Backmen/Language/animal.yml
  Resources/Prototypes/_Backmen/fonts.yml
  Resources/Prototypes/_White/Entities/Objects/Specific/Security/barrier.yml
  Resources/Prototypes/_White/GameRules/events.yml
  Resources/Textures/Clothing/Back/Backpacks/medical.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Backpacks/medical.rsi/inhand-right.png
  Resources/Textures/_White/Interface/Operative/Slots/underpants.png
  Resources/Textures/_White/Interface/Operative/Slots/undershirt.png
  Resources/Textures/_White/Interface/Operative/target_doll.png
Labels: Changes: Sprites, No C#, Changes: Localization, S: Untriaged, size/S, Approved

#1131 Resprites | Act. I
  Resources/Locale/ru-RU/_backmen/prototypes/Entities/clothing/uniforms/jumpsuits.ftl
  Resources/Prototypes/_Backmen/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_CorvaxNext/Catalog/VendingMachines/Inventories/CaptainDrobeInventory.yml
  Resources/Textures/Backmen/Clothing/Uniforms/jumpsuit/capwhite.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Backmen/Clothing/Uniforms/jumpsuit/capwhite.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Backmen/Clothing/Uniforms/jumpsuit/capwhite.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Backmen/Clothing/Uniforms/jumpsuit/capwhite.rsi/icon.png
  Resources/Textures/Backmen/Clothing/Uniforms/jumpsuit/capwhite.rsi/inhand-left.png
  Resources/Textures/Backmen/Clothing/Uniforms/jumpsuit/capwhite.rsi/inhand-right.png
  Resources/Textures/Backmen/Clothing/Uniforms/jumpsuit/capwhite.rsi/meta.json
  Resources/Textures/_CorvaxNext/Structures/Machines/VendingMachines/captaindrobe.rsi/broken.png
  Resources/Textures/_CorvaxNext/Structures/Machines/VendingMachines/captaindrobe.rsi/meta.json
  Resources/Textures/_CorvaxNext/Structures/Machines/VendingMachines/captaindrobe.rsi/off.png
  Resources/Textures/_Shitmed/Objects/Specific/Medical/Surgery/e-scalpel.rsi/inhand-left-on.png
  Resources/Textures/_Shitmed/Objects/Specific/Medical/Surgery/e-scalpel.rsi/inhand-right-on.png
Labels: Changes: Sprites, No C#, Changes: Localization, S: Untriaged, Approved

#1122 [Tweak] Salvage things
  Resources/Locale/ru-RU/_Lavaland/weapons/gun_upgrades.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/clothing/eyes/glasses.ftl
  Resources/Prototypes/DeltaV/Catalog/VendingMachines/Inventories/salvage_points.yml
Labels: No C#, Changes: Localization, S: Untriaged, size/S, Approved

#1138 [FIX] NameTest
  Resources/Locale/ru-RU/datasets/names/military_first.ftl
Labels: No C#, Changes: Localization, S: Untriaged, size/XS

#1134 [Feature] InteQ Ghost Role
  Resources/Locale/en-US/_backmen/salvage/lavaland_names.ftl
  Resources/Locale/en-US/backmen/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/_backmen/salvage/lavaland_names.ftl
  Resources/Locale/ru-RU/backmen/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/catalog/fills/lockers/suit_storage.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/markers/spawners/inteq.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/mobs/player/other/inteq.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/structures/furniture/potted_plants.ftl
  Resources/Maps/Backmen/Lavaland/InteQ_Sizo.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/pottedplants.yml
  Resources/Prototypes/_Backmen/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_Backmen/Entities/Markers/Spawners/inteq.yml
  Resources/Prototypes/_Backmen/Entities/Markers/Spawners/npc.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/syndicate.yml
  Resources/Prototypes/_Backmen/Entities/Structures/Furniture/potted_plants.yml
  Resources/Prototypes/_Lavaland/Procedural/lavaland_grid_ruins.yml
  Resources/Prototypes/_Lavaland/Procedural/ruin_pools.yml
  Resources/Textures/Backmen/Mobs/Npc/simple_syndicate/blade.rsi/alive.png
  Resources/Textures/Backmen/Mobs/Npc/simple_syndicate/blade.rsi/meta.json
  Resources/Textures/Backmen/Mobs/Npc/simple_syndicate/knife.rsi/alive.png
  Resources/Textures/Backmen/Mobs/Npc/simple_syndicate/knife.rsi/meta.json
  Resources/Textures/Backmen/Mobs/Npc/simple_syndicate/pistol.rsi/alive.png
  Resources/Textures/Backmen/Mobs/Npc/simple_syndicate/pistol.rsi/meta.json
  Resources/Textures/Backmen/Mobs/Npc/simple_syndicate/shotgun.rsi/alive.png
  Resources/Textures/Backmen/Mobs/Npc/simple_syndicate/shotgun.rsi/meta.json
  Resources/Textures/Backmen/Mobs/Npc/simple_syndicate/smg.rsi/alive.png
  Resources/Textures/Backmen/Mobs/Npc/simple_syndicate/smg.rsi/meta.json
  Resources/Textures/Backmen/Structures/Furniture/potted_plants.rsi/hedge.png
  Resources/Textures/Backmen/Structures/Furniture/potted_plants.rsi/meta.json
  Resources/Textures/Backmen/Structures/Furniture/potted_plants.rsi/plasma_plant.png
Labels: Changes: Sprites, Changes: Map, No C#, Changes: Localization, S: Untriaged, size/XL

#1149 Revert "Update CollisionGroup.cs (#1129)"
  Content.Shared/Physics/CollisionGroup.cs
Labels: S: Untriaged, size/XS

#1150 [Fix] Borgs
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
Labels: No C#, S: Untriaged, size/XS

#1154 fix operator playtime
  Content.Client/Administration/AdminNameOverlay.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Server/Backmen/Arrivals/Centcomm/CentCommSpawnSystem.cs
  Content.Server/Backmen/Arrivals/Centcomm/StationCentCommDirectorComponent.cs
  Resources/Locale/ru-RU/mind/role-types.ftl
  Resources/Maps/Backmen/backmen_centcom.yml
  Resources/Prototypes/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/Maps/centcomm.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/Roles/role_types.yml
  Resources/Prototypes/_Backmen/CentComm/BKCCOperator.yml
  Resources/Prototypes/_Backmen/Entities/Markers/Spawners/inteq.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Player/Other/inteq.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/operator.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/departments.yml
Labels: Changes: Map, No C#, Changes: Localization, Fix, S: Untriaged, size/M

#1153 Варка пластика!
  Resources/Prototypes/_Backmen/Reactions/plastic.yml
Labels: No C#, S: Untriaged, Approved

#1117 [Feature] Decal Grenade
  Content.Server/Backmen/Explosion/Components/DecalGrenadeComponent.cs
  Content.Server/Backmen/Explosion/EntitySystems/DecalGrenadeSystem.cs
  Resources/Audio/Backmen/Effects/yay_fnaf.ogg
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/objects/weapons/throwable/grenades.ftl
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Decal/confetti.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Textures/Backmen/Decals/confetti.rsi/confetti1.png
  Resources/Textures/Backmen/Decals/confetti.rsi/confetti2.png
  Resources/Textures/Backmen/Decals/confetti.rsi/confetti3.png
  Resources/Textures/Backmen/Decals/confetti.rsi/confetti4.png
  Resources/Textures/Backmen/Decals/confetti.rsi/meta.json
  Resources/Textures/Backmen/Objects/Weapons/Grenades/confetti.rsi/equipped-BELT.png
  Resources/Textures/Backmen/Objects/Weapons/Grenades/confetti.rsi/icon.png
  Resources/Textures/Backmen/Objects/Weapons/Grenades/confetti.rsi/meta.json
  Resources/Textures/Backmen/Objects/Weapons/Grenades/confetti.rsi/primed.png
Labels: Changes: Sprites, Changes: Localization, S: Untriaged, size/M, Changes: Audio, Approved

#1142 [Fix] Sizo Day One Patch
  Resources/Maps/Backmen/Lavaland/InteQ_Sizo.yml
  Resources/Prototypes/_Backmen/Catalog/VendingMachines/Inventories/inteqdrobe.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/OuterClothing/coat.yml
  Resources/Prototypes/_Backmen/Entities/Markers/Spawners/inteq.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/syndicate.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Player/Other/inteq.yml
  Resources/Prototypes/_Backmen/Entities/Structures/Furniture/potted_plants.yml
Labels: Changes: Map, No C#, S: Untriaged, size/XL, Approved

#1159 Убрать пацифизм у вора
  Resources/Prototypes/GameRules/subgamemodes.yml
Labels: No C#, size/XS

#1160 [Tweak] InteQ Patch Two
  Resources/Locale/en-US/backmen/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/backmen/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/markers/spawners/inteq.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/mobs/player/other/inteq.ftl
  Resources/Prototypes/_Backmen/Catalog/Fills/Items/Container/inteq_box.yml
  Resources/Prototypes/_Backmen/Catalog/Fills/Items/Container/inteq_case.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Backmen/Entities/Markers/Spawners/inteq.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/syndicate.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Player/Other/inteq.yml
  Resources/Prototypes/_Backmen/Entities/Structures/Furniture/potted_plants.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/Fun/inteq_startinggear.yml
  Resources/migration.yml
Labels: No C#, Changes: Localization, size/S

#1156 [FIX] NinjaNames
  Resources/Locale/ru-RU/datasets/names/ninja_title.ftl
  Resources/Prototypes/Datasets/Names/ninja.yml
Labels: No C#, Changes: Localization, S: Untriaged, size/S

#1158 Fix Bacchus's sprite
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
Labels: No C#, S: Untriaged, size/S

#1163 fix
  Content.IntegrationTests/Tests/_Lavaland/LavalandGenerationTest.cs
  Content.Server/Backmen/Arrivals/Centcomm/CentCommSpawnSystem.cs
  Content.Server/Backmen/Arrivals/Centcomm/StationCentCommDirectorComponent.cs
  Content.Server/Salvage/FultonSystem.cs
  Content.Server/_Lavaland/Procedural/Systems/LavalandPlanetSystem.cs
  Content.Server/_Lavaland/Weather/Gamerule/LavalandStormSchedulerRule.cs
  Content.Shared/Salvage/Fulton/SharedFultonSystem.cs
  Content.Shared/_Lavaland/Procedural/Prototypes/LavalandMapPrototype.cs
  Resources/Maps/Backmen/backmen_centcom.yml
  Resources/Prototypes/_Backmen/CentComm/BKCCAssistant.yml
  Resources/Prototypes/_Backmen/CentComm/BKCCCargo.yml
  Resources/Prototypes/_Backmen/CentComm/BKCCOperator.yml
  Resources/Prototypes/_Backmen/CentComm/BKCCSecure.yml
  Resources/Prototypes/game_presets.yml
Labels: Changes: Map, S: Untriaged, size/M

#1157 Revert "Варка пластика!"
  Resources/Prototypes/_Backmen/Reactions/plastic.yml
Labels: No C#, S: Untriaged, size/S, Approved

#1155 [Port] Next Shaders
  Content.Client/Entry/EntryPoint.cs
  Content.Client/_CorvaxNext/Bloom/BloomOverlay.cs
  Content.Shared/_CorvaxNext/Bloom/BloomComponent.cs
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/_Backmen/Shaders/shaders.yml
  Resources/Textures/_CorvaxNext/Shaders/bloom.swsl
Labels: Changes: Shaders, S: Untriaged, size/M

#1168 inteq hotfix
  Resources/Prototypes/_Backmen/Entities/Markers/Spawners/inteq.yml
  Resources/Prototypes/ai_factions.yml
Labels: No C#, S: Untriaged, size/S

#1169 Revert "[Port] Next Shaders"
  Content.Client/Entry/EntryPoint.cs
  Content.Client/_CorvaxNext/Bloom/BloomOverlay.cs
  Content.Shared/_CorvaxNext/Bloom/BloomComponent.cs
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/_Backmen/Shaders/shaders.yml
  Resources/Textures/_CorvaxNext/Shaders/bloom.swsl
Labels: Changes: Shaders, S: Untriaged, size/M

#1148 [FEATURE] Interface 2.0
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Stylesheets/StyleNano.cs
  Resources/Locale/ru-RU/launcher/launcher-connecting.ftl
  Resources/Textures/Interface/Nano/black_panel_light_thin_border.png
  Resources/Textures/Interface/Nano/checkbox_checked.svg.96dpi.png
  Resources/Textures/Interface/Nano/checkbox_unchecked.svg.96dpi.png
  Resources/Textures/Interface/Nano/light_panel_background_bordered.png
  Resources/Textures/Interface/Nano/lineedit.png
  Resources/Textures/Logo/icon-ru/icon-128x128.png
  Resources/Textures/Logo/icon-ru/icon-16x16.png
  Resources/Textures/Logo/icon-ru/icon-24x24.png
  Resources/Textures/Logo/icon-ru/icon-256x256.png
  Resources/Textures/Logo/icon-ru/icon-32x32.png
  Resources/Textures/Logo/icon-ru/icon-48x48.png
  Resources/Textures/Logo/icon-ru/icon-64x64.png
  Resources/Textures/Logo/icon.ico
  Resources/Textures/Logo/logo-ru.png
Labels: Changes: UI, Changes: Localization, S: Untriaged, size/S

#1164 [FIX] ShedulerFIX
  Resources/Prototypes/game_presets.yml
Labels: No C#, S: Untriaged

#1172 Ptwindow_fix
  Resources/Prototypes/Entities/Structures/Windows/plastitanium.yml
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/full.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/ptwindow0.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/ptwindow1.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/ptwindow2.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/ptwindow3.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/ptwindow4.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/ptwindow5.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/ptwindow6.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/ptwindow7.png
Labels: Changes: Sprites, No C#, S: Untriaged, size/XS

#1174 [Fix] Пушки таблет
  Resources/Prototypes/Entities/Markers/Spawners/Random/Department/security.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Magic/event_spells.yml
Labels: No C#, S: Untriaged, size/M

#1170 Slug-donut
  Resources/Locale/ru-RU/backmen/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/backmen/prototypes/entities/objects/Consumable/food.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Consumable/Food/Baked/donut.yml
  Resources/Prototypes/_Backmen/Flavors/flavors.yml
  Resources/Textures/Backmen/Objects/Consumable/Food/Baked/donut.rsi/jelly-slug-UwU.png
  Resources/Textures/Backmen/Objects/Consumable/Food/Baked/donut.rsi/jelly-slug-artificer.png
  Resources/Textures/Backmen/Objects/Consumable/Food/Baked/donut.rsi/jelly-slug-creek.png
  Resources/Textures/Backmen/Objects/Consumable/Food/Baked/donut.rsi/jelly-slug-gourmet.png
  Resources/Textures/Backmen/Objects/Consumable/Food/Baked/donut.rsi/jelly-slug-hunter.png
  Resources/Textures/Backmen/Objects/Consumable/Food/Baked/donut.rsi/jelly-slug-monk.png
  Resources/Textures/Backmen/Objects/Consumable/Food/Baked/donut.rsi/jelly-slug-saint.png
  Resources/Textures/Backmen/Objects/Consumable/Food/Baked/donut.rsi/jelly-slug-spear_master.png
  Resources/Textures/Backmen/Objects/Consumable/Food/Baked/donut.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, S: Untriaged, size/M

#1177 [Fix] centcomm station
  Resources/Maps/Backmen/backmen_centcom.yml
Labels: Changes: Map, No C#, S: Untriaged, size/L

#1175 BluespaceGoatFix
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/animals.yml
Labels: No C#, S: Untriaged

#1173 Lavaland borders fix
  Content.Server/Backmen/Shipwrecked/Biome/UnLoadChunkEvent.cs
  Content.Server/Backmen/Shipwrecked/ShipwreckedRuleSystem.cs
  Content.Server/Parallax/BiomeSystem.cs
  Content.Server/_Lavaland/Biome/BiomeOptimizeComponent.cs
  Content.Server/_Lavaland/Biome/LavalandMapOptimizationSystem.cs
  Content.Server/_Lavaland/Procedural/ChunkEvents.cs
  Content.Server/_Lavaland/Procedural/Components/LavalandMapComponent.cs
  Content.Server/_Lavaland/Procedural/Systems/LavalandPlanetSystem.cs
  Resources/Maps/Backmen/Lavaland/BigJohninator.yml
  Resources/Maps/Backmen/Lavaland/InteQ_Sizo.yml
  Resources/Maps/Backmen/Lavaland/ZENoblomMet2.yml
  Resources/Maps/Backmen/Lavaland/ZENrndOblom.yml
  Resources/Maps/Backmen/Lavaland/ZENshuttle1.yml
  Resources/Maps/Backmen/Lavaland/ZENtelega2.yml
  Resources/Prototypes/_Lavaland/Procedural/biome_markers.yml
  Resources/Prototypes/_Lavaland/Procedural/lavaland_grid_ruins.yml
  Resources/Prototypes/_Lavaland/Procedural/lavaland_planets.yml
  Resources/Prototypes/_Lavaland/Procedural/ruin_pools.yml
Labels: Changes: Map, S: Untriaged, size/M

#1162 funny spottable thing
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Server/Shuttles/Components/RadarDetectableComponent.cs
  Content.Server/Shuttles/Systems/RadarConsoleSystem.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Shared/Shuttles/BUIStates/DetectablePointState.cs
  Content.Shared/Shuttles/BUIStates/NavInterfaceState.cs
  Content.Shared/Shuttles/Components/RadarConsoleComponent.cs
Labels: Changes: UI, S: Untriaged, size/M

#1178 fixes
  Resources/Prototypes/Entities/Objects/Misc/flesh.yml
Labels: No C#, S: Untriaged, size/XS
