Repository Rxup/space-station-14, pull requests merged in 2025-02, with the labels that each got.

#1022 Fixed syndi teleporter
  Content.Server/Backmen/Teleporter/ExperimentalTeleporterSystem.cs
  Resources/Locale/ru-RU/_backmen/Entities/Objects/device/syndicate_gadgets/experimental-teleporter.ftl
Labels: Changes: Localization, S: Untriaged, size/S

#1020 [Balance] Race of races
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/_Backmen/Damage/modifier_sets.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Player/combine.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/felinid.yml
Labels: No C#, S: Untriaged, size/S

#1032 [Fix] i dont hate corvax
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Corvax/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/migration.yml
Labels: Changes: Map, No C#, S: Untriaged, size/XS

#1028 Reimagined captain's hardsuit balance+retexture
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/off-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/off-inhand-right.png
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/on-inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/capspace.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/capspace.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/capspace.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/capspace.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/capspace.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/capspace.rsi/meta.json
Labels: Changes: Sprites, No C#, S: Untriaged, size/S

#1029 Captain saber rebalance
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
Labels: No C#, S: Untriaged, size/XS

#1034 station goal to centcom
  Content.Server/Corvax/StationGoal/StationGoalPaperSystem.cs
  Resources/Maps/centcomm.yml
  Resources/Prototypes/_Backmen/Entities/Structures/Machines/holopad.yml
Labels: Changes: Map, S: Untriaged, size/S

#1031 Aspid grand remap
  Resources/Maps/Backmen/backmen_aspid.yml
Labels: Changes: Map, No C#, S: Untriaged, size/XL

#1036 Hair "Shaved Female"
  Resources/Locale/ru-RU/accessories/human-hair.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/Mobs/Customization/human_hair.rsi/meta.json
  Resources/Textures/Mobs/Customization/human_hair.rsi/shaved_female.png
Labels: Changes: Sprites, No C#, Changes: Localization, S: Untriaged

#987 Ports
  Content.Client/Backmen/Medical/SmartFridge/SmartFridgeBoundUserInterface.cs
  Content.Client/Backmen/Medical/SmartFridge/SmartFridgeSystem.cs
  Content.Client/Backmen/Medical/SmartFridge/UI/SmartFridgeMenu.xaml
  Content.Client/Backmen/Medical/SmartFridge/UI/SmartFridgeMenu.xaml.cs
  Content.Server/Backmen/Medical/SmartFridge/SmartFridgeSystem.cs
  Content.Server/Backmen/Weapons/Ranged/Systems/FireOnDropSystem.cs
  Content.Shared/Backmen/Medical/SmartFridge/SharedSmartFridgeSystem.cs
  Content.Shared/Backmen/Medical/SmartFridge/SmartFridgeComponent.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Resources/Locale/ru-RU/_corvaxnext/reagents/biological.ftl
  Resources/Locale/ru-RU/_corvaxnext/smartfridge/smartfridge.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/structures/wallmounts/flags.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_pka.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Entities/Structures/Machines/smartfridge.yml
  Resources/Prototypes/_CorvaxNext/Entities/Structures/Wallmounts/flags.yml
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/agurk.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/coder.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/goldring.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/hca.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/inteq.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/lizard.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/meta.json
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/mothic.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/nri.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/nt.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/shigu.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/solfed.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/solfed_alt.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/soviet.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/syndicate.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/tizira.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/vulp.png
  Resources/migration.yml
Labels: Changes: Sprites, Changes: UI, Changes: Localization, S: Untriaged, size/M

#1030 X-01 multiphase gun & antique laser gun bullet projectiles
  Resources/Audio/Backmen/Weapons/Energy/Resources_Audio_DeltaV_Weapons_Guns_Gunshots_laser.ogg
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/objects/weapons/guns/battery/X01.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Energy/hitscan.yml
  Resources/Textures/Backmen/Objects/Weapons/Guns/Energy/x01.rsi/base.png
  Resources/Textures/Backmen/Objects/Weapons/Guns/Energy/x01.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Backmen/Objects/Weapons/Guns/Energy/x01.rsi/icon.png
  Resources/Textures/Backmen/Objects/Weapons/Guns/Energy/x01.rsi/inhand-left-0.png
  Resources/Textures/Backmen/Objects/Weapons/Guns/Energy/x01.rsi/inhand-left-1.png
  Resources/Textures/Backmen/Objects/Weapons/Guns/Energy/x01.rsi/inhand-left-2.png
  Resources/Textures/Backmen/Objects/Weapons/Guns/Energy/x01.rsi/inhand-left-3.png
  Resources/Textures/Backmen/Objects/Weapons/Guns/Energy/x01.rsi/inhand-left.png
  Resources/Textures/Backmen/Objects/Weapons/Guns/Energy/x01.rsi/inhand-right-0.png
  Resources/Textures/Backmen/Objects/Weapons/Guns/Energy/x01.rsi/inhand-right-1.png
  Resources/Textures/Backmen/Objects/Weapons/Guns/Energy/x01.rsi/inhand-right-2.png
  Resources/Textures/Backmen/Objects/Weapons/Guns/Energy/x01.rsi/inhand-right-3.png
  Resources/Textures/Backmen/Objects/Weapons/Guns/Energy/x01.rsi/inhand-right.png
  Resources/Textures/Backmen/Objects/Weapons/Guns/Energy/x01.rsi/mag-unshaded-0.png
  Resources/Textures/Backmen/Objects/Weapons/Guns/Energy/x01.rsi/mag-unshaded-1.png
  Resources/Textures/Backmen/Objects/Weapons/Guns/Energy/x01.rsi/mag-unshaded-2.png
  Resources/Textures/Backmen/Objects/Weapons/Guns/Energy/x01.rsi/mag-unshaded-3.png
  Resources/Textures/Backmen/Objects/Weapons/Guns/Energy/x01.rsi/mag-unshaded-4.png
  Resources/Textures/Backmen/Objects/Weapons/Guns/Energy/x01.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/mag-unshaded-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/mag-unshaded-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/mag-unshaded-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/mag-unshaded-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/mag-unshaded-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, S: Untriaged, size/M, Changes: Audio

#1038 [FIX] нижнее белье больше не накладывается
  Resources/Prototypes/InventoryTemplates/arachnid_inventory_template.yml
  Resources/Prototypes/InventoryTemplates/corpse_inventory_template.yml
  Resources/Prototypes/InventoryTemplates/diona_inventory_template.yml
  Resources/Prototypes/InventoryTemplates/human_inventory_template.yml
Labels: No C#, S: Untriaged, size/S

#1040 fix shitmed test
  Content.IntegrationTests/Tests/Backmen/Body/HandsTest.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Resources/Prototypes/Body/Prototypes/primate.yml
  Resources/Prototypes/_Backmen/Body/Parts/spider.yml
  Resources/Prototypes/_Backmen/Body/Prototypes/arachne.yml
  Resources/Prototypes/_Backmen/Body/Prototypes/drone.yml
  Resources/Prototypes/_Backmen/Body/Prototypes/haisenberg.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/base.yml
Labels: S: Untriaged, size/M

#1042 [FIX] - Lobby chat background fix + votemenu button
  Content.Client/Lobby/UI/LobbyGui.xaml
  Content.Client/Lobby/UI/LobbyGui.xaml.cs
  Resources/Locale/ru-RU/lobby/lobby-gui.ftl
Labels: Changes: UI, Changes: Localization, size/S

#1041 Aspid Maintenance
  Resources/Maps/Backmen/backmen_aspid.yml
Labels: Changes: Map, No C#, S: Untriaged, size/M

#1044 [FEATURE] - арахны могут носить броники
  Resources/Prototypes/Corvax/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/tags.yml
Labels: No C#, S: Untriaged, size/S

#1046 [PORT] настольные компьютеры залетают в игру!
  Content.Server/Backmen/Construction/ComputerTabletopBoardComponent.cs
  Content.Server/Construction/NodeEntities/BoardNodeEntity.cs
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/_Backmen/Entities/Structures/Machines/Computers/computers_tabletop.yml
  Resources/Prototypes/_Backmen/Entities/Structures/Machines/Computers/frame_tabletop.yml
  Resources/Prototypes/_Backmen/Recipes/Construction/Graphs/structures/computer_tabletop.yml
  Resources/Prototypes/_Backmen/Recipes/Construction/machines.yml
  Resources/Textures/_NF/Structures/Machines/computer_tabletop.rsi/broken_tabletop.png
  Resources/Textures/_NF/Structures/Machines/computer_tabletop.rsi/computer_board_exposed.png
  Resources/Textures/_NF/Structures/Machines/computer_tabletop.rsi/computer_monitor_unscrewed.png
  Resources/Textures/_NF/Structures/Machines/computer_tabletop.rsi/computer_no_monitor.png
  Resources/Textures/_NF/Structures/Machines/computer_tabletop.rsi/computer_tabletop.png
  Resources/Textures/_NF/Structures/Machines/computer_tabletop.rsi/computer_tabletop_frame.png
  Resources/Textures/_NF/Structures/Machines/computer_tabletop.rsi/generic_keyboard_tabletop.png
  Resources/Textures/_NF/Structures/Machines/computer_tabletop.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/M

#1052 Foxes Sound
  Resources/Audio/Backmen/Voice/Foxes/attributions.yml
  Resources/Audio/Backmen/Voice/Foxes/foxcry01.ogg
  Resources/Audio/Backmen/Voice/Foxes/foxcry02.ogg
  Resources/Audio/Backmen/Voice/Foxes/foxgrowl01.ogg
  Resources/Audio/Backmen/Voice/Foxes/foxhowl01.ogg
  Resources/Audio/Backmen/Voice/Foxes/foxlaugh01.ogg
  Resources/Audio/Backmen/Voice/Foxes/foxpurrs01.ogg
  Resources/Audio/Backmen/Voice/Foxes/foxpurrs02.ogg
  Resources/Audio/Backmen/Voice/Foxes/foxscream01.ogg
  Resources/Audio/Backmen/Voice/Foxes/foxscream02.ogg
  Resources/Audio/Backmen/Voice/Foxes/foxscream03.ogg
  Resources/Audio/Backmen/Voice/Foxes/foxscream04.ogg
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/foxes.yml
  Resources/Prototypes/_Backmen/SoundCollections/foxes.yml
  Resources/Prototypes/_Backmen/Voice/speech_emote_sounds.yml
Labels: No C#, S: Untriaged, size/M, Changes: Audio

#1050 [ХЗ] Спонсорская тема
  Resources/Locale/ru-RU/backmen/sponsors/windowmanager.ftl
  Resources/Prototypes/_Backmen/ghosts/special.yml
  Resources/Textures/Backmen/Mobs/Ghost/astronaut.rsi/astronaut.png
  Resources/Textures/Backmen/Mobs/Ghost/astronaut.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, S: Untriaged, size/S

#1054 [Fix] fix sound vulp + [Port] new customization fox
  Resources/Locale/ru-RU/backmen/markings/foxes.ftl
  Resources/Prototypes/Corvax/Voice/speech_emotes.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Customization/Markings/fox_markings.yml
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/belly_full.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/coyote.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/dalmatian.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/fennec-inner.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/fennec.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/fox.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/jackal-inner.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/jackal.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/jackal_alt-inner.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/jackal_alt.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/meta.json
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/msai-inner.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/msai.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/otie-inner.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/otie.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/points_crest-arms.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/points_crest-legs.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/points_crest.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/points_fade-arms.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/points_fade-legs.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/points_fade.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/points_feet.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/points_hands.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/points_sharp-arms.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/points_sharp-legs.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/points_sharp.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/shock.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/terrier-inner.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/terrier.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/vulp-fade.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/vulp-inner.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/vulp-sharp.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/vulp.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/wolf-inner.png
  Resources/Textures/Backmen/Mobs/Customization/fox_markings.rsi/wolf.png
Labels: Changes: Sprites, No C#, Changes: Localization, S: Untriaged, size/M

#1055 [PORT] NanoСhat
  Content.Client/Access/UI/AgentIDCardBoundUserInterface.cs
  Content.Client/Access/UI/AgentIDCardWindow.xaml
  Content.Client/Access/UI/AgentIDCardWindow.xaml.cs
  Content.Client/CartridgeLoader/Cartridges/LogProbeUi.cs
  Content.Client/CartridgeLoader/Cartridges/LogProbeUiFragment.xaml
  Content.Client/CartridgeLoader/Cartridges/LogProbeUiFragment.xaml.cs
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatEntry.xaml
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatEntry.xaml.cs
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatLogEntry.xaml
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatLogEntry.xaml.cs
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatMessageBubble.xaml
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatMessageBubble.xaml.cs
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatUi.cs
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml.cs
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NewChatPopup.xaml
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NewChatPopup.xaml.cs
  Content.Client/_CorvaxNext/NanoChat/NanoChatSystem.cs
  Content.Server/Access/Systems/AgentIDCardSystem.cs
  Content.Server/CartridgeLoader/Cartridges/LogProbeCartridgeComponent.cs
  Content.Server/CartridgeLoader/Cartridges/LogProbeCartridgeSystem.cs
  Content.Server/_CorvaxNext/CartridgeLoader/Cartridges/LogProbeCartridgeSystem.NanoChat.cs
  Content.Server/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatCartridgeComponent.cs
  Content.Server/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatCartridgeSystem.cs
  Content.Server/_CorvaxNext/NanoChat/NanoChatSystem.cs
  Content.Shared/Access/SharedAgentIDCardSystem.cs
  Content.Shared/CartridgeLoader/Cartridges/LogProbeUiState.cs
  Content.Shared/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatUiMessageEvent.cs
  Content.Shared/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatUiState.cs
  Content.Shared/_CorvaxNext/NanoChat/NanoChatCardComponent.cs
  Content.Shared/_CorvaxNext/NanoChat/SharedNanoChatSystem.cs
  NanoChat.patch
  Resources/Locale/en-US/_corvaxnext/access/components/agent-id-card-component.ftl
  Resources/Locale/en-US/_corvaxnext/cartridge-loader/nanochat.ftl
  Resources/Locale/en-US/_corvaxnext/nanochat/components/nanochat-card-component.ftl
  Resources/Locale/ru-RU/_corvaxnext/access/components/agent-id-card-component.ftl
  Resources/Locale/ru-RU/_corvaxnext/cartridge-loader/nanochat.ftl
  Resources/Locale/ru-RU/_corvaxnext/nanochat/components/nanochat-card-component.ftl
  Resources/Locale/ru-RU/backmen/disease/disease.ftl
  Resources/Locale/ru-RU/backmen/disease/swab.ftl
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/_CorvaxNext/name_identifier_groups.yml
  Resources/Textures/_CorvaxNext/Interface/VerbIcons/ATTRIBUTION.txt
  Resources/Textures/_CorvaxNext/Interface/VerbIcons/bell.svg
  Resources/Textures/_CorvaxNext/Interface/VerbIcons/bell.svg.png
  Resources/Textures/_CorvaxNext/Interface/VerbIcons/bell_muted.png
  Resources/Textures/_CorvaxNext/Misc/program_icons.rsi/meta.json
  Resources/Textures/_CorvaxNext/Misc/program_icons.rsi/nanochat.png
  Resources/Textures/_CorvaxNext/Objects/Devices/cartridge.rsi/cart-chat.png
  Resources/Textures/_CorvaxNext/Objects/Devices/cartridge.rsi/meta.json
Labels: Changes: Sprites, Changes: UI, Changes: Localization, S: Untriaged, size/L

#1058 [Fix] Pilot fixes
  Resources/Prototypes/Corvax/Loadouts/Jobs/Security/pilot.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Security/pilot.yml
  Resources/Textures/Backmen/Clothing/Head/Hardsuits/sec-pilot-hardsuit.rsi/off-equipped-HELMET.png
  Resources/Textures/Backmen/Clothing/Head/Hardsuits/sec-pilot-hardsuit.rsi/on-equipped-HELMET.png
Labels: Changes: Sprites, No C#, S: Untriaged, size/XS

#1059 [HOTFIX] NanoChat
  NanoChat.patch
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: No C#, size/L

#1062 Box Backmen remap
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/Backmen/backmen_box.yml
  Resources/Prototypes/_Backmen/Maps/backmen_box.yml
Labels: Changes: Map, No C#, S: Untriaged, size/XL

#1069 fix psi
  Content.Client/Backmen/Chapel/SacrificialAltarSystem.cs
  Content.Server/Backmen/Chapel/SacrificialAltarSystem.cs
  Content.Server/Backmen/Psionics/Glimmer/GlimmerReactiveSystem.cs
  Content.Server/Backmen/Psionics/Glimmer/Structures/GlimmerSourceComponent.cs
  Content.Server/Backmen/Psionics/Glimmer/Structures/GlimmerStructuresSystem.cs
  Content.Server/Backmen/Soul/GolemSystem.cs
  Content.Server/Backmen/StationEvents/Events/NoosphericFryRule.cs
  Content.Shared/Backmen/Chapel/Components/SacrificialAltarComponent.cs
  Content.Shared/Backmen/Chapel/SharedSacrificialAltarSystem.cs
  Content.Shared/Backmen/Psionics/Glimmer/GlimmerReactiveComponent.cs
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/item_artifacts.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/structure_artifacts.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/_Backmen/GameRules/events.yml
  Resources/Prototypes/_Backmen/game_presets.yml
  Resources/Prototypes/game_presets.yml
Labels: S: Untriaged, size/M

#1072 fix-psi v2
  Content.Server/Backmen/Psionics/Glimmer/Components/GlimmerStationEventSchedulerComponent.cs
  Content.Server/Backmen/Psionics/Glimmer/GlimmerStationEventSchedulerSystem.cs
  Content.Shared/Backmen/CCVar/CCVars.DiscordAuth.cs
  Content.Shared/Backmen/CCVar/CCVars.Glimmer.cs
  Content.Shared/Backmen/CCVar/CCVars.JoinQueue.cs
  Content.Shared/Backmen/CCVar/CCVars.Mood.cs
  Content.Shared/Backmen/CCVar/CCVars.Sponsor.cs
  Content.Shared/Backmen/CCVar/CCVars.Supermatter.cs
  Content.Shared/Backmen/CCVar/CCVars.Surgery.cs
  Content.Shared/Backmen/CCVar/CCVars.cs
  Content.Shared/Backmen/CCVar/CCVars.gpt.cs
  Resources/Prototypes/_Backmen/GameRules/events.yml
Labels: S: Untriaged, size/M

#1073 [FIX] Airlock Light's
  Content.Client/Doors/AirlockSystem.cs
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
Labels: S: Untriaged, size/XS

#1075 [FIX] backmen_box
  Content.Server/Administration/Systems/AdminTestArenaSystem.cs
  Content.Server/Backmen/Chapel/SacrificialAltarSystem.cs
  Content.Server/Backmen/Psionics/Glimmer/Structures/GlimmerStructuresSystem.cs
  Content.Server/Backmen/StationEvents/Events/GlimmerRevenantSpawnRule.cs
  Content.Server/Backmen/StationEvents/Events/GlimmerWispSpawnRule.cs
  Content.Shared/Backmen/Chapel/Components/SacrificialAltarComponent.cs
  Content.Shared/Backmen/Chapel/SharedSacrificialAltarSystem.cs
  Resources/Changelog/ChangelogBkm.yml
  Resources/Maps/Backmen/backmen_box.yml
  Resources/Maps/Test/admin_test_arena.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/_Backmen/GameRules/events.yml
  Resources/Prototypes/_Backmen/Reactions/psionic.yml
  Resources/ServerInfo/_Backmen/Guidebook/Epistemics/Psionics.xml
Labels: Changes: Map, No C#, S: Untriaged, size/M

#1049 [Fix] Huinya
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/ammo.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_Backmen/Catalog/Fills/Items/Belts/belts.yml
  Resources/Prototypes/_Backmen/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_Backmen/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Backmen/Catalog/uplink_nomad.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/pistol.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Magazine/pistol.yml
  Resources/Prototypes/_Backmen/Entities/Structures/Machines/marine_vending_machines.yml
  Resources/Prototypes/_Backmen/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_Backmen/Entities/Structures/Storage/Box/boxs.yml
  Resources/Prototypes/_Backmen/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_Backmen/Recipes/Lathes/security.yml
  Resources/Prototypes/_Backmen/Roles/Fun/ERT_Epsilon.yml
  Resources/migration.yml
Labels: No C#, S: Untriaged, size/M

#1078 Изменение текстур стаков телекристаллов, БС и нормальности, а так же …
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/objects/materials/materials.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/objects/specific/research/crystals.ftl
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/Stacks/Materials/crystals.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Specific/Research/crystals.yml
  Resources/Prototypes/_Backmen/Reactions/psionic.yml
  Resources/Prototypes/_Backmen/Reagents/Materials/materials.yml
  Resources/Prototypes/_Backmen/Recipes/Construction/Graphs/structures/glimmerdevices.yml
  Resources/Prototypes/_Backmen/Stacks/materials.yml
  Resources/Textures/Backmen/Objects/Materials/materials.rsi/meta.json
  Resources/Textures/Backmen/Objects/Materials/materials.rsi/normalitycrystal.png
  Resources/Textures/Backmen/Objects/Materials/materials.rsi/normalitycrystal_2.png
  Resources/Textures/Backmen/Objects/Materials/materials.rsi/normalitycrystal_3.png
  Resources/Textures/Objects/Specific/Syndicate/telecrystal.rsi/meta.json
  Resources/Textures/Objects/Specific/Syndicate/telecrystal.rsi/telecrystal.png
  Resources/Textures/Objects/Specific/Syndicate/telecrystal.rsi/telecrystal_2.png
  Resources/Textures/Objects/Specific/Syndicate/telecrystal.rsi/telecrystal_3.png
Labels: Changes: Sprites, No C#, Changes: Localization, S: Untriaged, size/M

#1079 [FIX] МАКСИМАЛЬНО ТУПОЙ НО РАБОЧИЙ ФИКС СРЫВА ТАЙЛОВ
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/meta.json
Labels: No C#, S: Untriaged, size/S
