Repository Rxup/space-station-14, pull requests merged in 2025-06, with the labels that each got.

#1367 wendor ghost
  Resources/Locale/ru-RU/backmen/sponsors/windowmanager.ftl
  Resources/Prototypes/_Backmen/ghosts/special.yml
  Resources/Textures/Backmen/Mobs/Ghost/Wendor-ghost.rsi/Wend.png
  Resources/Textures/Backmen/Mobs/Ghost/Wendor-ghost.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, size/S, Approved

#1369 [FIX] SomeFixes
  Content.Client/Lobby/UI/LobbyGui.xaml.cs
  Resources/Prototypes/Body/Organs/human.yml
Labels: Changes: UI, S: Untriaged, size/XS, Approved

#1376 [MAPS] Update Maps Rook, Centcomm
  Resources/Maps/Backmen/backmen_centcom.yml
  Resources/Maps/Backmen/backmen_rook.yml
Labels: Changes: Map, No C#, S: Untriaged, size/XL

#1383 Krutie bug fixi
  Content.Server/Backmen/Surgery/Consciousness/Systems/ServerConsciousnessSystem.cs
  Content.Server/Backmen/Surgery/Wounds/Systems/ServerWoundSystem.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/NPC/Systems/NPCUtilitySystem.cs
  Content.Shared/Backmen/Surgery/Wounds/Components/WoundComponent.cs
  Content.Shared/Backmen/Surgery/Wounds/Systems/WoundSystem.cs
  Content.Shared/Mobs/Systems/MobStateSystem.cs
  Resources/Prototypes/Damage/types.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/_Backmen/Entities/Surgery/wounds.yml
  Resources/Prototypes/_White/themes.yml
Labels: S: Untriaged, size/M

#1380 WhiteCaptainSmallUpdate | "Заказчик: Тит Роквелл"
  Resources/Locale/ru-RU/ss14-ru/prototypes/_backmen/entities/clothing/back/duffel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_backmen/entities/clothing/neck/mantles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_backmen/entities/clothing/outerclothing/armor.ftl
  Resources/Prototypes/_Backmen/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_CorvaxNext/Catalog/VendingMachines/Inventories/CaptainDrobeInventory.yml
  Resources/Textures/Backmen/Clothing/Back/Duffels/white_captain_duffel.rsi/equipped-BACKPACK.png
  Resources/Textures/Backmen/Clothing/Back/Duffels/white_captain_duffel.rsi/icon.png
  Resources/Textures/Backmen/Clothing/Back/Duffels/white_captain_duffel.rsi/inhand-left.png
  Resources/Textures/Backmen/Clothing/Back/Duffels/white_captain_duffel.rsi/inhand-right.png
  Resources/Textures/Backmen/Clothing/Back/Duffels/white_captain_duffel.rsi/meta.json
  Resources/Textures/Backmen/Clothing/Mask/gascaptain_white.rsi/equipped-MASK-reptilian.png
  Resources/Textures/Backmen/Clothing/Mask/gascaptain_white.rsi/equipped-MASK-vox.png
  Resources/Textures/Backmen/Clothing/Mask/gascaptain_white.rsi/equipped-MASK.png
  Resources/Textures/Backmen/Clothing/Mask/gascaptain_white.rsi/icon.png
  Resources/Textures/Backmen/Clothing/Mask/gascaptain_white.rsi/inhand-left.png
  Resources/Textures/Backmen/Clothing/Mask/gascaptain_white.rsi/inhand-right.png
  Resources/Textures/Backmen/Clothing/Mask/gascaptain_white.rsi/meta.json
  Resources/Textures/Backmen/Clothing/Neck/Mantle/white_captain_mantle.rsi/equipped-NECK.png
  Resources/Textures/Backmen/Clothing/Neck/Mantle/white_captain_mantle.rsi/icon.png
  Resources/Textures/Backmen/Clothing/Neck/Mantle/white_captain_mantle.rsi/inhand-left.png
  Resources/Textures/Backmen/Clothing/Neck/Mantle/white_captain_mantle.rsi/inhand-right.png
  Resources/Textures/Backmen/Clothing/Neck/Mantle/white_captain_mantle.rsi/meta.json
  Resources/Textures/Backmen/Clothing/OuterClothing/Armor/white_captain_carapace.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Armor/white_captain_carapace.rsi/icon.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Armor/white_captain_carapace.rsi/inhand-left.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Armor/white_captain_carapace.rsi/inhand-right.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Armor/white_captain_carapace.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, size/M, Approved
