Repository Rxup/space-station-14, pull requests merged in 2025-05, with the labels that each got.

#1275 Перевод апстрима (чуть чуть)
  Resources/Locale/ru-RU/backmen/entities/objects/misc/silo.ftl
  Resources/Locale/ru-RU/backmen/mail/mails.ftl
  Resources/Locale/ru-RU/delivery/delivery-component.ftl
  Resources/Locale/ru-RU/delivery/delivery-messages.ftl
  Resources/Locale/ru-RU/delivery/delivery-spam.ftl
  Resources/Locale/ru-RU/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
Labels: No C#, Changes: Localization, size/M, Approved

#1271 [Feature] Colored Captain Coats
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/clothing/outerclothing/coat.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/outerclothing/coats.ftl
  Resources/Prototypes/_Backmen/Entities/Clothing/OuterClothing/coat.yml
  Resources/Prototypes/_CorvaxNext/Catalog/VendingMachines/Inventories/CaptainDrobeInventory.yml
  Resources/Textures/Backmen/Clothing/OuterClothing/Coats/captain_sheriff.rsi/equipped-OUTERCLOTHING-digi.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Coats/captain_sheriff.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Coats/captain_sheriff.rsi/icon.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Coats/captain_sheriff.rsi/inhand-left.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Coats/captain_sheriff.rsi/inhand-right.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Coats/captain_sheriff.rsi/meta.json
  Resources/Textures/Backmen/Clothing/OuterClothing/Coats/captain_white.rsi/equipped-OUTERCLOTHING-digi.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Coats/captain_white.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Coats/captain_white.rsi/icon.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Coats/captain_white.rsi/inhand-left.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Coats/captain_white.rsi/inhand-right.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Coats/captain_white.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, S: Untriaged, Approved

#1266 [Feature] Better Snake Tails
  Resources/Locale/en-US/_backmen/markings/reptilian.ftl
  Resources/Locale/ru-RU/backmen/markings/reptilian.ftl
  Resources/Prototypes/_Backmen/Entities/Mobs/Customization/Markings/tails.yml
  Resources/Textures/Backmen/Mobs/Customization/tails32x32.rsi/meta.json
  Resources/Textures/Backmen/Mobs/Customization/tails32x32.rsi/snake.png
  Resources/Textures/Backmen/Mobs/Customization/tails32x32.rsi/snake_dual.png
  Resources/Textures/Backmen/Mobs/Customization/tails32x32.rsi/snake_dual_secondary.png
  Resources/Textures/Backmen/Mobs/Customization/tails32x32.rsi/snake_dual_secondary_wagging.png
  Resources/Textures/Backmen/Mobs/Customization/tails32x32.rsi/snake_dual_wagging.png
  Resources/Textures/Backmen/Mobs/Customization/tails32x32.rsi/snake_stripe.png
  Resources/Textures/Backmen/Mobs/Customization/tails32x32.rsi/snake_stripe_alt.png
  Resources/Textures/Backmen/Mobs/Customization/tails32x32.rsi/snake_stripe_alt_secondary.png
  Resources/Textures/Backmen/Mobs/Customization/tails32x32.rsi/snake_stripe_alt_secondary_wagging.png
  Resources/Textures/Backmen/Mobs/Customization/tails32x32.rsi/snake_stripe_alt_wagging.png
  Resources/Textures/Backmen/Mobs/Customization/tails32x32.rsi/snake_stripe_secondary.png
  Resources/Textures/Backmen/Mobs/Customization/tails32x32.rsi/snake_stripe_secondary_wagging.png
  Resources/Textures/Backmen/Mobs/Customization/tails32x32.rsi/snake_stripe_wagging.png
  Resources/Textures/Backmen/Mobs/Customization/tails32x32.rsi/snake_under.png
  Resources/Textures/Backmen/Mobs/Customization/tails32x32.rsi/snake_under_secondary.png
  Resources/Textures/Backmen/Mobs/Customization/tails32x32.rsi/snake_under_secondary_wagging.png
  Resources/Textures/Backmen/Mobs/Customization/tails32x32.rsi/snake_under_wagging.png
  Resources/Textures/Backmen/Mobs/Customization/tails32x32.rsi/snake_wagging.png
Labels: Changes: Sprites, No C#, Changes: Localization, size/M, Approved

#1263 Update grand lottery
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
Labels: No C#, S: Untriaged, size/M, Approved

#1260 [Tweak] Change Underwear Slots
  Resources/Prototypes/InventoryTemplates/arachnid_inventory_template.yml
  Resources/Prototypes/InventoryTemplates/human_inventory_template.yml
Labels: No C#, Needs Discussion, size/S, Approved

#1259 [Feature] Lizard Tongue
  Content.Shared/Humanoid/HumanoidVisualLayers.cs
  Content.Shared/Humanoid/Markings/MarkingCategories.cs
  Resources/Locale/ru-RU/backmen/markings/reptilian.ftl
  Resources/Locale/ru-RU/backmen/preferences/ui/markings-picker.ftl
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/Entities/Clothing/Head/welding.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/Masks/specific.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Customization/Markings/reptilian_snout_overlay.yml
  Resources/Textures/Backmen/Mobs/Customization/reptilian_snout_overlay.rsi/meta.json
  Resources/Textures/Backmen/Mobs/Customization/reptilian_snout_overlay.rsi/reptilian_tongue.png
  Resources/Textures/Backmen/Mobs/Customization/reptilian_snout_overlay.rsi/reptilian_tongue_fast.png
  Resources/Textures/Backmen/Mobs/Customization/reptilian_snout_overlay.rsi/reptilian_tongue_slow.png
Labels: Changes: Sprites, Changes: Localization, DONT MERGE, Needs Discussion, S: Untriaged, size/M, Approved

#1258 [Feature] Covered Slot
  Content.Shared/Backmen/Inventory/Components/CoveredSlotComponent.cs
  Content.Shared/Backmen/Inventory/Systems/CoveredSlotSystem.cs
  Resources/Locale/en-US/backmen/inventory/components/covered-slot-component.ftl
  Resources/Locale/ru-RU/backmen/inventory/components/covered-slot-component.ftl
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
Labels: Changes: Localization, S: Untriaged, size/M, Approved

#1251 Allow surgery on self
  Content.Shared/Backmen/CCVar/CCVars.Surgery.cs
Labels: Needs Discussion, S: Untriaged, size/XS, Approved

#1250 [Tweak] New body doll UI
  Content.Client/Backmen/Targeting/TargetingSystem.cs
  Content.Client/Backmen/UserInterface/Systems/PartStatus/PartStatusUIController.cs
  Content.Client/Backmen/UserInterface/Systems/PartStatus/Widgets/PartStatusControl.xaml
  Content.Client/Backmen/UserInterface/Systems/PartStatus/Widgets/PartStatusControl.xaml.cs
  Content.Client/Backmen/UserInterface/Systems/Targeting/TargetingUIController.cs
  Content.Client/Backmen/UserInterface/Systems/Targeting/Widgets/TargetingControl.xaml
  Content.Client/Backmen/UserInterface/Systems/Targeting/Widgets/TargetingControl.xaml.cs
  Content.Client/UserInterface/Systems/Alerts/Widgets/AlertsUI.xaml
Labels: Changes: UI, S: Untriaged, size/M, Approved

#1247 [Feature] Contraband Blueprints
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/objects/tools/blueprint.ftl
  Resources/Prototypes/_Backmen/Catalog/Fills/Lockers/inteq.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Tools/blueprint.yml
  Resources/Prototypes/_Backmen/Recipes/Lathes/contraband_inteq.yml
  Resources/Prototypes/_Backmen/Recipes/Lathes/contraband_syndicate.yml
Labels: No C#, Changes: Localization, size/M, Approved

#1244 [Tweak] Operating Table Gas Tank Slot
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/structures/furniture/tables/operating_table.ftl
  Resources/Prototypes/Entities/Structures/Furniture/Tables/operating_table.yml
  Resources/Prototypes/_Backmen/Entities/Structures/Furniture/Tables/operating_table.yml
Labels: No C#, Changes: Localization, S: Untriaged, size/S, Approved

#1243 [Tweak] Pullable Gaiter
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
Labels: No C#, Approved

#1240 [Feature] Morphine Reagent
  Resources/Locale/en-US/backmen/reagents/narcotics.ftl
  Resources/Locale/ru-RU/backmen/reagents/narcotics.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/objects/specific/chemistry-bottles.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/wallmed.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
  Resources/Prototypes/_Backmen/Catalog/Fills/Items/Belts/belts.yml
  Resources/Prototypes/_Backmen/Catalog/VendingMachines/Inventories/nanomedplus_nt.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/_Backmen/Reagents/narcotics.yml
  Resources/Prototypes/_Backmen/Recipes/Reactions/chemicals.yml
Labels: No C#, Changes: Localization, S: Untriaged, size/M, Approved

#1239 [Fix] Rebell Sprites
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Textures/Backmen/Mobs/Customization/reptilian_parts.rsi/cobra_hood_with_ears.png
  Resources/Textures/Backmen/Mobs/Customization/reptilian_parts.rsi/cobra_hood_with_ears_overlay.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/chest_f.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/chest_m.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/full.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/groin_f.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/groin_m.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/head_f.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/head_m.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/l_arm.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/l_foot.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/l_hand.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/l_leg.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/meta.json
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/r_arm.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/r_foot.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/r_hand.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/r_leg.png
Labels: Changes: Sprites, No C#, S: Untriaged, size/S, Approved

#1236 [Tweak] Change Plasma Weapon
  Resources/Audio/Backmen/Weapons/Melee/plasma/plasma_hit.ogg
  Resources/Audio/Backmen/Weapons/Melee/plasma/plasma_swing.ogg
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/objects/weapons/melee/e_sword.ftl
  Resources/Prototypes/_Backmen/Catalog/Fills/Lockers/inteq.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/migration.yml
Labels: No C#, Changes: Localization, S: Untriaged, size/M, Changes: Audio, Approved

#1224 [Tweak] Energy Dome Nerf
  Resources/Prototypes/_Backmen/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Tools/energydome.yml
Labels: No C#, S: Untriaged, size/S, Approved

#1276 ReBELL Day 1 Fixes (reimagined)
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
  Content.Server/Backmen/Surgery/Consciousness/Systems/ServerConsciousnessSystem.cs
  Content.Server/Backmen/Surgery/Wounds/Systems/ServerWoundSystem.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Server/Medical/HealingSystem.cs
  Content.Shared/Backmen/CCVar/CCVars.ReBELL.cs
  Content.Shared/Backmen/Surgery/Consciousness/Systems/ConsciousnessSystem.Networking.cs
  Content.Shared/Backmen/Surgery/Pain/Systems/PainSystem.cs
  Content.Shared/Backmen/Surgery/SharedBloodstreamSystem.cs
  Content.Shared/Backmen/Surgery/Traumas/Systems/TraumaSystem.Organs.cs
  Content.Shared/Backmen/Surgery/Wounds/Systems/WoundSystem.Healing.cs
  Content.Shared/Backmen/Surgery/Wounds/Systems/WoundSystem.Wounding.cs
  Content.Shared/Backmen/Surgery/Wounds/Systems/WoundSystem.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/Medical/DefibrillatorComponent.cs
  Resources/Prototypes/_Backmen/Entities/Surgery/wounds.yml
Labels: Changes: UI, S: Untriaged, size/M, Approved

#1261 pilot_salary
  Resources/Prototypes/Corvax/Roles/Jobs/Security/pilot.yml
Labels: No C#, S: Untriaged, Approved

#1265 [Tweak] Assistant Great Again
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
  Resources/Textures/Interface/Misc/job_icons.rsi/Passenger.png
Labels: Changes: Sprites, No C#, S: Untriaged, size/XS, Approved

#1234 [Feature] Saw Cleaver
  Content.Shared/Backmen/SawCleaver/Components/SawCleaverComponent.cs
  Content.Shared/Backmen/SawCleaver/Systems/SawCleaverSystem.cs
  Resources/Audio/Backmen/Jukebox/RyanAmon/RyanAmon_Omen.ogg
  Resources/Audio/Backmen/Jukebox/RyanAmon/RyanAmon_TheHunter.ogg
  Resources/Audio/Backmen/Magic/Cults/ClockCult/attributions.yml
  Resources/Audio/Backmen/Magic/Cults/ClockCult/fellowship_armory.ogg
  Resources/Locale/en-US/backmen/items/item-states.ftl
  Resources/Locale/ru-RU/backmen/items/components/item-states.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/objects/weapons/melee/saw_cleaver.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/structures/specific/necropolis_crates.ftl
  Resources/Prototypes/_Backmen/Catalog/Fills/Crates/necropolis.yml
  Resources/Prototypes/_Backmen/Catalog/Standard.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Melee/saw_cleaver.yml
  Resources/Prototypes/_Backmen/SoundCollections/music.yml
  Resources/Prototypes/_Lavaland/Entities/Markers/Spawners/Random/crates.yml
  Resources/Textures/Backmen/Objects/Weapons/Melee/saw_cleaver-inhands.rsi/meta.json
  Resources/Textures/Backmen/Objects/Weapons/Melee/saw_cleaver-inhands.rsi/off-inhand-left.png
  Resources/Textures/Backmen/Objects/Weapons/Melee/saw_cleaver-inhands.rsi/off-inhand-right.png
  Resources/Textures/Backmen/Objects/Weapons/Melee/saw_cleaver-inhands.rsi/on-inhand-left.png
  Resources/Textures/Backmen/Objects/Weapons/Melee/saw_cleaver-inhands.rsi/on-inhand-right.png
  Resources/Textures/Backmen/Objects/Weapons/Melee/saw_cleaver.rsi/icon_off.png
  Resources/Textures/Backmen/Objects/Weapons/Melee/saw_cleaver.rsi/icon_on.png
  Resources/Textures/Backmen/Objects/Weapons/Melee/saw_cleaver.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, size/M, Changes: Audio, Approved

#1254 [Fix, Tweak] idcard console, perms
  Content.Server/Access/Systems/IdCardConsoleSystem.cs
  Content.Server/Administration/Commands/PersistenceSaveCommand.cs
  Content.Server/Administration/Commands/PlayTimeCommands.cs
  Content.Server/Chat/Commands/SetLOOCCommand.cs
  Content.Shared/Administration/AdminFlags.cs
  Resources/Locale/ru-RU/backmen/loadout.ftl
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/Neck/Low.yml
  Resources/Prototypes/_Backmen/Loadouts/sponsor.yml
  Resources/Prototypes/_Backmen/access_levels.yml
  Resources/Textures/Backmen/Clothing/Neck/Cloaks/low.rsi/equipped-NECK.png
  Resources/Textures/Backmen/Clothing/Neck/Cloaks/low.rsi/icon.png
  Resources/Textures/Backmen/Clothing/Neck/Cloaks/low.rsi/inhand-left.png
  Resources/Textures/Backmen/Clothing/Neck/Cloaks/low.rsi/inhand-right.png
  Resources/Textures/Backmen/Clothing/Neck/Cloaks/low.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, S: Untriaged, size/M, Approved

#1286 fixes
  Resources/Locale/ru-RU/ss14-ru/prototypes/actions/silicons.ftl
  Resources/Prototypes/_DeadSpace/Sponsor/wisdom.yml
Labels: S: Untriaged, size/XS

#1284 Try to fix tests
  Resources/Locale/ru-RU/datasets/names/clown_basefun.ftl
  Resources/Locale/ru-RU/datasets/names/dragon.ftl
Labels: No C#, Changes: Localization, size/XS, Approved

#1288 fix character review
  Content.Client/Lobby/LobbyUIController.cs
  Content.Server/Backmen/TTS/TTSManagerExtension.cs
  Resources/Locale/ru-RU/backmen/tts-voices.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_Backmen/tts-voices-bkm.yml
  Resources/Prototypes/_Backmen/tts-voices.yml
Labels: Changes: Localization, S: Untriaged, size/S

#1294 some shit
  .github/workflows/benchmarks.yml
  .github/workflows/build-docfx.yml
  .github/workflows/build-map-renderer.yml
  .github/workflows/build-test-debug.yml
  .github/workflows/check-crlf.yml
  .github/workflows/checker.yml
  .github/workflows/close-master-pr.yml
  .github/workflows/labeler-conflict.yml
  .github/workflows/labeler-pr.yml
  .github/workflows/labeler-review.yml
  .github/workflows/labeler-size.yml
  .github/workflows/labeler-stable.yml
  .github/workflows/labeler-staging.yml
  .github/workflows/labeler-untriaged.yml
  .github/workflows/main.yml
  .github/workflows/publish-testing.yml
  .github/workflows/rsi-diff.yml
  .github/workflows/update-credits.yml
  .github/workflows/update-wiki.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/validate-rsis.yml
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
Labels: S: Untriaged, size/S

#1296 some shit(again)
  .github/workflows/benchmarks.yml
  .github/workflows/main.yml
Labels: No C#, S: Untriaged, size/S

#1283 [Tweak] Sizo Update
  Resources/Maps/Backmen/Lavaland/InteQ_Sizo.yml
Labels: Changes: Map, No C#, S: Untriaged, size/XL, Approved

#1253 [Feature] Револьверная вечеринка
  Resources/Audio/Weapons/Guns64/Revolvers/revolver_cocked.ogg
  Resources/Audio/Weapons/Guns64/Revolvers/revolver_unload.ogg
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
Labels: No C#, size/M, Changes: Audio, Approved

#1262 [Tweak] Macrobomb Buff
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
Labels: No C#, S: Untriaged, Approved

#1269 [Tweak] UnGovno Ru
  Resources/Locale/ru-RU/accent/dwarf.ftl
  Resources/Locale/ru-RU/administration/smites.ftl
  Resources/Locale/ru-RU/backmen/language/languages.ftl
  Resources/Locale/ru-RU/backmen/paper/authorbooks.ftl
  Resources/Locale/ru-RU/borg/borg.ftl
  Resources/Locale/ru-RU/corvax/paper/book-rulebook.ftl
  Resources/Locale/ru-RU/corvax/paper/books-lore.ftl
  Resources/Locale/ru-RU/health-examinable/health-examinable-silicon.ftl
  Resources/Locale/ru-RU/reagents/meta/fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/mech/mech_construction.ftl
  Resources/Locale/ru-RU/station-laws/laws.ftl
  Resources/ServerInfo/Corvax/Guidebook/CorporateLaw/OPRS.xml
  Resources/ServerInfo/Guidebook/Mobs/Arachnid.xml
  Resources/ServerInfo/Guidebook/Mobs/Species.xml
  Resources/ServerInfo/Guidebook/NewPlayer/YourFirstCharacter.xml
  Resources/ServerInfo/Guidebook/Science/Cyborgs.xml
Labels: No C#, Changes: Localization, size/M, Approved

#1282 [Tweak] Syndicate Jaws Of Life
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
Labels: No C#, S: Untriaged, size/XS, Approved

#1281 Healing tweaks
  Content.Client/Audio/ContentAudioSystem.cs
  Content.Client/Backmen/Surgery/Pain/Systems/ClientPainSystem.cs
  Content.Client/Backmen/Surgery/Wounds/WoundableVisualsSystem.cs
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
  Content.Client/Options/UI/Tabs/AudioTab.xaml
  Content.Client/Options/UI/Tabs/AudioTab.xaml.cs
  Content.Client/Overlays/EntityHealthBarOverlay.cs
  Content.IntegrationTests/Tests/Backmen/Body/BodySetupTest.cs
  Content.Server/Backmen/Surgery/Consciousness/Systems/ServerConsciousnessSystem.cs
  Content.Server/Backmen/Surgery/Pain/Systems/ServerPainSystem.cs
  Content.Server/Backmen/Surgery/Trauma/Systems/ServerTraumaSystem.cs
  Content.Server/Backmen/Surgery/Wounds/Systems/ServerWoundSystem.cs
  Content.Server/EntityEffects/Effects/SuppressPain.cs
  Content.Server/Medical/HealingSystem.cs
  Content.Server/Speech/Muting/MutingSystem.cs
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Shared/Backmen/CCVar/CCVars.ReBELL.cs
  Content.Shared/Backmen/Surgery/Consciousness/Systems/ConsciousnessSystem.Helpers.cs
  Content.Shared/Backmen/Surgery/Pain/Components/NerveSystemComponent.cs
  Content.Shared/Backmen/Surgery/Pain/PainSerializable.cs
  Content.Shared/Backmen/Surgery/Pain/Systems/PainSystem.Damage.cs
  Content.Shared/Backmen/Surgery/Pain/Systems/PainSystem.cs
  Content.Shared/Backmen/Surgery/SharedBloodstreamSystem.cs
  Content.Shared/Backmen/Surgery/Traumas/Systems/TraumaSystem.Organs.cs
  Content.Shared/Backmen/Surgery/Wounds/Components/WoundableComponent.cs
  Content.Shared/Backmen/Surgery/Wounds/Systems/WoundSystem.Wounding.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/Mobs/Systems/MobThresholdSystem.cs
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/speech/speech-effects.ftl
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_Backmen/Entities/Surgery/wounds.yml
Labels: Changes: UI, Changes: Localization, size/L

#1299 [Maps] Upstream Kettle + Rook
  Resources/Maps/Backmen/backmen_kettle.yml
  Resources/Maps/Backmen/backmen_rook.yml
  Resources/Prototypes/_Backmen/Maps/backmen_rook.yml
Labels: Changes: Map, No C#, S: Untriaged, size/XL

#1312 Revert "[Feature] Джетпаки в антигравитации"
  Content.Shared/Movement/Systems/SharedJetpackSystem.cs
Labels: S: Untriaged, size/XS, Approved

#1316 фиксы команд, рук у ксено
  Content.Server/Backmen/Administration/Commands/Toolshed/AddDiseaseCommand.cs
  Content.Server/Backmen/Administration/Commands/Toolshed/ChangeAccessCommand.cs
  Content.Server/Backmen/Administration/Commands/Toolshed/ChangeAccessReaderCommand.cs
  Content.Server/Backmen/Administration/Commands/Toolshed/ChangeFactionCommand.cs
  Content.Server/Backmen/Administration/Commands/Toolshed/ChangeLaws.cs
  Content.Server/Backmen/Administration/Commands/Toolshed/ChangeTTSCommand.cs
  Content.Server/Backmen/Administration/Commands/Toolshed/StationRecordCommand.cs
  Content.Server/Backmen/Language/Commands/AdminLanguageCommand.cs
  Content.Server/Backmen/Language/Commands/AdminTranslatorCommand.cs
  Content.Server/StationEvents/BasicStationEventSchedulerSystem.cs
  Content.Server/Tools/Innate/InnateToolSystem.cs
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/TGMC_xeno.yml
Labels: S: Untriaged, size/M

#1320 [Balance] Nerf Pipe Stacking
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
Labels: No C#, S: Untriaged

#1325 [Tweak] Rebalance Powercells
  Resources/Prototypes/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Power/powercells.yml
Labels: No C#, S: Untriaged

#1323 [Fix] Covered Slot
  Content.Shared/Backmen/Inventory/Systems/CoveredSlotSystem.cs
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
Labels: S: Untriaged, size/S

#1305 [feature] Magnums
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Crates/permaescape.yml
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/ammo.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Corvax/Entities/Markers/Spawners/Random/contraband.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/rifle_light.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/Loadouts/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/Roles/Jobs/CentComm/deathsquad.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/_Backmen/Catalog/Fills/Backpacks/backpack.yml
  Resources/Prototypes/_Backmen/Catalog/Fills/Items/Belts/belts.yml
  Resources/Prototypes/_Backmen/Catalog/VendingMachines/Inventories/ammo_nt.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/zombies.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Boxes/boxes.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/pistol.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/pistol.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/revolvers.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/_Backmen/Entities/Structures/Machines/marine_vending_machines.yml
  Resources/Prototypes/_Backmen/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_Backmen/Recipes/Lathes/security.yml
  Resources/Prototypes/_Backmen/Research/arsenal.yml
  Resources/Prototypes/_Backmen/tags.yml
  Resources/migration.yml
Labels: No C#, S: Untriaged, size/M, Approved

#1318 [BOUNTY] RD Loadout for Wisdom
  Resources/Prototypes/_Backmen/Entities/sponsor.yml
  Resources/Textures/Backmen/Clothing/Back/Backpacks/WisdomBackPack/backpack.rsi/equipped-BACKPACK.png
  Resources/Textures/Backmen/Clothing/Back/Backpacks/WisdomBackPack/backpack.rsi/icon.png
  Resources/Textures/Backmen/Clothing/Back/Backpacks/WisdomBackPack/backpack.rsi/inhand-left.png
  Resources/Textures/Backmen/Clothing/Back/Backpacks/WisdomBackPack/backpack.rsi/inhand-right.png
  Resources/Textures/Backmen/Clothing/Back/Backpacks/WisdomBackPack/backpack.rsi/meta.json
  Resources/Textures/Backmen/Clothing/OuterClothing/Hardsuits/WisdomHardSuit/hardsuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Hardsuits/WisdomHardSuit/hardsuit.rsi/icon.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Hardsuits/WisdomHardSuit/hardsuit.rsi/inhand-left.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Hardsuits/WisdomHardSuit/hardsuit.rsi/inhand-right.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Hardsuits/WisdomHardSuit/hardsuit.rsi/meta.json
  Resources/Textures/Backmen/Clothing/OuterClothing/Hardsuits/WisdomHardSuit/helmet.rsi/icon-flash.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Hardsuits/WisdomHardSuit/helmet.rsi/icon.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Hardsuits/WisdomHardSuit/helmet.rsi/meta.json
  Resources/Textures/Backmen/Clothing/OuterClothing/Hardsuits/WisdomHardSuit/helmet.rsi/off-equipped-HELMET.png
  Resources/Textures/Backmen/Clothing/OuterClothing/Hardsuits/WisdomHardSuit/helmet.rsi/on-equipped-HELMET.png
Labels: Changes: Sprites, No C#, S: Untriaged, size/M

#1322 footstep cvar
  Content.Client/Backmen/FootPrint/FootPrintsVisualizerSystem.cs
  Content.Server/Backmen/FootPrint/FootPrintsSystem.cs
  Content.Server/Backmen/FootPrint/PuddleFootPrintsSystem.cs
  Content.Server/Backmen/Surgery/Consciousness/Systems/ServerConsciousnessSystem.cs
  Content.Server/Fluids/EntitySystems/AbsorbentSystem.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Content.Shared/Backmen/CCVar/CCVars.cs
  Content.Shared/Backmen/FootPrint/FootPrintComponent.cs
  Content.Shared/Backmen/FootPrint/FootPrintState.cs
  Content.Shared/Backmen/FootPrint/FootPrintValue.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Mobs/Player/diona.yml
  Resources/Prototypes/Entities/Mobs/Player/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Player/moth.yml
  Resources/Prototypes/Entities/Mobs/Player/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Player/slime.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Player/foxes.yml
Labels: S: Untriaged, size/M, Approved

#1327 footsteps again
  Content.Server/Fluids/EntitySystems/AbsorbentSystem.cs
Labels: S: Untriaged, size/XS, Approved

#1307 [Balance] Roundstart Technologies
  Content.Server/Backmen/Research/ResearchSystem.cs
  Content.Server/Research/Systems/ResearchSystem.cs
  Content.Shared/Research/Components/TechnologyDatabaseComponent.cs
  Resources/Prototypes/Entities/Objects/Tools/cable_coils.yml
  Resources/Prototypes/Entities/Structures/Machines/research.yml
  Resources/Prototypes/Recipes/Lathes/Packs/cargo.yml
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/_Backmen/Research/engineering.yml
  Resources/Prototypes/_Backmen/Research/machines_cargo.yml
  Resources/Prototypes/_Backmen/Research/machines_medical.yml
  Resources/Prototypes/_Backmen/Research/machines_service.yml
  Resources/Prototypes/_Backmen/Research/machines_shaft.yml
  Resources/Prototypes/_Backmen/Research/medical.yml
  Resources/Prototypes/_Backmen/Research/robotics.yml
  Resources/Prototypes/_Backmen/Research/service.yml
  Resources/Prototypes/_Backmen/Research/shaft.yml
Labels: S: Untriaged, size/M, Approved

#1311 Inteq toolbox
  Resources/Locale/en-US/_backmen/ss14-ru/prototypes/catalog/fills/items/toolboxes.ftl
  Resources/Locale/en-US/_backmen/ss14-ru/prototypes/entities/objects/tools/toolbox.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_backmen/catalog/fills/items/toolboxes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_backmen/entities/objects/tools/toolbox.ftl
  Resources/Prototypes/_Backmen/Catalog/Fills/Items/toolboxes/toolboxes.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Tools/toolbox.yml
  Resources/Textures/Backmen/Objects/Tools/toolbox_inteq.rsi/icon-open.png
  Resources/Textures/Backmen/Objects/Tools/toolbox_inteq.rsi/icon.png
  Resources/Textures/Backmen/Objects/Tools/toolbox_inteq.rsi/inhand-left.png
  Resources/Textures/Backmen/Objects/Tools/toolbox_inteq.rsi/inhand-right.png
  Resources/Textures/Backmen/Objects/Tools/toolbox_inteq.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, S: Untriaged, size/S

#1338 [SPONSOR] Custom Ghost for Memes
  Resources/Locale/ru-RU/backmen/sponsors/windowmanager.ftl
  Resources/Prototypes/_Backmen/ghosts/special.yml
  Resources/Textures/Backmen/Mobs/Ghost/Memes-ghost.rsi/animated-Memes.png
  Resources/Textures/Backmen/Mobs/Ghost/Memes-ghost.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization

#1337 fix lavalang no usage
  Content.Shared/_Lavaland/LimitedUsage/NoLavalandUsageSystem.cs
Labels: S: Untriaged, size/XS

#1339 [Tweak] Nerf S.P.E.E.D Cybernetics
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Resources/Prototypes/_Backmen/Body/Parts/cybernetic.yml
Labels: No C#, S: Untriaged, size/S

#1343 [Fix] RSI Test
  Resources/Textures/Objects/Misc/id_cards.rsi/idiaa.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idpilot.png
Labels: Changes: Sprites, No C#, S: Untriaged, size/XS

#1342 [Feature] More AI Skins
  Content.Server/Backmen/Surgery/Consciousness/Systems/ServerConsciousnessSystem.cs
  Resources/Locale/en-US/_backmen/silicons/station-ai.ftl
  Resources/Locale/ru-RU/_backmen/silicons/station-ai.ftl
  Resources/Prototypes/AppearanceCustomization/station_ai.yml
  Resources/Prototypes/_Backmen/AppearanceCustomization/station_ai.yml
  Resources/Textures/Backmen/Mobs/Silicon/holograms.rsi/horror.png
  Resources/Textures/Backmen/Mobs/Silicon/holograms.rsi/meta.json
  Resources/Textures/Backmen/Mobs/Silicon/holograms.rsi/xeno_queen.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-_thinking_.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-_thinking__dead.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-alien.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-alien_dead.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-banned.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-database.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-database_dead.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-firewall.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-gentoo.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-gentoo_dead.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-glitchman.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-glitchman_dead.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-gondola.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-goon.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-goon_dead.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-helios.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-house.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-house_dead.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-inverted.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-inverted_dead.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-matrix.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-monochrome.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-monochrome_dead.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-murica.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-murica_dead.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-nanotrasen.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-notmalf.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-president.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-rainbow.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-red.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-red_dead.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-redoctober.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-redoctober_dead.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-static.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-static_dead.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-syndicatmeow.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-text.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-toodeep.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-triumvirate-m.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-triumvirate.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-weird.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/ai-weird_dead.png
  Resources/Textures/Backmen/Mobs/Silicon/station_ai.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, S: Untriaged, size/M

#1345 fix map pool, remove vote for map
  Resources/ConfigPresets/Backmen/main.toml
  Resources/Prototypes/_Backmen/Maps/Pool/backmenstandart.yml
Labels: Changes: Map, No C#, S: Untriaged, size/S

#1344 [Tweak] Ban Expires But Now With Link
  Content.Server/Database/ServerBanDef.cs
  Resources/Locale/en-US/_backmen/connection_messages.ftl
  Resources/Locale/ru-RU/_backmen/connection_messages.ftl
Labels: Changes: Localization, S: Untriaged

#1330 [Tweak] Change some posters to be not rules-compliant
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/structures/wallmounts/posters.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_Backmen/Entities/Structures/Wallmounts/posters.yml
  Resources/Textures/Backmen/Structures/Wallmounts/Posters/posters.rsi/meta.json
  Resources/Textures/Backmen/Structures/Wallmounts/Posters/posters.rsi/xenomorph_poster1.png
  Resources/Textures/Backmen/Structures/Wallmounts/Posters/posters.rsi/xenomorph_poster2.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster4_contraband.png
  Resources/migration.yml
Labels: Changes: Sprites, No C#, Changes: Localization, S: Untriaged, size/S

#1216 [Feature?] ZOMBIES!
  Resources/Maps/_Lavaland/Lavaland/ruin_arrivals_back.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_arrivals_front.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_beach_biodome.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_cargo_debris.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_chemistry.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_felenid_lab.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_graveyard.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_hermit.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_mining_outpost.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_rouge_ai.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_seed_vault.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_shelter.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_snow_biodome.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_vulp_lab.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_wafflecohouse.yml
  Resources/Prototypes/_Lavaland/Catalog/XenLoot/Zombies.yml
  Resources/Prototypes/_Lavaland/Construction/XenLoot.yml
  Resources/Prototypes/_Lavaland/Construction/explorer_suit.yml
  Resources/Prototypes/_Lavaland/Entities/Markers/Spawners/Portals/Xen.yml
  Resources/Prototypes/_Lavaland/Entities/Markers/Spawners/Random/loots.yml
  Resources/Prototypes/_Lavaland/Entities/Mobs/Xen.yml
  Resources/Prototypes/_Lavaland/Entities/Structures/Specific/tendril.yml
Labels: Changes: Map, No C#, Derelict, size/M, Approved

#1348 [FIX] StationGoal Small Fix
  Resources/Prototypes/Maps/amber.yml
  Resources/Prototypes/Maps/elkridge.yml
  Resources/Prototypes/Maps/packed.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/_Backmen/Maps/backmen_aspid.yml
  Resources/Prototypes/_Backmen/Maps/backmen_box.yml
  Resources/Prototypes/_Backmen/Maps/backmen_delta.yml
Labels: Changes: Map, No C#, S: Untriaged, size/M

#1356 [Tweak] Confetti Grenade Recipe
  Resources/Locale/en-US/backmen/research/service.ftl
  Resources/Locale/ru-RU/backmen/research/service.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Backmen/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/_Backmen/Recipes/Lathes/service.yml
  Resources/Prototypes/_Backmen/Research/machines_service.yml
  Resources/Prototypes/_Backmen/Research/service.yml
Labels: No C#, Changes: Localization, size/S

#1354 [Port] Space Wind Visuals
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.CVars.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Content.Shared/CCVar/CCVars.Atmos.cs
  Resources/Prototypes/_Backmen/Atmos/spacewind.yml
  Resources/Textures/Backmen/Effects/spacewind.rsi/meta.json
  Resources/Textures/Backmen/Effects/spacewind.rsi/spacewind.png
Labels: Changes: Sprites, S: Untriaged, size/S, Approved

#1350 [Sponsor] Custom Ghost for Wisdom
  Resources/Locale/ru-RU/backmen/sponsors/windowmanager.ftl
  Resources/Prototypes/_Backmen/ghosts/special.yml
  Resources/Textures/Backmen/Mobs/Ghost/Wisdom-ghost.rsi/angel_nelle.png
  Resources/Textures/Backmen/Mobs/Ghost/Wisdom-ghost.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, S: Untriaged, Holy Shit, size/S

#1362 [FEATURE] BSRMicroUpdate + SecPilotLocaleTweak.
  Resources/Locale/ru-RU/_backmen/prototypes/Entities/Structures/Storage/closets/closets.ftl
  Resources/Locale/ru-RU/_backmen/prototypes/Entities/clothing/eyes/glasses.ftl
  Resources/Locale/ru-RU/_backmen/prototypes/Entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/_backmen/prototypes/Entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/_backmen/prototypes/Entities/clothing/head/helmets.ftl
  Resources/Locale/ru-RU/_backmen/prototypes/Entities/clothing/mask/masks.ftl
  Resources/Locale/ru-RU/_backmen/prototypes/Entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/_backmen/prototypes/Entities/clothing/outerclothing/vests.ftl
  Resources/Locale/ru-RU/_backmen/prototypes/Entities/clothing/shoes/magboots.ftl
  Resources/Locale/ru-RU/_backmen/prototypes/Entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/_backmen/prototypes/access/accesses.ftl
  Resources/Locale/ru-RU/_backmen/prototypes/catalog/fills/lockers/security.ftl
  Resources/Locale/ru-RU/_backmen/prototypes/security-pilot/closet.ftl
  Resources/Locale/ru-RU/_backmen/prototypes/security-pilot/clothing.ftl
  Resources/Locale/ru-RU/_backmen/prototypes/security-pilot/tools.ftl
  Resources/Locale/ru-RU/backmen/Roles/Jobs/CentCom/centcom_official.ftl
  Resources/Prototypes/Corvax/Roles/Jobs/Security/pilot.yml
  Resources/Prototypes/_Backmen/Access/misc.yml
  Resources/Prototypes/_Backmen/Access/special.yml
  Resources/Prototypes/_Backmen/Catalog/Fills/Lockers/supplypods.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_Backmen/Entities/misc/pilotabilities.yml
  Resources/Prototypes/_Backmen/Loadouts/Jobs/CentCom/Blueshield.yml
  Resources/Prototypes/_Backmen/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Backmen/Loadouts/role_loadout.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/blueshield.yml
  Resources/Textures/Backmen/Clothing/Mask/blueshield.rsi/equipped-MASK-reptilian.png
  Resources/Textures/Backmen/Clothing/Mask/blueshield.rsi/equipped-MASK.png
  Resources/Textures/Backmen/Clothing/Mask/blueshield.rsi/icon.png
  Resources/Textures/Backmen/Clothing/Mask/blueshield.rsi/inhand-left.png
  Resources/Textures/Backmen/Clothing/Mask/blueshield.rsi/inhand-right.png
  Resources/Textures/Backmen/Clothing/Mask/blueshield.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, S: Untriaged, size/M, Approved

#1360 [Feature] что-то про баланс босса
  Resources/Prototypes/_Lavaland/Construction/bosses.yml
  Resources/Prototypes/_Lavaland/Entities/Mobs/Bosses/uriil.yml
  Resources/Prototypes/_Lavaland/Entities/Mobs/angels.yml
  Resources/Prototypes/_Lavaland/Entities/Objects/Weapons/Guns/Basic/pka.yml
  Resources/Prototypes/_Lavaland/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Textures/Backmen/Mobs/Npc/Angles/angel_guardian.rsi/meta.json
  Resources/Textures/Backmen/Mobs/Npc/Angles/angel_guardian.rsi/wings_raged.png
  Resources/Textures/Backmen/Mobs/Npc/Angles/lesser_angel.rsi/angel_nimb_raged.png
  Resources/Textures/Backmen/Mobs/Npc/Angles/lesser_angel.rsi/meta.json
  Resources/Textures/Backmen/Mobs/Npc/Angles/uriil/uriilphase2.rsi/meta.json
  Resources/Textures/Backmen/Mobs/Npc/Angles/uriil/uriilphase2.rsi/nimb.png
  Resources/Textures/Backmen/Mobs/Npc/Angles/uriil/uriilphase2.rsi/nimbback.png
  Resources/Textures/Backmen/Mobs/Npc/Angles/uriil/uriilphase2.rsi/swordoflight.png
  Resources/Textures/Backmen/Mobs/Npc/Angles/uriil/uriilphase2.rsi/uriilphase2.png
  Resources/Textures/Backmen/Mobs/Npc/Angles/virtue.rsi/chains.png
  Resources/Textures/Backmen/Mobs/Npc/Angles/virtue.rsi/core.png
  Resources/Textures/Backmen/Mobs/Npc/Angles/virtue.rsi/crown.png
  Resources/Textures/Backmen/Mobs/Npc/Angles/virtue.rsi/meta.json
  Resources/Textures/Backmen/Mobs/Npc/Angles/virtue.rsi/shell.png
  Resources/Textures/Backmen/Mobs/Npc/Angles/virtue.rsi/shell_raged.png
  Resources/Textures/Backmen/Mobs/Npc/Angles/virtue.rsi/wings.png
  Resources/Textures/Backmen/Mobs/Npc/Angles/virtue.rsi/wings_raged.png
Labels: Changes: Sprites, No C#, size/M, Approved

#1364 [HOTFIX] LateJoin
  Content.Client/LateJoin/LateJoinGui.cs
Labels: S: Untriaged, size/XS, Approved
