Repository Rxup/space-station-14, pull requests merged in 2025-01, with the labels that each got.

#988 [Tweak] something weird
  Resources/Locale/ru-RU/backmen/sponsors/windowmanager.ftl
  Resources/Prototypes/_Backmen/GameRules/events.yml
  Resources/Prototypes/_Backmen/GameRules/roundstart.yml
  Resources/Prototypes/_Backmen/ghosts/special.yml
  Resources/Prototypes/secret_weights.yml
  Resources/Textures/Backmen/Mobs/Ghost/luna.rsi/meta.json
  Resources/Textures/Backmen/Mobs/Ghost/luna.rsi/pony.png
  Resources/Textures/Backmen/Mobs/Ghost/p03.rsi/meta.json
  Resources/Textures/Backmen/Mobs/Ghost/p03.rsi/p03.png
Labels: Changes: Sprites, No C#, Changes: Localization, S: Untriaged, size/S

#996 [Maps] Update Aspid & Centcomm
  Resources/Locale/ru-RU/backmen/holopad/holopad.ftl
  Resources/Maps/Backmen/backmen_aspid.yml
  Resources/Maps/centcomm.yml
  Resources/Prototypes/_Backmen/Entities/Structures/Atmospherics/supermatter.yml
  Resources/Prototypes/_Backmen/Entities/Structures/Machines/holopad.yml
Labels: Changes: Map, No C#, Changes: Localization, S: Untriaged, size/XL

#963 [Tweak] Blob Things
  Content.Client/Backmen/Blob/BlobTileSystem.cs
  Content.Server/Backmen/Blob/BlobTileSystem.cs
  Content.Server/Backmen/Blob/Components/BlobFactoryComponent.cs
  Content.Server/Backmen/Blob/NPC/BlobPod/BlobPodSystem.cs
  Content.Server/Backmen/Blob/Systems/BlobCarrierSystem.cs
  Content.Server/Backmen/Blob/Systems/BlobCoreActionSystem.cs
  Content.Server/Backmen/Blob/Systems/BlobCoreSystem.cs
  Content.Server/Backmen/Blob/Systems/BlobFactorySystem.cs
  Content.Server/Backmen/Blob/Systems/BlobMobSystem.cs
  Content.Server/Backmen/Blob/Systems/BlobNodeSystem.cs
  Content.Server/Backmen/Blob/Systems/BlobObserverMover.cs
  Content.Server/Backmen/Blob/Systems/BlobObserverSystem.cs
  Content.Server/Backmen/Blob/Systems/BlobResourceSystem.cs
  Content.Server/Backmen/Blob/Systems/BlobStorageSystem.cs
  Content.Server/Backmen/Blob/Systems/BlobTileSystem.cs
  Content.Server/Backmen/Blob/Systems/BlobbernautSystem.cs
  Content.Server/Backmen/Blob/Systems/ZombieBlobSystem.cs
  Content.Server/Backmen/GameTicking/Rules/BlobRuleSystem.cs
  Content.Server/Backmen/GameTicking/Rules/Components/BlobRuleComponent.cs
  Content.Server/Backmen/Objectives/Systems/BlobCaptureObjectiveSystem.cs
  Content.Server/Body/Components/RespiratorComponent.cs
  Content.Shared/Backmen/Blob/BlobTypedStorage.cs
  Content.Shared/Backmen/Blob/Components/BlobCoreComponent.cs
  Content.Shared/Backmen/Blob/Components/BlobFactoryComponent.cs
  Content.Shared/Backmen/Blob/Components/BlobNodeComponent.cs
  Content.Shared/Backmen/Blob/Components/BlobObserverComponent.cs
  Content.Shared/Backmen/Blob/Components/BlobResourceComponent.cs
  Content.Shared/Backmen/Blob/Components/BlobStorageComponent.cs
  Content.Shared/Backmen/Blob/Components/BlobTileComponent.cs
  Content.Shared/Backmen/Blob/Components/BlobUpgradeableTileComponent.cs
  Content.Shared/Backmen/Blob/SharedBlobTileSystem.cs
  Resources/Locale/en-US/blob/blob.ftl
  Resources/Locale/ru-RU/backmen/blob/blob.ftl
  Resources/Prototypes/_Backmen/Actions/blob.yml
  Resources/Prototypes/_Backmen/Damage/modifier_sets.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/blob/blob_tiles.yml
  Resources/Textures/Backmen/Interface/Actions/blob.rsi/blobStorage.png
  Resources/Textures/Backmen/Interface/Actions/blob.rsi/meta.json
  Resources/Textures/Backmen/Mobs/Aliens/Blob/blob.rsi/blob_storage_overlay.png
  Resources/Textures/Backmen/Mobs/Aliens/Blob/blob.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Feature, Fix, Require Testing, size/L, Balance

#997 [Feature] Lathe Arbitrage Integration Test
  Content.IntegrationTests/Tests/Backmen/Lathe/LatheRecipyCostTest.cs
  Content.Shared/Materials/MaterialPrototype.cs
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/misc.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/base_electronics.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/door.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/firelock.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/misc.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/timer.yml
  Resources/Prototypes/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Reagents/Materials/materials.yml
  Resources/Prototypes/Reagents/Materials/ores.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Energy/energy.yml
  Resources/Prototypes/_Backmen/Reagents/Materials/prizeticket.yml
Labels: S: Untriaged, size/M

#998 [HOTFIX] Fix Blob Chemical
  Content.Server/Backmen/Blob/Systems/BlobTileSystem.cs
Labels: S: Untriaged, size/S

#999 [Feature] New Drink Bacchus
  Resources/Locale/ru-RU/backmen/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/backmen/prototypes/entities/consumable/drinks/drinks.ftl
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_Backmen/Flavors/flavors.yml
  Resources/Prototypes/_Backmen/Reactions/drinks.yml
  Resources/Prototypes/_Backmen/Reagents/Consumable/Drink/alcohol.yml
  Resources/Textures/Backmen/Objects/Consumable/Drinks/bacchus.rsi/icon.png
  Resources/Textures/Backmen/Objects/Consumable/Drinks/bacchus.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, S: Untriaged, size/S

#1000 [Maps] Update Aspid
  Resources/Maps/Backmen/backmen_aspid.yml
Labels: Changes: Map, No C#, S: Untriaged

#1002 fix loadout
  Content.Client/Lobby/LobbyUIController.cs
  Resources/Prototypes/Corvax/Loadouts/role_loadouts.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Backmen/Loadouts/role_loadout.yml
Labels: Fix, Ready2Merge, S: Untriaged, size/S

#1001 [Fix] Moods fixes
  Content.Server/Backmen/Mood/MoodSystem.cs
  Content.Shared/Backmen/Mood/MoodEffectPrototype.cs
  Resources/Prototypes/_Backmen/Mood/drugs.yml
  Resources/Prototypes/_Backmen/Mood/genericNeeds.yml
  Resources/Prototypes/_Backmen/Mood/genericNegativeEffects.yml
  Resources/Prototypes/_Backmen/Mood/genericPositiveEffects.yml
Labels: S: Untriaged, size/S

#1006 Update CCvars
  Resources/ConfigPresets/Backmen/main.toml
Labels: No C#, S: Untriaged, size/XS

#1010 Hotfix Radio
  Content.Server/Radio/EntitySystems/HeadsetSystem.cs
  Resources/Locale/ru-RU/headset/headset-component.ftl
Labels: Changes: Localization, S: Untriaged, size/XS

#1004 [Balance] спидозники
  Resources/Locale/ru-RU/backmen/disease/disease-proto.ftl
  Resources/Prototypes/_Backmen/Diseases/infectious.yml
Labels: No C#, Changes: Localization, S: Untriaged, size/M, Balance

#1014 [Fix] Update AtmosphereSystem.Hotspot.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Hotspot.cs
Labels: S: Untriaged, size/S

#1005 [Balance] таблет
  Resources/ConfigPresets/Backmen/main.toml
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
  Resources/Prototypes/_Backmen/game_presets.yml
Labels: Changes: Sprites, Changes: UI, Changes: Map, No C#, Changes: Localization, Fix, S: Untriaged, size/S, Balance

#1018 [Feature] Syringe gun!
  Content.Server/Chemistry/Components/BaseSolutionInjectOnEventComponent.cs
  Content.Server/Chemistry/EntitySystems/SolutionInjectOnEventSystem.cs
  Content.Server/Chemistry/EntitySystems/SolutionInjectWhileEmbeddedSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/_Goobstation/Weapons/Ranged/SyringeGunSystem.cs
  Content.Shared/_Goobstation/Weapons/Ranged/SyringeGunComponent.cs
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/backmen/entities/syringe_gun.ftl
  Resources/Locale/ru-RU/backmen/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/_Backmen/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
  Resources/Prototypes/_Backmen/Recipes/Lathes/medical.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Belt/belts.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Boxes/medical.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Medical/healing.yml
  Resources/Textures/_Goobstation/Clothing/Belt/cmowebbing.rsi/equipped-BELT.png
  Resources/Textures/_Goobstation/Clothing/Belt/cmowebbing.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Belt/cmowebbing.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Belt/cmowebbing.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Belt/cmowebbing.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/dart-syringe-gun.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/rapid-syringe-gun.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/syringe-gun.png
Labels: Changes: Sprites, Changes: Localization, S: Untriaged, size/M

#1017 [Feature] Pipe stacks
  Content.Server/Atmos/EntitySystems/PipeRestrictOverlapSystem.cs
  Content.Shared/Backmen/CCVar/CCVars.cs
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/teg.yml
Labels: S: Untriaged, size/S
