Repository Rxup/space-station-14, pull requests merged in 2025-04, with the labels that each got.

#1182 Fixes
  Content.Server/Backmen/Flesh/FleshWormSystem.cs
  Content.Shared/Backmen/Clothing/Systems/ClothingGrantingSystem.cs
  Resources/Locale/ru-RU/backmen/sponsors/windowmanager.ftl
  Resources/Maps/Backmen/backmen_centcom.yml
  Resources/Textures/Backmen/Mobs/Ghost/astronaut.rsi/astronaut.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/maint.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/maint.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/maint.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/maint.rsi/opening.png
Labels: Changes: Sprites, Changes: Map, Changes: Localization, S: Untriaged, size/S

#1187 [Fix] Random Sprite Fixes
  Resources/Textures/Backmen/Clothing/OuterClothing/Armor/armor_blueshield.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Backmen/Clothing/Uniforms/jumpsuit/gachi.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Backmen/Clothing/Uniforms/jumpsuit/gachisuit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Corvax/Sponsor/jesuisunfou/Clothing/Shoes/ussp.rsi/equipped-FEET.png
Labels: Changes: Sprites, No C#, S: Untriaged, Holy Shit, size/XS, Approved

#1186 [Resprite] Combat Gloves Dark Resprite
  Resources/Textures/Clothing/Hands/Gloves/combat.rsi/equipped-HAND.png
  Resources/Textures/Clothing/Hands/Gloves/combat.rsi/icon.png
  Resources/Textures/Clothing/Hands/Gloves/combat.rsi/inhand-left.png
  Resources/Textures/Clothing/Hands/Gloves/combat.rsi/inhand-right.png
Labels: Changes: Sprites, No C#, size/XS, Approved

#1181 [Balance] Вторая попытка в баланс, в игре где нет баланса
  Resources/Prototypes/Catalog/Cargo/cargo_emergency.yml
  Resources/Prototypes/Entities/Clothing/Hands/colored.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/OuterClothing/coat.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/pistol.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
  Resources/Prototypes/_Lavaland/Entities/Clothing/Xen/Hecu.yml
Labels: No C#, S: Untriaged, size/M, Approved

#1179 Ядерная мыфка [ready to merge]
  Resources/Prototypes/_Backmen/Entities/Body/mouse.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/mouse.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/mouse.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Fun/cheseeMeaws.yml
  Resources/Prototypes/_Backmen/InventoryTemplates/mouse.yml
  Resources/Textures/Backmen/Mobs/Species/mouseops.rsi/base.png
  Resources/Textures/Backmen/Mobs/Species/mouseops.rsi/crit.png
  Resources/Textures/Backmen/Mobs/Species/mouseops.rsi/dead.png
  Resources/Textures/Backmen/Mobs/Species/mouseops.rsi/meta.json
Labels: Changes: Sprites, No C#, Needs Discussion, size/M, Approved

#1184 [Feature] Lobby gifs
  Resources/Prototypes/_Backmen/lobbyscreens.yml
  Resources/Textures/Backmen/LobbyScreens/LongExpedition.rsi/1.png
  Resources/Textures/Backmen/LobbyScreens/LongExpedition.rsi/meta.json
  Resources/Textures/Backmen/LobbyScreens/Portal.rsi/meta.json
  Resources/Textures/Backmen/LobbyScreens/SpaceCombat.rsi/1.png
  Resources/Textures/Backmen/LobbyScreens/SpaceCombat.rsi/meta.json
Labels: Changes: Sprites, No C#, Feature, Approved

#1188 [FIX] Vampires
  .github/CODEOWNERS
  Content.Server/Antag/AntagSelectionSystem.cs
  Content.Server/Backmen/EvilTwin/EvilTwinSystem.cs
  Content.Server/Backmen/Vampiric/BloodSuckerSystem.cs
  Content.Server/Backmen/Vampiric/Rule/BloodsuckerRuleSystem.cs
  Content.Server/NPC/Components/NPCRetaliationComponent.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Backmen/GameRules/roundstart.yml
Labels: S: Untriaged, size/M, Approved

#1190 [Port] PDA Light
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: No C#, S: Untriaged, size/XS, Approved

#1191 [Feature] Smthng Research
  Resources/Locale/en-US/backmen/research/medical.ftl
  Resources/Locale/ru-RU/backmen/research/medical.ftl
  Resources/Prototypes/_Backmen/Recipes/Lathes/Packs/boards.yml
  Resources/Prototypes/_Backmen/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/_Backmen/Recipes/Lathes/electronics.yml
  Resources/Prototypes/_Backmen/Recipes/Lathes/scientific.yml
  Resources/Prototypes/_Backmen/Research/machines_medical.yml
  Resources/Prototypes/_Backmen/Research/machines_scientific.yml
  Resources/Prototypes/_Backmen/Research/medical.yml
  Resources/Prototypes/_Backmen/Research/scientific.yml
Labels: No C#, Changes: Localization, S: Untriaged, Approved

#1192 DroneIsALIVE
  Content.IntegrationTests/Tests/Backmen/Body/HandsTest.cs
  Content.Server/Backmen/Drone/BSSDroneComponent.cs
  Content.Server/Backmen/Drone/BSSDroneSystem.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.Obstacles.cs
  Content.Server/Ninja/Systems/BatteryDrainerSystem.cs
  Content.Server/Tools/Innate/InnateToolSystem.cs
  Content.Shared/Backmen/Drone/Actions/DroneCraftActionEvent.cs
  Content.Shared/Backmen/Drone/Actions/bloodpackCraftActionEvent.cs
  Content.Shared/Backmen/Drone/Actions/brutepackCraftActionEvent.cs
  Content.Shared/Backmen/Drone/Actions/ointmentCraftActionEvent.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Resources/Locale/ru-RU/backmen/prototypes/Roles/Jobs/Silicons/BPLA.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/actions/silicons.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/mobs/player/silicons/BPLA.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/mobs/player/silicons/BPLA_MED.ftl
  Resources/Prototypes/Corvax/Maps/Corvax/astra.yml
  Resources/Prototypes/Corvax/Maps/Corvax/avrite.yml
  Resources/Prototypes/Corvax/Maps/Corvax/delta.yml
  Resources/Prototypes/Corvax/Maps/Corvax/frame.yml
  Resources/Prototypes/Corvax/Maps/Corvax/gelta.yml
  Resources/Prototypes/Corvax/Maps/Corvax/ishimura.yml
  Resources/Prototypes/Corvax/Maps/Corvax/maus.yml
  Resources/Prototypes/Corvax/Maps/Corvax/outpost.yml
  Resources/Prototypes/Corvax/Maps/Corvax/paper.yml
  Resources/Prototypes/Corvax/Maps/Corvax/pearl.yml
  Resources/Prototypes/Corvax/Maps/Corvax/pilgrim.yml
  Resources/Prototypes/Corvax/Maps/Corvax/silly.yml
  Resources/Prototypes/Corvax/Maps/Corvax/terra.yml
  Resources/Prototypes/Corvax/Maps/Corvax/tushkan.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/fland.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/oasis.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/packed.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/Maps/train.yml
  Resources/Prototypes/_Backmen/Actions/Silicons.yml
  Resources/Prototypes/_Backmen/Body/Prototypes/drone.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/TGMC_xeno.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Player/Silicons/BPLA.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Player/Silicons/BPLA_MED.yml
  Resources/Prototypes/_Backmen/Maps/backmen_aspid.yml
  Resources/Prototypes/_Backmen/Maps/backmen_delta.yml
  Resources/Prototypes/_Backmen/Maps/backmen_hive.yml
  Resources/Prototypes/_Backmen/Maps/backmen_kettle.yml
  Resources/Prototypes/_Backmen/Maps/backmen_rook.yml
  Resources/Prototypes/_Backmen/Maps/backmen_shoukou.yml
  Resources/Prototypes/_Backmen/Maps/backmen_tortuga.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/Silicons/BPLA.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/Silicons/BPLAMED.yml
Labels: Changes: Map, Changes: Localization, S: Untriaged, size/M

#1198 [Fix] Lightning Effect SM Disintegration Fix
  Resources/Prototypes/Entities/Effects/lightning.yml
  Resources/Prototypes/_Backmen/Entities/Effects/lightning.yml
Labels: No C#, size/XS

#1197 [Fix] Extinguisher Spray SM Disintegration Fix
  Resources/Prototypes/Entities/Objects/Misc/fire_extinguisher.yml
Labels: No C#, S: Untriaged, size/XS

#1196 [Fix] Virologist Back Loadout Fix
  Resources/Prototypes/_Backmen/Loadouts/Jobs/Medical/virologist.yml
Labels: No C#, S: Untriaged

#1200 [Fix] Centcom Private Officer Ammunition Fix
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/private_officer.yml
Labels: No C#, S: Untriaged, size/XS

#1195 [Fix] Make RnD servers local
  Content.Server/Backmen/Disease/VaccineSystem.cs
  Content.Server/Research/Systems/ResearchSystem.Client.cs
  Content.Server/Research/Systems/ResearchSystem.cs
Labels: Changes: Localization, S: Untriaged, size/S

#1199 fixes
  Content.Server/_Goobstation/PlasmaCutter/BatteryRechargeSystem.cs
  Content.Shared/Backmen/Surgery/Body/SharedBodySystem.Targeting.cs
  Resources/Locale/ru-RU/backmen/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/contraband/contraband-severity.ftl
  Resources/Locale/ru-RU/disease/disease.ftl
  Resources/Prototypes/Entities/Objects/base_contraband.yml
  Resources/Prototypes/Store/categories.yml
  Resources/Prototypes/Store/presets.yml
  Resources/Prototypes/_Backmen/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/psionic_clothing.yml
  Resources/Prototypes/_Backmen/Entities/Supermatter/supermatter.yml
  Resources/Prototypes/contraband_severities.yml
Labels: Changes: Localization, S: Untriaged, size/M

#1193 [Tweak] Reduce Armory Research Price
  Resources/Prototypes/_Backmen/Research/arsenal.yml
Labels: No C#, size/S

#1203 [Tweak] Always Gib Recycler
  Content.Server/Backmen/Research/Oracle/OracleSystem.cs
  Content.Shared/Backmen/Abilities/Psionics/Items/ClothingGrantPsionicPowerComponent.cs
  Content.Shared/Backmen/Abilities/Psionics/Items/PsionicItemsSystem.cs
  Content.Shared/Backmen/Clothing/Systems/ClothingGrantingSystem.cs
  Content.Shared/Materials/MaterialReclaimerComponent.cs
  Content.Shared/Materials/SharedMaterialReclaimerSystem.cs
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/structures/machines/recycler.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/structures/research/oracle.ftl
  Resources/Prototypes/_Backmen/Entities/Structures/Machines/recycler.yml
  Resources/Prototypes/_Backmen/Entities/Structures/Research/oracle.yml
Labels: Changes: Localization, S: Untriaged, size/S

#1211 DronesWLOnly
  Resources/Prototypes/_Backmen/Roles/Jobs/Silicons/BPLA.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/Silicons/BPLAMED.yml
Labels: No C#, S: Untriaged, size/XS

#1206 [Fix] Hiss Emote
  Resources/Audio/Backmen/Voice/Reptilian/attributions.yml
  Resources/Audio/Backmen/Voice/Reptilian/reptilian_hiss.ogg
  Resources/Locale/ru-RU/backmen/emote.ftl
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Backmen/SoundCollections/emotions.yml
  Resources/Prototypes/_Backmen/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Backmen/Voice/speech_emotes.yml
  Resources/Textures/Backmen/Interface/Emotes/attributions.yml
  Resources/Textures/Backmen/Interface/Emotes/hiss.png
Labels: No C#, Changes: Localization, size/S, Changes: Audio

#1135 [PORT] Arcan's
  Resources/Locale/ru-RU/_deadspace/marking/demon.ftl
  Resources/Locale/ru-RU/_deadspace/species/species.ftl
  Resources/Locale/ru-RU/backmen/language/languages.ftl
  Resources/Prototypes/_Backmen/Body/Organs/demon.yml
  Resources/Prototypes/_Backmen/Body/Parts/demon.yml
  Resources/Prototypes/_Backmen/Body/Prototypes/demon.yml
  Resources/Prototypes/_Backmen/Damage/containers.yml
  Resources/Prototypes/_Backmen/Damage/modifier_sets.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Customization/Markings/demon.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Player/demon.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/demon.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/Demon.yml
  Resources/Prototypes/_Backmen/Species/demon.yml
  Resources/Textures/_ADT/Mobs/Demon/custom.rsi/cow_ears.png
  Resources/Textures/_ADT/Mobs/Demon/custom.rsi/cow_horns.png
  Resources/Textures/_ADT/Mobs/Demon/custom.rsi/cow_spots.png
  Resources/Textures/_ADT/Mobs/Demon/custom.rsi/deer_antlers_horns.png
  Resources/Textures/_ADT/Mobs/Demon/custom.rsi/demon_ears.png
  Resources/Textures/_ADT/Mobs/Demon/custom.rsi/demon_tail.png
  Resources/Textures/_ADT/Mobs/Demon/custom.rsi/goatee.png
  Resources/Textures/_ADT/Mobs/Demon/custom.rsi/guards_stripes.png
  Resources/Textures/_ADT/Mobs/Demon/custom.rsi/lines_emperos.png
  Resources/Textures/_ADT/Mobs/Demon/custom.rsi/long.png
  Resources/Textures/_ADT/Mobs/Demon/custom.rsi/meta.json
  Resources/Textures/_ADT/Mobs/Demon/custom.rsi/queen_lines.png
  Resources/Textures/_ADT/Mobs/Demon/custom.rsi/small_horns.png
  Resources/Textures/_ADT/Mobs/Demon/custom.rsi/tree_lines.png
  Resources/Textures/_ADT/Mobs/Demon/custom.rsi/trinity_spots.png
  Resources/Textures/_ADT/Mobs/Demon/custom.rsi/up.png
  Resources/Textures/_ADT/Mobs/Demon/parts.rsi/full_f.png
  Resources/Textures/_ADT/Mobs/Demon/parts.rsi/full_m.png
  Resources/Textures/_ADT/Mobs/Demon/parts.rsi/full_t.png
  Resources/Textures/_ADT/Mobs/Demon/parts.rsi/head_f.png
  Resources/Textures/_ADT/Mobs/Demon/parts.rsi/head_m.png
  Resources/Textures/_ADT/Mobs/Demon/parts.rsi/head_t.png
  Resources/Textures/_ADT/Mobs/Demon/parts.rsi/l_arm.png
  Resources/Textures/_ADT/Mobs/Demon/parts.rsi/l_foot.png
  Resources/Textures/_ADT/Mobs/Demon/parts.rsi/l_hand.png
  Resources/Textures/_ADT/Mobs/Demon/parts.rsi/l_leg.png
  Resources/Textures/_ADT/Mobs/Demon/parts.rsi/meta.json
  Resources/Textures/_ADT/Mobs/Demon/parts.rsi/r_arm.png
  Resources/Textures/_ADT/Mobs/Demon/parts.rsi/r_foot.png
  Resources/Textures/_ADT/Mobs/Demon/parts.rsi/r_hand.png
  Resources/Textures/_ADT/Mobs/Demon/parts.rsi/r_leg.png
  Resources/Textures/_ADT/Mobs/Demon/parts.rsi/tail.png
  Resources/Textures/_ADT/Mobs/Demon/parts.rsi/torso_f.png
  Resources/Textures/_ADT/Mobs/Demon/parts.rsi/torso_m.png
  Resources/Textures/_ADT/Mobs/Demon/parts.rsi/torso_t.png
Labels: Changes: Sprites, No C#, Changes: Localization, S: Untriaged, size/M

#1210 [feature] Gunsmith
  Content.Client/Backmen/Weapons/PumpActionSystem.cs
  Resources/Audio/Weapons/Guns64/Snipers/dmr37.ogg
  Resources/Audio/Weapons/Guns64/Snipers/kt42_cocked.ogg
  Resources/Locale/ru-RU/_backmen/technologys/security.ftl
  Resources/Locale/ru-RU/backmen/research/arsenal.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Devices/Circuitboards/production.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Misc/misc.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_Backmen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Backmen/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_Backmen/Recipes/Lathes/electronics.yml
  Resources/Prototypes/_Backmen/Recipes/Lathes/gunsmith.yml
  Resources/Prototypes/_Backmen/Recipes/Lathes/security.yml
  Resources/Prototypes/_Backmen/Research/arsenal.yml
  Resources/Prototypes/_Backmen/Research/machines_arsenal.yml
  Resources/Prototypes/_Backmen/Roles/Fun/ERT_Epsilon.yml
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Ammunition/Casings/nail.rsi/base-spent.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Ammunition/Casings/nail.rsi/base.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Ammunition/Casings/nail.rsi/meta.json
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Magazines/Misc/rivet.rsi/base.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Magazines/Misc/rivet.rsi/mag-1.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Magazines/Misc/rivet.rsi/mag-2.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Magazines/Misc/rivet.rsi/meta.json
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Snipers/remington700/big.rsi/base.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Snipers/remington700/big.rsi/bolt-open.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Snipers/remington700/big.rsi/icon.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Snipers/remington700/big.rsi/mag-0.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Snipers/remington700/big.rsi/meta.json
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Snipers/remington700/tiny.rsi/equipped-BACKPACK.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Snipers/remington700/tiny.rsi/inhand-left.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Snipers/remington700/tiny.rsi/inhand-right.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Snipers/remington700/tiny.rsi/meta.json
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Snipers/remington700/tiny.rsi/wielded-inhand-left.png
  Resources/Textures/Backmen/Objects/Weapons/Gunsx64/Snipers/remington700/tiny.rsi/wielded-inhand-right.png
  Resources/keybinds.yml
Labels: Changes: Sprites, Changes: Localization, Ready2Merge, S: Untriaged, size/M, Changes: Audio

#1213 fix radial-menu.swsl
  Resources/Textures/Shaders/radial-menu.swsl
Labels: No C#, Changes: Shaders, S: Untriaged

#1217 [Feature] Technology Position Are Unique Test
  Content.IntegrationTests/Tests/Backmen/TechnologyPrototypePositionTest.cs
  Resources/Prototypes/_Backmen/Research/arsenal.yml
  Resources/Prototypes/_Backmen/Research/machines_arsenal.yml
Labels: S: Untriaged, size/S

#1219 Update FootPrintsSystem.cs
  Content.Server/Backmen/FootPrint/FootPrintsSystem.cs
Labels: Fix

#1194 [Feature] Play time server
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Database/ServerDbPostgres.cs
  Content.Server/Database/ServerDbSqlite.cs
  Content.Shared/Backmen/CCVar/CCVars.PlayTime.cs
Labels: S: Untriaged, size/S

#1222 Shipwrecked fix
  Content.Client/Backmen/Telescope/TelescopeSystem.cs
  Content.Server/Backmen/Shipwrecked/ShipwreckedRuleSystem.cs
  Content.Server/Procedural/DungeonSystem.Helpers.cs
  Resources/Prototypes/_Backmen/game_presets.yml
Labels: S: Untriaged, size/M

#1221 [RESPRITE][PORT] RD's LabCoat
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_rd.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_rd.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_rd.rsi/icon-open.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_rd.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_rd.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_rd.rsi/open-equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_rd.rsi/open-equipped-OUTERCLOTHING.png
Labels: Changes: Sprites, No C#, S: Untriaged, size/XS

#1228 [Fix] Sheaths and sabers fix
  Resources/Prototypes/_Backmen/Catalog/Fills/Items/Belts/belts.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/Belt/belfs_rapier.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Melee/Rapier.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Melee/Rapier_mythistophel.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_Backmen/tags.yml
  Resources/Textures/Backmen/Clothing/Belt/belt_overlay.rsi/Katana.png
  Resources/Textures/Backmen/Clothing/Belt/belt_overlay.rsi/Wakizashi.png
  Resources/Textures/Backmen/Clothing/Belt/belt_overlay.rsi/meta.json
  Resources/migration.yml
Labels: Changes: Sprites, No C#

#1229 [Fix] Centcomm Cargo Fix
  Resources/Maps/Backmen/backmen_centcom.yml
  Resources/Prototypes/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/_Backmen/Entities/Stations/base.yml
Labels: Changes: Map, No C#, S: Untriaged

#1225 [Fix] Hristov Epileptic's Dream Fix
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: No C#

#1204 [Feature] Gib On Collide
  Content.Server/Backmen/GibOnCollide/Components/GibOnCollideComponent.cs
  Content.Server/Backmen/GibOnCollide/Events/GibOnCollideAttemptEvent.cs
  Content.Server/Backmen/GibOnCollide/Systems/GibOnCollideSystem.cs
  Content.Server/Backmen/Research/Oracle/OracleSystem.cs
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/structures/research/oracle.ftl
  Resources/Prototypes/_Backmen/Entities/Structures/Research/oracle.yml
  Resources/migration.yml
Labels: Changes: Localization, S: Untriaged, size/M

#1233 FIX (Gib On Collide #1204)
  Content.Server/Backmen/GibOnCollide/Systems/GibOnCollideSystem.cs
  Content.Server/Backmen/Research/Oracle/OracleSystem.cs
  Content.Server/Materials/MaterialReclaimerSystem.cs
Labels: S: Untriaged, size/S

#1237 rebell hotfix
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Shared/Backmen/Surgery/Conditions/SurgeryCloseIncisionConditionComponent.cs
  Content.Shared/Backmen/Surgery/Pain/Systems/PainSystem.Affliction.cs
  Content.Shared/Backmen/Surgery/SharedSurgerySystem.cs
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/_Backmen/Entities/Surgery/surgeries.yml
  Resources/Prototypes/_Backmen/Entities/Surgery/surgery_steps.yml
  Resources/Prototypes/_Backmen/Reagents/medicine.yml
Labels: S: Untriaged, size/S

#1238 hotfix
  Content.Server/Backmen/Shipwrecked/ShipwreckedRuleSystem.cs
  Content.Server/Procedural/DungeonSystem.Helpers.cs
  Content.Shared/Backmen/Surgery/Traumas/Systems/TraumaSystem.Organs.cs
  Content.Shared/Backmen/Surgery/Traumas/Systems/TraumaSystem.Process.cs
  Resources/Prototypes/_Backmen/GameRules/roundstart.yml
  Resources/Prototypes/_Backmen/Procedural/Shipwreck/shipwreck_destinations.yml
Labels: S: Untriaged, size/S

#1242 [Tweak] Boombox For Sponsors
  Resources/Prototypes/_Backmen/Loadouts/sponsor.yml
Labels: No C#, S: Untriaged

#1246 [Balance] Fear and Pizdec
  Resources/Prototypes/Corvax/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Corvax/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Corvax/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/Hands/colored.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/_Backmen/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_Backmen/Catalog/Fills/Lockers/supplypods.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Boxes/boxes.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/Anti-tankcartridge.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
  Resources/Prototypes/_Backmen/Loadouts/Jobs/CentCom/Blueshield.yml
  Resources/Prototypes/_Backmen/Loadouts/loadout_groups.yml
Labels: No C#, S: Untriaged, size/M

#1241 rebell day 2 patch
  Content.Client/Backmen/Surgery/Wounds/WoundableVisualsSystem.cs
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
  Content.IntegrationTests/Tests/Backmen/SpecForce/SpecForceTest.cs
  Content.Server/Backmen/Abilities/Psionics/Abilities/PsionicInvisibilityPowerSystem.cs
  Content.Server/Backmen/FootPrint/FootPrintsSystem.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/EntityEffects/Effects/HealthChange.cs
  Content.Server/EntityEffects/Effects/ModifyBleedAmount.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
  Content.Server/Medical/Components/HealingComponent.cs
  Content.Server/Medical/HealingSystem.cs
  Content.Shared/Backmen/Surgery/Consciousness/Systems/ConsciousnessSystem.Process.cs
  Content.Shared/Backmen/Surgery/Consciousness/Systems/ConsciousnessSystem.cs
  Content.Shared/Backmen/Surgery/Pain/Components/NerveSystemComponent.cs
  Content.Shared/Backmen/Surgery/Pain/Systems/PainSystem.Affliction.cs
  Content.Shared/Backmen/Surgery/Pain/Systems/PainSystem.Damage.cs
  Content.Shared/Backmen/Surgery/Traumas/Systems/TraumaSystem.Process.cs
  Content.Shared/Backmen/Surgery/Traumas/Systems/TraumaSystem.cs
  Content.Shared/Backmen/Surgery/Wounds/Systems/WoundSystem.Healing.cs
  Content.Shared/Backmen/Surgery/Wounds/Systems/WoundSystem.Wounding.cs
  Content.Shared/Backmen/Surgery/Wounds/Systems/WoundSystem.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/DoAfter/SharedDoAfterSystem.cs
  Content.Shared/Mobs/Systems/MobThresholdSystem.cs
  Content.Shared/Nutrition/EntitySystems/ThirstSystem.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Resources/Prototypes/Corvax/sponsor.yml
  Resources/Prototypes/Entities/Clothing/Eyes/base_clothingeyes.yml
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Head/eva-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hardhats.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/Entities/Clothing/Head/welding.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/TGMC_xeno.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/flesh_cult.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Player/combine.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Player/humanoids.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/demon.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/_Backmen/Entities/Surgery/surgery_steps.yml
  Resources/Prototypes/_Backmen/Entities/Surgery/wounds.yml
  Resources/Prototypes/_DeadSpace/Sponsor/wisdom.yml
Labels: Changes: UI, S: Untriaged, size/M

#1245 Station ai upd
  Content.Client/Backmen/StationAI/AICameraListBoundUserInterface.cs
  Content.Client/Backmen/StationAI/AICameraSystem.cs
  Content.Client/Backmen/StationAI/AiEnemySystem.cs
  Content.Client/Backmen/StationAI/UI/AICameraList.xaml
  Content.Client/Backmen/StationAI/UI/AICameraList.xaml.cs
  Content.Client/Backmen/StationAI/UI/CameraNavMapControl.cs
  Content.Server/Backmen/StationAI/AICameraSystem.cs
  Content.Server/Backmen/StationAI/AiEnemySystem.cs
  Content.Server/Backmen/StationAI/AiEyeMover.cs
  Content.Server/Fluids/EntitySystems/SmokeSystem.cs
  Content.Server/Procedural/DungeonSystem.Helpers.cs
  Content.Shared/Backmen/StationAI/Components/AICameraComponent.cs
  Content.Shared/Backmen/StationAI/Components/AIEnemyNTComponent.cs
  Content.Shared/Backmen/StationAI/Components/AIEyeComponent.cs
  Content.Shared/Backmen/StationAI/SharedAiEnemySystem.cs
  Content.Shared/Backmen/StationAI/UiKeys.cs
  Content.Shared/Backmen/Surgery/Wounds/Systems/WoundSystem.Wounding.cs
  Content.Shared/Backmen/Surgery/Wounds/WoundsSerializable.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Turrets/turrets_energy.yml
  Resources/Prototypes/_Backmen/Actions/ai.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/_Backmen/Procedural/dungeon_presets.yml
Labels: Changes: UI, S: Untriaged, size/M

#1252 [FIX] Слои одежды
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
Labels: No C#, S: Untriaged, size/XS

#1268 [Fix] RSI Test
  Resources/Textures/Effects/speech.rsi/meta.json
Labels: No C#, S: Untriaged, size/S

#1272 tweak barotrauma
  Content.Server/Atmos/EntitySystems/BarotraumaSystem.cs
  Content.Shared/Xenoarchaeology/Artifact/SharedXenoArtifactSystem.Graph.cs
  Resources/Prototypes/Body/Parts/base.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/guns64.yml
Labels: S: Untriaged, size/S
