Repository Rxup/space-station-14, pull requests merged in 2025-07, with the labels that each got.

#1387 fix upstream
  Content.Server/Backmen/Abilities/Psionics/Abilities/NoosphericZapPowerSystem.cs
  Content.Server/Backmen/Species/Shadowkin/Systems/ShadowkinPowerSystem.DarkSwap.cs
  Content.Server/Backmen/Species/Shadowkin/Systems/ShadowkinPowerSystem.Rest.cs
  Content.Server/Research/Systems/ResearchSystem.Client.cs
  Resources/Prototypes/Entities/Mobs/NPCs/living_light.yml
  Resources/Prototypes/_Backmen/Maps/Pool/backmenstandart.yml
Labels: Changes: Map, S: Untriaged, size/S

#1388 [FIX][TWEAK] Fix Lobby + SpentInGameMarker
  Content.Client/Lobby/LobbyState.cs
  Content.Client/Lobby/UI/LobbyGui.xaml
  Resources/Locale/ru-RU/lobby/lobby-state.ftl
Labels: Changes: UI, Changes: Localization, S: Untriaged

#1391 KRUTOY! hotfix
  Content.Client/Backmen/Standing/LayingDownSystem.cs
  Content.IntegrationTests/Tests/CargoTest.cs
  Content.Server/Audio/Jukebox/JukeboxSystem.cs
  Content.Server/Backmen/Administration/Bwoink/Gpt/GptAhelpSystem.cs
  Content.Server/Backmen/Administration/Commands/Toolshed/AddDiseaseCommand.cs
  Content.Server/Backmen/Administration/Commands/Toolshed/ChangeTTSCommand.cs
  Content.Server/Backmen/Standing/LayingDownSystem.cs
  Content.Server/Backmen/Surgery/Pain/Systems/ServerPainSystem.cs
  Content.Shared/Backmen/Standing/SharedLayingDownSystem.cs
  Content.Shared/Backmen/Surgery/Traumas/Systems/TraumaSystem.Process.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Resources/Locale/ru-RU/power/teg.ftl
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/_Backmen/Entities/Surgery/wounds.yml
  Resources/Prototypes/_Backmen/GameRules/events.yml
Labels: Changes: Localization, S: Untriaged, size/M

#1398 AirDrop visual fix
  Content.Client/Backmen/AirDrop/AirDropSystem.cs
  Content.Server/Backmen/AirDrop/AirDropSystem.cs
  Content.Server/Backmen/Speech/EntitySystems/ShadowkinAccentSystem.cs
  Content.Shared/Backmen/AirDrop/Components/AirDropComponent.cs
  Content.Shared/Backmen/AirDrop/SharedAirDropSystem.cs
  Resources/Prototypes/_Backmen/Maps/Pool/backmenstandart.yml
  Resources/Prototypes/_Lavaland/Entities/Objects/Devices/bosssummoner.yml
Labels: Changes: Map, size/M
